Repository emilk/egui, pull requests merged in 2023-08, with the labels that each got.

#3181 Separate text cursor from selection visuals
  crates/egui/src/style.rs
  crates/egui/src/widgets/text_edit/builder.rs
Labels: egui

#3171 Fix auto_bounds when only one axis has restricted navigation
  crates/egui/src/widgets/plot/mod.rs
Labels: plot

#2872 🏓 `egui-winit`: Document `State::on_event` from unconditionally consuming Tab keypresses
  crates/egui-winit/src/lib.rs
Labels: egui-winit

#3167 Fix panic with persistence without window
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/run.rs
Labels: eframe

#3150 Update GitHub Actions CI
  .github/workflows/rust.yml
  .github/workflows/typos.yml
Labels: CI

#3110 Provide `into_inner()` for `egui::mutex::{Mutex, RwLock}`
  crates/epaint/src/mutex.rs
Labels: egui, epaint

#3166 epaint: Add `ColorImage::from_gray`
  crates/epaint/src/image.rs
Labels: epaint

#3138 egui: Plot Arrows add method to specify tip_size
  crates/egui/src/widgets/plot/items/mod.rs
Labels: plot, egui

#3189 Fix typo in docstrings
  crates/egui_extras/src/strip.rs
Labels: docs and examples, egui_extras

#3207 fix depth texture init with multisampling
  crates/egui-wgpu/src/winit.rs
Labels: egui-wgpu

#3107 eframe: use window title as fallback when app_id is not set
  crates/eframe/src/native/epi_integration.rs
Labels: eframe

#3121 Add rotation feature to plot images
  crates/egui/src/widgets/plot/items/mod.rs
Labels: plot, egui

#2769 Added an example to save plot to image
  Cargo.lock
  examples/save_plot/Cargo.toml
  examples/save_plot/README.md
  examples/save_plot/src/main.rs
Labels: docs and examples

#3122 Fix the "ever-growing height" problem of Strip and Table demos
  crates/egui/src/containers/area.rs
  crates/egui_demo_lib/src/demo/strip_demo.rs
  crates/egui_demo_lib/src/demo/table_demo.rs
  crates/emath/src/rect.rs
Labels: docs and examples

#3221 Replace uses of `RangeInclusive<f32>` with `emath::Rangef`
  crates/egui/src/containers/panel.rs
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/frame_state.rs
  crates/egui/src/lib.rs
  crates/egui/src/painter.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/slider.rs
  crates/egui_extras/src/sizing.rs
  crates/egui_extras/src/table.rs
  crates/emath/src/align.rs
  crates/emath/src/lib.rs
  crates/emath/src/range.rs
  crates/emath/src/rect.rs
  crates/epaint/src/shape.rs
Labels: egui, emath

#3024 Document when Galleys get invalidated
  crates/epaint/src/text/text_layout_types.rs
Labels: docs and examples, epaint

#3223 Add `PlotUi::response()` to replace `plot_clicked()` etc
  crates/egui/src/widgets/plot/mod.rs
  crates/egui_demo_lib/src/demo/plot_demo.rs
Labels: plot

#3225 Refactor: change `ClippedShape` from struct-enum to a normal struct
  crates/egui/src/layers.rs
  crates/epaint/benches/benchmark.rs
  crates/epaint/src/lib.rs
  crates/epaint/src/stats.rs
  crates/epaint/src/tessellator.rs
Labels: epaint, refactor

#3224 Lint vertical spacing in the code
  .github/workflows/rust.yml
  CONTRIBUTING.md
  crates/eframe/src/lib.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/run.rs
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/data/input.rs
  crates/egui/src/grid.rs
  crates/egui/src/memory.rs
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui/src/widgets/plot/items/mod.rs
  crates/egui/src/widgets/plot/mod.rs
  crates/egui/src/widgets/slider.rs
  crates/egui_extras/src/image.rs
  crates/egui_extras/src/layout.rs
  crates/egui_extras/src/table.rs
  crates/epaint/src/tessellator.rs
  crates/epaint/src/text/font.rs
  crates/epaint/src/text/text_layout_types.rs
  crates/epaint/src/textures.rs
  scripts/lint.py
Labels: CI

#3233 Implement `Send + Sync` for `ColorPickerFn` and `Ui` (#3148)
  crates/egui/src/grid.rs
  crates/egui/src/ui.rs
Labels: egui

#3231 Fix crash in DragValue when only setting `min_decimals`
  crates/egui/src/widgets/drag_value.rs
Labels: bug, egui

#3236 Support multi-threaded Wasm
  Cargo.lock
  crates/epaint/Cargo.toml
  crates/epaint/src/mutex.rs
Labels: web, egui

#3237 Update to wasm-bindgen 0.2.87
  .github/workflows/rust.yml
  Cargo.lock
  crates/eframe/Cargo.toml
  crates/egui_demo_app/Cargo.toml
  scripts/build_demo_web.sh
  scripts/setup_web.sh
Labels: eframe, dependencies

#3239 eframe: Better restore Window position on Mac when on secondary monitor
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/run.rs
  crates/egui-winit/src/window_settings.rs
Labels: eframe

#3170 Update to `wgpu` 0.17.0
  Cargo.lock
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/egui-wgpu/Cargo.toml
  deny.toml
Labels: eframe, egui-wgpu, dependencies

#3238 Refactor: Clarify os detection
  crates/eframe/src/native/run.rs
  crates/egui_glium/examples/native_texture.rs
  crates/egui_glium/examples/pure_glium.rs
  crates/egui_glow/examples/pure_glow.rs
Labels: bug, eframe, native-windows

#3240 Change force to be Option<f32> instead of f32
  crates/eframe/src/web/input.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/data/input.rs
  crates/egui/src/input_state/touch_state.rs
Labels: eframe, egui

#3242 Add option to always open hyperlink in a new browser tab
  crates/egui/src/widgets/hyperlink.rs
Labels: egui

#3244 Add option to truncate text at wrap width
  crates/egui/src/widget_text.rs
  crates/egui/src/widgets/label.rs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
  crates/epaint/src/text/text_layout.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: text, egui, epaint

#2284 Draw axis labels and ticks outside of plotting window
  crates/egui/src/style.rs
  crates/egui/src/widgets/mod.rs
  crates/egui/src/widgets/plot/axis.rs
  crates/egui/src/widgets/plot/memory.rs
  crates/egui/src/widgets/plot/mod.rs
  crates/egui_demo_lib/src/demo/plot_demo.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
Labels: plot, egui

#3100 Add `TableBuilder::drag_to_scroll`
  crates/egui_extras/src/table.rs
Labels: egui_extras

#3118 Add `Window::drag-to-scroll`
  crates/egui/src/containers/window.rs
Labels: egui

#3252 Add `CollapsingState::remove` to clear stored state
  crates/egui/src/containers/collapsing_header.rs
Labels: egui

#3255 Improve "Reset everything" button in demo
  crates/egui_demo_app/src/wrap_app.rs
Labels: docs and examples, exclude from changelog

#3257 Support images with rounded corners
  crates/egui/src/containers/collapsing_header.rs
  crates/egui/src/containers/combo_box.rs
  crates/egui/src/containers/frame.rs
  crates/egui/src/painter.rs
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/image.rs
  crates/egui/src/widgets/plot/items/bar.rs
  crates/egui/src/widgets/plot/items/box_elem.rs
  crates/egui/src/widgets/plot/mod.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_demo_app/src/frame_history.rs
  crates/egui_demo_lib/src/demo/drag_and_drop.rs
  crates/egui_glium/examples/native_texture.rs
  crates/emath/src/rect.rs
  crates/epaint/src/mesh.rs
  crates/epaint/src/shape.rs
  crates/epaint/src/tessellator.rs
  examples/retained_image/src/crab.png
  examples/retained_image/src/main.rs
  examples/retained_image/src/rust-logo-256x256.png
  examples/retained_image/src/rust-logo-license.txt
Labels: egui, epaint

#3253 Improved wgpu callbacks
  Cargo.toml
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/renderer.rs
  crates/egui_demo_app/src/apps/custom3d_wgpu.rs
  crates/epaint/src/shape.rs
Labels: eframe, egui-wgpu

#3245 Add tooltip_delay option
  crates/egui/src/input_state.rs
  crates/egui/src/response.rs
  crates/egui/src/style.rs
Labels: egui

#3161 🧢 Expose `area::State`'s `Rect` in Memory
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/memory.rs
Labels: egui

#3241 Fix iOS support in `eframe`
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/run.rs
Labels: eframe

#3267 Added Context::is_context_menu_open()
  crates/egui/src/context.rs
  crates/egui/src/menu.rs
  crates/egui_demo_lib/src/demo/context_menu.rs
Labels: egui

#3271 Use the minus character instead of "dash"
  crates/egui/src/data/input.rs
  crates/egui/src/lib.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui/src/widgets/slider.rs
Labels: egui

#3273 Add `mime` field to `DroppedFile`
  crates/eframe/src/web/events.rs
  crates/egui/src/data/input.rs
  crates/egui_demo_app/src/wrap_app.rs
  examples/file_dialog/src/main.rs
Labels: feature, web, egui

#3182 Plot items: Image rotation and size in plot coordinates, polygon fill color
  crates/egui/src/widgets/plot/items/mod.rs
Labels: plot

#3183 Allow setting the progress bar height
  crates/egui/src/widgets/progress_bar.rs
Labels: egui

#3282 Break out plotting to own crate `egui_plot`
  .github/workflows/labels.yml
  ARCHITECTURE.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/egui/src/input_state.rs
  crates/egui/src/lib.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/mod.rs
  crates/egui_demo_lib/Cargo.toml
  crates/egui_demo_lib/src/demo/context_menu.rs
  crates/egui_demo_lib/src/demo/plot_demo.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
  crates/egui_plot/CHANGELOG.md
  crates/egui_plot/Cargo.toml
  crates/egui_plot/README.md
  crates/egui_plot/src/axis.rs
  crates/egui_plot/src/items/bar.rs
  crates/egui_plot/src/items/box_elem.rs
  crates/egui_plot/src/items/mod.rs
  crates/egui_plot/src/items/rect_elem.rs
  crates/egui_plot/src/items/values.rs
  crates/egui_plot/src/legend.rs
  crates/egui_plot/src/lib.rs
  crates/egui_plot/src/memory.rs
  crates/egui_plot/src/transform.rs
  crates/emath/Cargo.toml
  examples/save_plot/Cargo.toml
  examples/save_plot/src/main.rs
  scripts/generate_changelog.py
Labels: egui_plot, egui

#3285 egui-winit: Recognize numpad enter/plus/minus
  crates/egui-winit/src/lib.rs
Labels: eframe, egui-winit

#3286 Add `eframe::storage_dir`
  crates/eframe/src/epi/mod.rs
  crates/eframe/src/lib.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/file_storage.rs
  crates/egui_plot/src/lib.rs
Labels: eframe

#3272 Change focused widget with arrow keys
  crates/egui/src/memory.rs
  crates/emath/src/range.rs
Labels: egui
