Repository emilk/egui, pull requests merged in 2023-04, with the labels that each got.

#2901 Plot widget - allow disabling zoom and drag for x and y separately
  CHANGELOG.md
  crates/egui/src/widgets/plot/mod.rs
  crates/egui_demo_lib/src/demo/plot_demo.rs
Labels: plot, egui

#2927 eframe web: Persist app state to local storage when leaving site
  crates/eframe/src/web/backend.rs
  crates/eframe/src/web/events.rs
Labels: web, eframe

#2928 Replace `tracing` with `log`
  Cargo.lock
  bacon.toml
  crates/eframe/Cargo.toml
  crates/eframe/src/epi.rs
  crates/eframe/src/lib.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/file_storage.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/web/backend.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/screen_reader.rs
  crates/eframe/src/web/storage.rs
  crates/eframe/src/web/web_logger.rs
  crates/eframe/src/web/web_painter_glow.rs
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/Cargo.toml
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/renderer.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui-winit/Cargo.toml
  crates/egui-winit/src/clipboard.rs
  crates/egui-winit/src/lib.rs
  crates/egui/Cargo.toml
  crates/egui/src/os.rs
  crates/egui/src/util/id_type_map.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/apps/custom3d_glow.rs
  crates/egui_demo_app/src/lib.rs
  crates/egui_demo_app/src/main.rs
  crates/egui_demo_lib/Cargo.toml
  crates/egui_extras/Cargo.toml
  crates/egui_extras/src/lib.rs
  crates/egui_glow/Cargo.toml
  crates/egui_glow/examples/pure_glow.rs
  crates/egui_glow/src/lib.rs
  crates/egui_glow/src/painter.rs
  crates/egui_glow/src/shader_version.rs
  crates/egui_glow/src/vao.rs
  crates/egui_glow/src/winit.rs
  crates/epaint/Cargo.toml
  crates/epaint/src/texture_atlas.rs
  examples/hello_world/Cargo.toml
  examples/hello_world/src/main.rs
  examples/hello_world_simple/Cargo.toml
  examples/hello_world_simple/src/main.rs
  examples/keyboard_events/Cargo.toml
  examples/keyboard_events/src/main.rs
Labels: eframe, dependencies, egui

#2929 Remove dark-light dependency
  Cargo.lock
  crates/eframe/Cargo.toml
  crates/eframe/src/epi.rs
  crates/eframe/src/native/run.rs
  deny.toml
  scripts/cargo_deny.sh
Labels: eframe, dependencies

#2930 Only show id clash warnings in debug builds by default
  crates/egui/src/context.rs
  crates/egui/src/frame_state.rs
  crates/egui/src/memory.rs
  crates/egui_demo_lib/src/demo/tests.rs
Labels: feature, egui

#2914 use RawDisplayHandle for smithay clipboard init
  Cargo.lock
  crates/egui-winit/Cargo.toml
  crates/egui-winit/src/clipboard.rs
  crates/egui-winit/src/lib.rs
Labels: egui-winit

#2934 Use `env_logger` in all examples
  Cargo.lock
  crates/egui_demo_app/src/main.rs
  examples/confirm_exit/Cargo.toml
  examples/confirm_exit/src/main.rs
  examples/custom_3d_glow/Cargo.toml
  examples/custom_3d_glow/src/main.rs
  examples/custom_font/Cargo.toml
  examples/custom_font/src/main.rs
  examples/custom_font_style/Cargo.toml
  examples/custom_font_style/src/main.rs
  examples/custom_window_frame/Cargo.toml
  examples/custom_window_frame/src/main.rs
  examples/download_image/Cargo.toml
  examples/download_image/src/main.rs
  examples/file_dialog/Cargo.toml
  examples/file_dialog/src/main.rs
  examples/hello_world/src/main.rs
  examples/hello_world_par/Cargo.toml
  examples/hello_world_par/src/main.rs
  examples/hello_world_simple/src/main.rs
  examples/keyboard_events/src/main.rs
  examples/puffin_profiler/Cargo.toml
  examples/puffin_profiler/src/main.rs
  examples/retained_image/Cargo.toml
  examples/retained_image/src/main.rs
  examples/screenshot/Cargo.toml
  examples/screenshot/src/main.rs
  examples/serial_windows/Cargo.toml
  examples/serial_windows/src/main.rs
  examples/svg/Cargo.toml
  examples/svg/src/main.rs
  examples/user_attention/Cargo.toml
  examples/user_attention/src/main.rs
Labels: docs and examples

#2935 Return plot transforms
  crates/egui/src/widgets/plot/items/bar.rs
  crates/egui/src/widgets/plot/items/box_elem.rs
  crates/egui/src/widgets/plot/items/mod.rs
  crates/egui/src/widgets/plot/items/rect_elem.rs
  crates/egui/src/widgets/plot/mod.rs
  crates/egui/src/widgets/plot/transform.rs
  crates/egui_demo_lib/src/demo/plot_demo.rs
Labels: plot, egui

#2939 Fix: `request_repaint_after` works even when called from background thread
  .github/workflows/rust.yml
  Cargo.lock
  clippy.toml
  crates/eframe/src/native/run.rs
  crates/eframe/src/web/backend.rs
  crates/eframe/src/web/events.rs
  crates/egui/src/context.rs
  crates/egui/src/lib.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/backend_panel.rs
  crates/egui_demo_app/src/frame_history.rs
  scripts/build_demo_web.sh
  scripts/clippy_wasm.sh
  scripts/clippy_wasm/clippy.toml
Labels: bug, feature, eframe, egui

#2942 eframe web: Better panic handling
  crates/eframe/src/lib.rs
  crates/eframe/src/web/backend.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/text_agent.rs
  crates/egui_demo_app/src/backend_panel.rs
  crates/egui_demo_app/src/lib.rs
  crates/egui_demo_app/src/web.rs
  docs/index.html
  docs/multiple_apps.html
Labels: bug, web, eframe

#2884 wgpu 0.16
  Cargo.lock
  crates/eframe/Cargo.toml
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/Cargo.toml
  crates/egui-wgpu/src/renderer.rs
  crates/egui-wgpu/src/winit.rs
  deny.toml
Labels: egui-wgpu

#2949 Enable egui-winit to support wasm target
  crates/egui-winit/Cargo.toml
Labels: web, egui-winit

#2945 Make egui work on WebGPU out of the box.
  Cargo.lock
  crates/eframe/CHANGELOG.md
  crates/eframe/Cargo.toml
  crates/eframe/src/epi/mod.rs
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/src/lib.rs
  scripts/build_demo_web.sh
Labels: eframe

#2951 [egui-wgpu] Device configuration is now dependent on adapter
  crates/eframe/src/epi/mod.rs
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/winit.rs
Labels: egui-wgpu

#2954 [wgpu] Expose wgpu::Adapter via RenderState
  Cargo.lock
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/eframe/src/epi/mod.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/Cargo.toml
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/winit.rs
Labels: egui-wgpu
