Repository emilk/egui, pull requests merged in 2023-07, with the labels that each got.

#3139 eframe: sleep a bit only when minimized
  crates/eframe/src/native/run.rs
Labels: eframe

#3144 Update to puffin 0.16
  Cargo.lock
  crates/eframe/Cargo.toml
  crates/egui-wgpu/Cargo.toml
  crates/egui-winit/Cargo.toml
  crates/egui_glow/Cargo.toml
  examples/puffin_profiler/Cargo.toml
Labels: eframe, egui-winit, egui_glow, egui-wgpu, dependencies

#3133 Plot demo spelling fix
  crates/egui_demo_lib/src/demo/plot_demo.rs
Labels: docs and examples

#3113 Use cfg attribute
  crates/eframe/src/native/run.rs
Labels: eframe

#3173 Fix TextEdit's character limit
  crates/egui/src/widgets/text_edit/builder.rs
Labels: bug, egui

#3186 Set the correct unicode character for "ctrl" shortcuts
  crates/egui/src/data/input.rs
Labels: bug, egui
