Repository emilk/egui, pull requests merged in 2023-12, with the labels that each got.

#3646 Make glow Send + Sync again.
  crates/eframe/src/epi.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/web/web_painter_glow.rs
  crates/egui_glow/examples/pure_glow.rs
  crates/egui_glow/src/painter.rs
  crates/egui_glow/src/winit.rs
Labels: eframe, egui_glow

#3671 Log all available wgpu adapters during startup
  crates/egui-wgpu/src/lib.rs
Labels: egui-wgpu, exclude from changelog

#3678 Simplify `egui_winit::State`
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-winit/src/lib.rs
  crates/egui_glow/examples/pure_glow.rs
  crates/egui_glow/src/winit.rs
Labels: egui-winit, refactor

#3692 Remove deprecated functions
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/collapsing_header.rs
  crates/egui/src/containers/frame.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/context.rs
  crates/egui/src/data/input.rs
  crates/egui/src/data/output.rs
  crates/egui/src/id.rs
  crates/egui/src/memory.rs
  crates/egui/src/painter.rs
  crates/egui/src/util/id_type_map.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_extras/src/image.rs
  crates/egui_extras/src/table.rs
  crates/egui_glow/src/painter.rs
  crates/egui_plot/src/items/mod.rs
  crates/egui_plot/src/lib.rs
  crates/emath/src/rect.rs
  crates/epaint/src/shape.rs
  crates/epaint/src/stroke.rs
Labels: egui_plot, egui_glow, egui, egui_extras, epaint, emath

#3700 Update dependencies
  Cargo.lock
  Cargo.toml
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_lib/Cargo.toml
  crates/epaint/Cargo.toml
  deny.toml
  examples/confirm_exit/Cargo.toml
  examples/custom_3d_glow/Cargo.toml
  examples/custom_font/Cargo.toml
  examples/custom_font_style/Cargo.toml
  examples/custom_window_frame/Cargo.toml
  examples/file_dialog/Cargo.toml
  examples/hello_world/Cargo.toml
  examples/hello_world_par/Cargo.toml
  examples/hello_world_simple/Cargo.toml
  examples/images/Cargo.toml
  examples/keyboard_events/Cargo.toml
  examples/multiple_viewports/Cargo.toml
  examples/puffin_profiler/Cargo.toml
  examples/save_plot/Cargo.toml
  examples/screenshot/Cargo.toml
  examples/serial_windows/Cargo.toml
  examples/test_inline_glow_paint/Cargo.toml
  examples/test_viewports/Cargo.toml
  examples/user_attention/Cargo.toml
Labels: docs and examples, dependencies, exclude from changelog

#3694 derive serde Serialize and Deserialize on `KeyboardShortcut`
  crates/egui/src/data/input.rs
Labels: feature, egui

#3713 Bug fix: framebuffer clear when using glow with multi-viewports
  crates/eframe/src/native/glow_integration.rs
Labels: bug, eframe

#3649 Update to winit 0.29
  .typos.toml
  Cargo.lock
  crates/eframe/Cargo.toml
  crates/eframe/src/epi.rs
  crates/eframe/src/lib.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/native/winit_integration.rs
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/input.rs
  crates/eframe/src/web/text_agent.rs
  crates/egui-wgpu/Cargo.toml
  crates/egui-winit/Cargo.toml
  crates/egui-winit/src/lib.rs
  crates/egui/src/data/input.rs
  crates/egui/src/data/output.rs
  crates/egui/src/viewport.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_extras/Cargo.toml
  crates/egui_extras/src/image.rs
  crates/egui_extras/src/loaders/svg_loader.rs
  crates/egui_glow/Cargo.toml
  crates/egui_glow/examples/pure_glow.rs
  crates/egui_glow/src/winit.rs
  deny.toml
  examples/multiple_viewports/Cargo.toml
Labels: eframe, egui-winit, dependencies

#3715 Update to glow 0.13
  Cargo.lock
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/eframe/src/native/glow_integration.rs
  crates/egui_glow/Cargo.toml
  crates/egui_glow/examples/pure_glow.rs
  deny.toml
Labels: egui_glow

#3693 Very small typo fix
  crates/eframe/src/epi.rs
Labels: typo

#3717 `eframe`: If both `glow` and `wgpu` features are enabled, default to `wgpu`
  crates/eframe/src/epi.rs
Labels: eframe

#3722 Fix plot auto-bounds unset by default
  crates/egui_plot/src/lib.rs
Labels: bug, egui_plot

#3719 Update resvg dependency of egui_extras
  Cargo.lock
  crates/egui/src/load.rs
  crates/egui_extras/Cargo.toml
  crates/egui_extras/src/image.rs
  crates/egui_extras/src/loaders/svg_loader.rs
  deny.toml
Labels: dependencies, egui_extras

#3711 Add @Bromeon and @EmbersArc as CODEOWNERS for egui_plot
  CODEOWNERS
  crates/egui_plot/Cargo.toml
Labels: egui_plot

#3727 Replace a special `Color32::PLACEHOLDER` with widget fallback color
  crates/ecolor/src/color32.rs
  crates/egui/src/containers/collapsing_header.rs
  crates/egui/src/containers/combo_box.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/menu.rs
  crates/egui/src/painter.rs
  crates/egui/src/ui.rs
  crates/egui/src/widget_text.rs
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/hyperlink.rs
  crates/egui/src/widgets/label.rs
  crates/egui/src/widgets/progress_bar.rs
  crates/egui/src/widgets/selected_label.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_demo_app/src/apps/http_app.rs
  crates/egui_demo_lib/benches/benchmark.rs
  crates/egui_plot/src/axis.rs
  crates/egui_plot/src/items/mod.rs
  crates/egui_plot/src/legend.rs
  crates/epaint/src/shape.rs
  crates/epaint/src/tessellator.rs
  crates/epaint/src/text/fonts.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: egui, epaint

#3721 Fix `Window` positioning bug when bad `pivot` is stored in app data
  crates/egui/src/containers/area.rs
Labels: bug, egui

#3723 Fix: `Grid` now follows `style.visuals.striped` setting if not explicitly overwritten
  crates/egui/src/grid.rs
Labels: bug, egui

#3720 Add support for dashed lines with offset
  crates/epaint/src/shape.rs
Labels: epaint

#3737 impl `Clone` for `Fonts`
  .vscode/settings.json
  crates/epaint/src/text/fonts.rs
Labels: egui, epaint

#3733 Fix: Let `accesskit` process window events
  crates/egui-winit/src/lib.rs
Labels: bug, eframe, accessibility, egui-winit

#3725 Add `Key::Cut`, `Key::Copy`, `Key::Paste`
  crates/egui-winit/src/lib.rs
  crates/egui/src/data/input.rs
Labels: eframe, egui-winit, egui

#3744 Fix text color of disabled widgets
  crates/egui/src/painter.rs
  crates/epaint/src/shape_transform.rs
Labels: egui, epaint, exclude from changelog

#3749 Add missing `ResizeDirection::East`
  crates/egui-winit/src/lib.rs
  crates/egui/src/viewport.rs
Labels: egui

#3750 Fix crash due to assertion during image loading from http
  crates/egui_extras/src/loaders/ehttp_loader.rs
Labels: bug, egui_extras

#3751 Rename `TextBuffer::replace` to `replace_with`
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui/src/widgets/text_edit/text_buffer.rs
Labels: egui

#3754 Fix some clippy 1.75 lints
  crates/ecolor/src/lib.rs
  crates/egui-wgpu/src/lib.rs
  crates/egui/src/id.rs
  crates/egui_demo_app/src/main.rs
  crates/egui_demo_lib/src/lib.rs
  crates/egui_extras/src/syntax_highlighting.rs
Labels: exclude from changelog

#3757 `eframe`: Fix building the `wasm32` docs for `docs.rs`
  crates/eframe/Cargo.toml
  crates/eframe/src/lib.rs
Labels: eframe, docs and examples
