Repository emilk/egui, pull requests merged in 2023-11, with the labels that each got.

#3518 Update ahash 0.8.3 -> 0.8.6
  Cargo.lock
Labels: dependencies, exclude from changelog

#3539 Floating scroll bars
  crates/egui/src/animation_manager.rs
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/style.rs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
  crates/egui_demo_lib/src/demo/scrolling.rs
  crates/egui_extras/src/table.rs
  crates/emath/src/rect.rs
  crates/emath/src/vec2.rs
  crates/epaint/src/tessellator.rs
Labels: feature, egui

#3459 Fix some typos
  crates/egui/src/response.rs
  crates/egui_plot/src/lib.rs
Labels: typo

#3424 Fix upside down slider in the vertical orientation
  crates/egui/src/widgets/slider.rs
  crates/emath/src/range.rs
Labels: bug, egui

#3488 Make slider step account for range start
  crates/egui/src/widgets/slider.rs
Labels: bug, egui

#3514 Fix typo in PR template
  .github/pull_request_template.md
Labels: typo

#3475 Update accesskit and accesskit_winit.
  .github/workflows/rust.yml
  Cargo.lock
  crates/egui-winit/Cargo.toml
  crates/egui/Cargo.toml
  crates/egui/src/context.rs
  crates/egui/src/id.rs
  crates/egui/src/response.rs
  crates/egui/src/widgets/text_edit/builder.rs
Labels: dependencies

#3531 Fix rounding of `ImageButton`
  crates/egui/src/widgets/button.rs
Labels: bug, egui

#3421 Fix typo in docstring
  crates/egui/src/response.rs
Labels: typo

#3438 Fix inconsistent naming of constrain_to versus constraint_to
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/window.rs
Labels: egui

#3478 egui: add redo support to Undoer
  crates/egui/src/util/undoer.rs
  crates/egui/src/widgets/text_edit/builder.rs
Labels: egui

#3420 Use `impl Into<Stroke>` as argument in a few more places
  crates/egui/src/containers/frame.rs
  crates/egui/src/containers/resize.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/painter.rs
  crates/emath/src/vec2.rs
  crates/epaint/src/mutex.rs
Labels: epaint

#3441 Fix broken doc links in the demo app widget gallery
  crates/egui_demo_lib/src/demo/widget_gallery.rs
Labels: docs and examples

#3498 Fix Shift+Tab behavior when no widget is focused
  crates/egui/src/memory.rs
Labels: egui

#3535 Taking over egui_glium
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  crates/egui_glium/CHANGELOG.md
  crates/egui_glium/Cargo.toml
  crates/egui_glium/README.md
  crates/egui_glium/examples/native_texture.rs
  crates/egui_glium/examples/pure_glium.rs
  crates/egui_glium/src/lib.rs
  crates/egui_glium/src/painter.rs
  crates/egui_glium/src/shader/fragment_100es.glsl
  crates/egui_glium/src/shader/fragment_120.glsl
  crates/egui_glium/src/shader/fragment_140.glsl
  crates/egui_glium/src/shader/fragment_300es.glsl
  crates/egui_glium/src/shader/vertex_100es.glsl
  crates/egui_glium/src/shader/vertex_120.glsl
  crates/egui_glium/src/shader/vertex_140.glsl
  crates/egui_glium/src/shader/vertex_300es.glsl
Labels: native-glium

#3442 Fix Table stripe pattern when combining row() and rows()
  crates/egui_extras/src/table.rs
Labels: egui_extras

#3543 Add `emath::Vec2b`, replacing `egui_plot::AxisBools`
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/lib.rs
  crates/egui_demo_app/src/apps/custom3d_glow.rs
  crates/egui_demo_app/src/apps/custom3d_wgpu.rs
  crates/egui_demo_app/src/apps/http_app.rs
  crates/egui_demo_app/src/apps/image_viewer.rs
  crates/egui_demo_app/src/wrap_app.rs
  crates/egui_demo_lib/src/demo/context_menu.rs
  crates/egui_demo_lib/src/demo/plot_demo.rs
  crates/egui_demo_lib/src/demo/scrolling.rs
  crates/egui_demo_lib/src/demo/text_layout.rs
  crates/egui_demo_lib/src/demo/window_options.rs
  crates/egui_extras/src/table.rs
  crates/egui_plot/src/lib.rs
  crates/emath/src/lib.rs
  crates/emath/src/vec2b.rs
  examples/images/src/main.rs
  examples/keyboard_events/src/main.rs
Labels: egui_plot, egui, emath

#3544 Replace `Id::null()` with `Id::NULL`
  crates/egui/src/containers/popup.rs
  crates/egui/src/id.rs
  crates/egui/src/widgets/color_picker.rs
  crates/egui_extras/src/syntax_highlighting.rs
  crates/egui_plot/src/lib.rs
  crates/emath/src/lib.rs
Labels: egui, refactor

#3505 Updated to latest wgpu (0.18.0)
  Cargo.lock
  Cargo.toml
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui/Cargo.toml
  deny.toml
Labels: egui-wgpu, dependencies

#3434 egui: fix scroll not sticking when scrollbar is hidden
  crates/egui/src/containers/scroll_area.rs
Labels: bug, egui

#3172 Multiple viewports/windows
  Cargo.lock
  crates/eframe/src/epi/mod.rs
  crates/eframe/src/lib.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/Cargo.toml
  crates/egui-wgpu/src/winit.rs
  crates/egui-winit/Cargo.toml
  crates/egui-winit/src/clipboard.rs
  crates/egui-winit/src/lib.rs
  crates/egui-winit/src/window_settings.rs
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/combo_box.rs
  crates/egui/src/containers/panel.rs
  crates/egui/src/containers/popup.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/context.rs
  crates/egui/src/data/input.rs
  crates/egui/src/data/output.rs
  crates/egui/src/id.rs
  crates/egui/src/input_state.rs
  crates/egui/src/layers.rs
  crates/egui/src/lib.rs
  crates/egui/src/load.rs
  crates/egui/src/memory.rs
  crates/egui/src/viewport.rs
  crates/egui_demo_lib/benches/benchmark.rs
  crates/egui_demo_lib/src/lib.rs
  crates/egui_glow/examples/pure_glow.rs
  crates/egui_glow/src/lib.rs
  crates/egui_glow/src/painter.rs
  crates/egui_glow/src/winit.rs
  crates/epaint/src/image.rs
  examples/multiple_viewports/Cargo.toml
  examples/multiple_viewports/README.md
  examples/multiple_viewports/src/main.rs
  examples/test_viewports/Cargo.toml
  examples/test_viewports/README.md
  examples/test_viewports/src/main.rs
  scripts/check.sh
Labels: feature, eframe, egui

#3537 Max window size & other size helpers
  crates/egui/src/containers/resize.rs
  crates/egui/src/containers/window.rs
Labels: egui

#3557 Add `#[inline]` to all builder-pattern functions
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/collapsing_header.rs
  crates/egui/src/containers/combo_box.rs
  crates/egui/src/containers/frame.rs
  crates/egui/src/containers/panel.rs
  crates/egui/src/containers/resize.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/grid.rs
  crates/egui/src/menu.rs
  crates/egui/src/response.rs
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui/src/widgets/hyperlink.rs
  crates/egui/src/widgets/label.rs
  crates/egui/src/widgets/progress_bar.rs
  crates/egui/src/widgets/separator.rs
  crates/egui/src/widgets/slider.rs
  crates/egui/src/widgets/spinner.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_extras/src/datepicker/button.rs
  crates/egui_extras/src/image.rs
  crates/egui_extras/src/sizing.rs
  crates/egui_extras/src/strip.rs
  crates/egui_extras/src/table.rs
  crates/egui_plot/src/axis.rs
  crates/egui_plot/src/items/bar.rs
  crates/egui_plot/src/items/box_elem.rs
  crates/egui_plot/src/items/mod.rs
  crates/egui_plot/src/legend.rs
  crates/egui_plot/src/lib.rs
  crates/emath/src/rect.rs
  scripts/lint.py
Labels: performance, egui

#3558 Fix clippy issues from 1.74
  crates/egui/src/context.rs
  crates/egui/src/util/id_type_map.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_extras/src/loaders/ehttp_loader.rs
  crates/egui_extras/src/loaders/file_loader.rs
  crates/egui_extras/src/loaders/image_loader.rs
  crates/egui_extras/src/loaders/svg_loader.rs
  crates/epaint/src/util/ordered_float.rs
Labels: refactor, exclude from changelog

#3559 CI: Add workflow to publish web-demo to `gh-pages` branch on each PR
  .github/workflows/deploy_web_demo.yml
Labels: web, docs and examples, CI

#3561 Update hyperlink doc
  crates/eframe/src/web/input.rs
  crates/egui/src/ui.rs
  crates/emath/src/range.rs
Labels: docs and examples, egui, typo

#3564 Replace `eframe::Frame` commands and `WindowInfo` with egui
  crates/eframe/src/epi/mod.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/web/app_runner.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/context.rs
  crates/egui/src/data/input.rs
  crates/egui/src/data/output.rs
  crates/egui/src/gui_zoom.rs
  crates/egui/src/input_state.rs
  crates/egui/src/memory.rs
  crates/egui/src/viewport.rs
  crates/egui_demo_app/src/backend_panel.rs
  crates/egui_demo_app/src/wrap_app.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/extra_viewport.rs
  crates/egui_demo_lib/src/demo/mod.rs
  crates/egui_glow/src/winit.rs
  crates/emath/src/pos2.rs
  crates/emath/src/rect.rs
  examples/confirm_exit/src/main.rs
  examples/custom_window_frame/src/main.rs
  examples/multiple_viewports/src/main.rs
  examples/save_plot/src/main.rs
  examples/screenshot/src/main.rs
  examples/serial_windows/src/main.rs
  examples/test_viewports/src/main.rs
  examples/user_attention/src/main.rs
  scripts/check.sh
Labels: eframe, egui

#3567 Mention that the trace! macro was removed in the 0.23.0 changelog
  CHANGELOG.md
Labels: docs and examples, egui

#3572 Use `egui::ViewportBuilder` in `eframe::NativeOptions`
  .vscode/settings.json
  crates/eframe/src/epi.rs
  crates/eframe/src/epi/icon_data.rs
  crates/eframe/src/icon_data.rs
  crates/eframe/src/lib.rs
  crates/eframe/src/native/app_icon.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/file_storage.rs
  crates/eframe/src/native/run.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/viewport.rs
  crates/egui_demo_app/src/main.rs
  examples/confirm_exit/src/main.rs
  examples/custom_3d_glow/src/main.rs
  examples/custom_font/src/main.rs
  examples/custom_window_frame/src/main.rs
  examples/file_dialog/src/main.rs
  examples/hello_world/src/main.rs
  examples/hello_world_par/src/main.rs
  examples/hello_world_simple/src/main.rs
  examples/images/src/main.rs
  examples/multiple_viewports/src/main.rs
  examples/save_plot/src/main.rs
  examples/serial_windows/src/main.rs
  examples/test_viewports/src/main.rs
  examples/user_attention/src/main.rs
Labels: eframe, egui

#3574 eframe: Remove warm-starting
  crates/eframe/src/epi.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/web_runner.rs
Labels: eframe

#3575 Refactor: move code around in `eframe`
  crates/eframe/src/epi.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/mod.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/native/winit_integration.rs
Labels: eframe, refactor, exclude from changelog

#3580 Fix egui-wgpu performance regression
  crates/eframe/Cargo.toml
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/native/winit_integration.rs
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/renderer.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui-winit/src/lib.rs
  crates/egui-winit/src/window_settings.rs
  crates/egui/src/context.rs
  crates/egui_glow/examples/pure_glow.rs
  crates/egui_glow/src/winit.rs
Labels: egui-wgpu, exclude from changelog

#3581 Update to puffin 0.17
  Cargo.lock
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/egui-wgpu/Cargo.toml
  crates/egui-winit/Cargo.toml
  crates/egui/Cargo.toml
  crates/egui_extras/Cargo.toml
  crates/egui_glow/Cargo.toml
  examples/puffin_profiler/Cargo.toml
Labels: eframe, dependencies, egui

#3591 Fix closing of viewports
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/context.rs
  crates/egui/src/data/input.rs
  crates/egui/src/viewport.rs
  crates/egui_demo_lib/src/demo/extra_viewport.rs
  crates/egui_glow/src/winit.rs
  examples/multiple_viewports/src/main.rs
Labels: egui, exclude from changelog

#3593 CentralPanel: base id on the current viewport
  crates/egui/src/containers/panel.rs
  crates/egui_demo_lib/src/demo/extra_viewport.rs
  examples/test_viewports/src/main.rs
Labels: egui, exclude from changelog

#3577 Properly reverse bool animation if value changes before it's finished
  crates/egui/src/animation_manager.rs
Labels: egui

#3587 Plot auto-bounds API improvement (part 1/2): clean-up
  crates/egui_plot/src/lib.rs
  crates/emath/src/vec2b.rs
Labels: egui_plot, rerun

#3429 Allow changing handle shape of a slider
  crates/egui/src/style.rs
  crates/egui/src/widgets/slider.rs
  crates/egui_demo_lib/src/demo/sliders.rs
Labels: egui

#3586 Plot auto-bounds API improvement (part 2/2): add API
  crates/egui_plot/src/lib.rs
Labels: egui_plot, rerun

#3590 Fix TopBottomPanel doc comment to reference TopBottomPanel instead of SidePanel
  crates/egui/src/containers/panel.rs
Labels: docs and examples, typo

#3513 Fix copy and cut on Safari
  crates/eframe/src/web/events.rs
Labels: web, eframe

#3594 Update some crate dependencies
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/egui-winit/Cargo.toml
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/web.rs
  crates/egui_demo_lib/Cargo.toml
  crates/egui_glow/Cargo.toml
  scripts/setup_web.sh
Labels: dependencies, exclude from changelog

#3598 Change `Arc<glow::Context>` to `Rc<glow::Context>`
  crates/eframe/src/epi.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/web/web_painter_glow.rs
  crates/egui_glow/examples/pure_glow.rs
  crates/egui_glow/src/painter.rs
  crates/egui_glow/src/winit.rs
Labels: egui_glow

#3595 Update MSRV to Rust 1.72
  .github/workflows/deploy_web_demo.yml
  .github/workflows/rust.yml
  Cargo.toml
  Cranky.toml
  clippy.toml
  crates/ecolor/Cargo.toml
  crates/eframe/Cargo.toml
  crates/eframe/src/native/glow_integration.rs
  crates/egui-wgpu/Cargo.toml
  crates/egui-wgpu/src/renderer.rs
  crates/egui-winit/Cargo.toml
  crates/egui/Cargo.toml
  crates/egui/src/style.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_lib/Cargo.toml
  crates/egui_extras/Cargo.toml
  crates/egui_glow/Cargo.toml
  crates/egui_glow/src/misc_util.rs
  crates/egui_glow/src/painter.rs
  crates/egui_glow/src/vao.rs
  crates/egui_plot/Cargo.toml
  crates/egui_plot/src/items/mod.rs
  crates/egui_plot/src/items/values.rs
  crates/egui_plot/src/lib.rs
  crates/emath/Cargo.toml
  crates/epaint/Cargo.toml
  crates/epaint/src/tessellator.rs
  crates/epaint/src/text/font.rs
  examples/confirm_exit/Cargo.toml
  examples/custom_3d_glow/Cargo.toml
  examples/custom_font/Cargo.toml
  examples/custom_font_style/Cargo.toml
  examples/custom_window_frame/Cargo.toml
  examples/file_dialog/Cargo.toml
  examples/hello_world/Cargo.toml
  examples/hello_world_par/Cargo.toml
  examples/hello_world_simple/Cargo.toml
  examples/images/Cargo.toml
  examples/keyboard_events/Cargo.toml
  examples/multiple_viewports/Cargo.toml
  examples/puffin_profiler/Cargo.toml
  examples/save_plot/Cargo.toml
  examples/screenshot/Cargo.toml
  examples/serial_windows/Cargo.toml
  examples/test_viewports/Cargo.toml
  examples/user_attention/Cargo.toml
  rust-toolchain
  scripts/clippy_wasm/clippy.toml
Labels: eframe, egui-winit, egui_plot, egui_glow, egui-wgpu, egui, ecolor, egui_extras, epaint

#3600 Update puffin to 0.18
  Cargo.lock
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/egui/src/lib.rs
  crates/egui_demo_lib/src/lib.rs
  crates/egui_extras/src/lib.rs
  crates/egui_glow/Cargo.toml
  crates/emath/src/lib.rs
  crates/epaint/src/lib.rs
  examples/puffin_profiler/Cargo.toml
Labels: eframe, dependencies, egui

#3601 eframe: update the maximized/minimized viewport state each frame
  crates/egui-winit/src/lib.rs
Labels: eframe

#3607 Refactor viewport ids in eframe
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/context.rs
  crates/egui/src/data/input.rs
  crates/egui/src/input_state.rs
  crates/egui/src/memory.rs
  crates/egui_glow/src/winit.rs
Labels: eframe, exclude from changelog

#3608 Introduce global `zoom_factor`
  Cargo.lock
  clippy.toml
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/native/winit_integration.rs
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/backend.rs
  crates/egui-winit/src/lib.rs
  crates/egui-winit/src/window_settings.rs
  crates/egui/src/context.rs
  crates/egui/src/data/input.rs
  crates/egui/src/gui_zoom.rs
  crates/egui/src/input_state.rs
  crates/egui/src/memory.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/backend_panel.rs
  crates/egui_demo_app/src/main.rs
  crates/egui_demo_app/src/wrap_app.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_glow/src/winit.rs
  examples/puffin_profiler/Cargo.toml
  examples/puffin_profiler/src/main.rs
  examples/test_viewports/src/main.rs
  scripts/check.sh
  scripts/clippy_wasm.sh
Labels: egui

#3603 Keep unsafe code forbidden when puffin is disabled
  crates/egui/src/lib.rs
  crates/egui_demo_lib/src/lib.rs
  crates/egui_extras/src/lib.rs
  crates/emath/src/lib.rs
  crates/epaint/src/lib.rs
Labels: exclude from changelog

#3604 PaintCallbackInfo::viewport_in_pixels now guarantees to stay in bounds
  crates/egui-wgpu/src/renderer.rs
  crates/egui_glow/src/painter.rs
  crates/epaint/src/shape.rs
Labels: bug, epaint

#3613 macOS `ViewportBuilder` tweaks
  crates/eframe/CHANGELOG.md
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/viewport.rs
  examples/custom_window_frame/src/main.rs
Labels: eframe, egui, exclude from changelog

#3614 Fix up some examples
  crates/eframe/CHANGELOG.md
  crates/eframe/src/epi.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/context.rs
  crates/egui/src/data/input.rs
  crates/egui/src/memory.rs
  crates/egui/src/viewport.rs
  examples/confirm_exit/src/main.rs
  examples/file_dialog/src/main.rs
  examples/images/src/main.rs
  examples/puffin_profiler/src/main.rs
  examples/run_all.sh
  examples/serial_windows/src/main.rs
  examples/test_viewports/src/main.rs
Labels: docs and examples, exclude from changelog

#3621 Fix click-to-copy on Safari
  crates/eframe/src/web/events.rs
Labels: bug, web, eframe

#3623 eframe web: Don't throw away frames on click/copy/cut
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/backend.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/web_runner.rs
Labels: bug, web, eframe

#3640 eframe: Fix clicks in web
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/events.rs
Labels: web, eframe, exclude from changelog

#3631 eframe: Fix window flashing white on launch
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
Labels: bug, eframe, native-windows

#3643 Fix windowing problems when using the `x11` feature on Linux
  crates/egui-winit/src/lib.rs
Labels: bug, eframe, egui-winit, native-linux

#3644 Update to wasm-bindgen 0.2.89
  Cargo.lock
  crates/egui_demo_app/Cargo.toml
  scripts/setup_web.sh
Labels: dependencies, exclude from changelog

#3651 Remove dependency on `tts`
  Cargo.lock
  crates/eframe/Cargo.toml
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/screen_reader.rs
  crates/egui/src/memory.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/backend_panel.rs
  scripts/wasm_bindgen_check.sh
Labels: eframe, dependencies

#3599 egui_extras: Add more years for datepicker
  crates/egui_extras/src/datepicker/popup.rs
Labels: egui_extras

#3663 Improve multi-viewports across monitors with different scales
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/viewport.rs
  crates/egui_glow/src/winit.rs
  crates/epaint/src/util/ordered_float.rs
  examples/test_viewports/src/main.rs
Labels: bug, eframe, viewports
