Repository emilk/egui, pull requests merged in 2023-05, with the labels that each got.

#2978 Add `emath::Rangef` and helpers for splitting a `Rect`
  crates/emath/src/lib.rs
  crates/emath/src/pos2.rs
  crates/emath/src/range.rs
  crates/emath/src/rect.rs
Labels: feature, emath

#2979 Add `Pointer::is_decidedly_dragging` and `could_any_button_be_click`
  crates/eframe/src/native/epi_integration.rs
  crates/egui/src/input_state.rs
  crates/egui/src/memory.rs
Labels: egui

#2981 Show alt key on Mac as `"Option"`, not `"Alt"`
  crates/egui/src/data/input.rs
Labels: egui

#2989 Add `egui::Modifiers::contains`
  crates/egui/src/data/input.rs
Labels: egui

#2996 Set a default icon for all eframe apps: a white `e` on black background
  crates/eframe/Cargo.toml
  crates/eframe/data/icon.png
  crates/eframe/src/epi/mod.rs
  crates/egui_demo_app/src/main.rs
  media/icon.png
Labels: feature, eframe

#3012 Update accesskit to 0.11
  ARCHITECTURE.md
  CONTRIBUTING.md
  Cargo.lock
  crates/egui-winit/Cargo.toml
  crates/egui/Cargo.toml
  scripts/build_demo_web.sh
  scripts/start_server.sh
Labels: eframe, dependencies

#2993 chore: disable default feature for chrono
  crates/egui_demo_app/Cargo.toml
  crates/egui_extras/Cargo.toml
Labels: dependencies, egui_extras

#2988 Mention `store` in `TextEditState` doc comment
  crates/egui/src/widgets/text_edit/state.rs
Labels: docs and examples, egui

#2998 Fix documentation for TextureId::Managed(0)
  crates/epaint/src/lib.rs
Labels: docs and examples, epaint

#3007 Add an optional app_id field to eframe's NativeOptions for Wayland
  crates/eframe/CHANGELOG.md
  crates/eframe/src/epi/mod.rs
  crates/eframe/src/native/epi_integration.rs
Labels: eframe

#3015 Fix --no-default-features
  crates/eframe/src/lib.rs
Labels: eframe, CI

#3018 cargo update
  Cargo.lock
  crates/eframe/Cargo.toml
  crates/egui-wgpu/Cargo.toml
  crates/egui-winit/Cargo.toml
  crates/egui_glow/Cargo.toml
  deny.toml
  examples/puffin_profiler/Cargo.toml
Labels: dependencies

#3019 Check `egui_extras --all-features` on CI
  .github/workflows/rust.yml
  crates/egui_extras/Cargo.toml
Labels: CI, egui_extras
