Repository emilk/egui, pull requests merged in 2023-06, with the labels that each got.

#3073 Expose Raw Window and Display Handles
  Cargo.lock
  crates/eframe/CHANGELOG.md
  crates/eframe/Cargo.toml
  crates/eframe/src/epi/mod.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/run.rs
Labels: feature, eframe

#3080 eframe: fix android app quit on resume with glow backend
  crates/eframe/src/native/run.rs
Labels: eframe

#3078 Fix panic on wgpu GL backend due to new screenshot capability
  crates/eframe/src/epi/mod.rs
  crates/egui-wgpu/CHANGELOG.md
  crates/egui-wgpu/src/winit.rs
Labels: bug, egui-wgpu
