Repository emilk/egui, pull requests merged in 2023-09, with the labels that each got.

#3296 Replace instant with web_time
  Cargo.lock
  crates/egui-winit/Cargo.toml
  crates/egui-winit/src/lib.rs
Labels: egui-winit, dependencies, exclude from changelog

#3295 Improve documentation of `eframe`, especially for wasm32
  crates/eframe/src/epi/mod.rs
  crates/eframe/src/lib.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/backend.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/panic_handler.rs
  crates/eframe/src/web/screen_reader.rs
  crates/eframe/src/web/storage.rs
  crates/eframe/src/web/web_logger.rs
  crates/eframe/src/web/web_runner.rs
Labels: eframe, exclude from changelog

#3288 Changing `menu_image_button` to use `ImageButton` builder
  crates/egui/src/menu.rs
  crates/egui/src/ui.rs
Labels: egui

#3298 Add opt-in `puffin` feature to egui
  Cargo.lock
  crates/eframe/Cargo.toml
  crates/egui-winit/Cargo.toml
  crates/egui/Cargo.toml
  crates/egui/src/context.rs
  crates/egui/src/frame_state.rs
  crates/egui/src/input_state.rs
  crates/egui/src/lib.rs
  crates/egui/src/memory.rs
  crates/egui/src/util/id_type_map.rs
  crates/egui_glow/Cargo.toml
Labels: egui

#3299 Prune old egui memory data when reaching some limit
  crates/egui/src/util/id_type_map.rs
Labels: egui

#3304 CI: Update to actions/checkout@v4
  .github/workflows/rust.yml
  .github/workflows/typos.yml
Labels: CI, exclude from changelog

#3301 `eframe::Frame::info` returns a reference
  crates/eframe/src/epi/mod.rs
  crates/eframe/src/native/run.rs
  crates/egui_demo_app/src/backend_panel.rs
Labels: eframe

#3300 Add `scroll_area::State::velocity`
  crates/egui/src/containers/scroll_area.rs
Labels: egui

#3302 Add control of line height and letter spacing
  crates/egui/src/lib.rs
  crates/egui/src/widget_text.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
  crates/egui_demo_lib/src/demo/mod.rs
  crates/egui_demo_lib/src/demo/text_edit.rs
  crates/egui_demo_lib/src/demo/text_layout.rs
  crates/egui_demo_lib/src/easy_mark/easy_mark_highlighter.rs
  crates/epaint/src/lib.rs
  crates/epaint/src/text/font.rs
  crates/epaint/src/text/fonts.rs
  crates/epaint/src/text/text_layout.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: egui, epaint

#3305 Update webpki 0.22.0 -> 0.22.1
  Cargo.lock
  deny.toml
Labels: dependencies, exclude from changelog

#3308 Update web-time to 0.2
  Cargo.lock
  crates/egui-winit/Cargo.toml
Labels: dependencies

#3307 Add opt-in `puffin` feature to `egui-extras`
  Cargo.lock
  crates/egui_extras/Cargo.toml
  crates/egui_extras/src/image.rs
  crates/egui_extras/src/lib.rs
Labels: egui_extras

#3310 Update MSRV to Rust 1.70.0
  .github/workflows/rust.yml
  Cranky.toml
  clippy.toml
  crates/ecolor/Cargo.toml
  crates/ecolor/src/rgba.rs
  crates/eframe/Cargo.toml
  crates/eframe/src/web/input.rs
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/Cargo.toml
  crates/egui-wgpu/src/renderer.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui-winit/Cargo.toml
  crates/egui-winit/src/clipboard.rs
  crates/egui-winit/src/lib.rs
  crates/egui-winit/src/window_settings.rs
  crates/egui/Cargo.toml
  crates/egui/src/memory.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_lib/Cargo.toml
  crates/egui_extras/Cargo.toml
  crates/egui_glium/Cargo.toml
  crates/egui_glow/Cargo.toml
  crates/egui_plot/Cargo.toml
  crates/egui_plot/src/axis.rs
  crates/egui_plot/src/items/mod.rs
  crates/emath/Cargo.toml
  crates/emath/src/rect.rs
  crates/epaint/Cargo.toml
  crates/epaint/src/stroke.rs
  crates/epaint/src/text/fonts.rs
  crates/epaint/src/text/text_layout.rs
  crates/epaint/src/text/text_layout_types.rs
  examples/confirm_exit/Cargo.toml
  examples/custom_3d_glow/Cargo.toml
  examples/custom_font/Cargo.toml
  examples/custom_font_style/Cargo.toml
  examples/custom_window_frame/Cargo.toml
  examples/download_image/Cargo.toml
  examples/file_dialog/Cargo.toml
  examples/hello_world/Cargo.toml
  examples/hello_world_par/Cargo.toml
  examples/hello_world_simple/Cargo.toml
  examples/keyboard_events/Cargo.toml
  examples/puffin_profiler/Cargo.toml
  examples/retained_image/Cargo.toml
  examples/save_plot/Cargo.toml
  examples/screenshot/Cargo.toml
  examples/serial_windows/Cargo.toml
  examples/svg/Cargo.toml
  examples/user_attention/Cargo.toml
  rust-toolchain
  scripts/clippy_wasm/clippy.toml
Labels: egui

#3297 Managed texture loading
  Cargo.lock
  crates/egui/src/context.rs
  crates/egui/src/lib.rs
  crates/egui/src/load.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/image.rs
  crates/egui/src/widgets/mod.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_lib/Cargo.toml
  crates/egui_extras/Cargo.toml
  crates/egui_extras/src/lib.rs
  crates/egui_extras/src/loaders.rs
  crates/egui_extras/src/loaders/ehttp_loader.rs
  crates/egui_extras/src/loaders/file_loader.rs
  crates/egui_extras/src/loaders/image_loader.rs
  crates/egui_extras/src/loaders/svg_loader.rs
  crates/epaint/src/image.rs
  crates/epaint/src/texture_handle.rs
  examples/download_image/Cargo.toml
  examples/download_image/src/main.rs
  examples/retained_image/Cargo.toml
  examples/screenshot/Cargo.toml
  examples/svg/Cargo.toml
  examples/svg/src/main.rs
Labels: feature, egui, egui_extras

#3314 Fix deadlock in the texture/image loaders
  crates/egui/src/context.rs
  crates/egui/src/load.rs
Labels: bug, egui, exclude from changelog

#3312 feat: change to PointingHand when hovering over a button
  crates/egui/src/style.rs
  crates/egui/src/widgets/button.rs
Labels: egui

#3319 Add method to RichText making it easier to construct layout jobs
  crates/egui/src/widget_text.rs
Labels: egui

#3330 Add more puffin profile scopes to `eframe`
  crates/eframe/src/epi/mod.rs
  crates/eframe/src/lib.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/file_storage.rs
  crates/eframe/src/native/run.rs
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/lib.rs
  crates/egui_demo_app/src/apps/image_viewer.rs
  crates/egui_extras/src/lib.rs
  crates/egui_extras/src/loaders/image_loader.rs
  crates/egui_extras/src/loaders/svg_loader.rs
  crates/egui_glow/src/lib.rs
  crates/egui_glow/src/painter.rs
  crates/epaint/src/image.rs
  examples/puffin_profiler/src/main.rs
Labels: eframe, performance

#3328 Final polish for new image loading
  crates/egui-wgpu/src/renderer.rs
  crates/egui/src/context.rs
  crates/egui/src/lib.rs
  crates/egui/src/load.rs
  crates/egui/src/load/bytes_loader.rs
  crates/egui/src/load/texture_loader.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/image.rs
  crates/egui/src/widgets/mod.rs
  crates/egui/src/widgets/spinner.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/apps/http_app.rs
  crates/egui_demo_app/src/apps/image_viewer.rs
  crates/egui_demo_app/src/wrap_app.rs
  crates/egui_demo_lib/assets/icon.png
  crates/egui_demo_lib/src/color_test.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
  crates/egui_extras/src/image.rs
  crates/egui_extras/src/lib.rs
  crates/egui_glium/examples/native_texture.rs
  crates/egui_plot/src/items/mod.rs
  examples/images/src/main.rs
  examples/screenshot/src/main.rs
Labels: feature, egui, egui_extras

#3332 Add more profiling scopes
  crates/eframe/src/native/app_icon.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/run.rs
  crates/egui-winit/src/lib.rs
Labels: eframe, exclude from changelog

#3333 Add syntax highlighing feature to `egui_extras`
  .github/workflows/rust.yml
  Cargo.lock
  crates/egui/src/load/bytes_loader.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/apps/http_app.rs
  crates/egui_demo_lib/Cargo.toml
  crates/egui_demo_lib/src/demo/about.rs
  crates/egui_demo_lib/src/demo/code_editor.rs
  crates/egui_demo_lib/src/demo/code_example.rs
  crates/egui_demo_lib/src/lib.rs
  crates/egui_extras/Cargo.toml
  crates/egui_extras/src/lib.rs
  crates/egui_extras/src/loaders/file_loader.rs
  crates/egui_extras/src/sizing.rs
  crates/egui_extras/src/syntax_highlighting.rs
Labels: egui_extras

#3336 `egui_extras`: always depend on `log` crate
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_lib/Cargo.toml
  crates/egui_extras/Cargo.toml
  crates/egui_extras/src/lib.rs
  crates/egui_extras/src/loaders.rs
  crates/egui_extras/src/loaders/ehttp_loader.rs
  crates/egui_extras/src/loaders/file_loader.rs
  crates/egui_extras/src/loaders/image_loader.rs
  crates/egui_extras/src/loaders/svg_loader.rs
  crates/egui_extras/src/syntax_highlighting.rs
  examples/images/Cargo.toml
Labels: egui_extras

#3342 "Final" image polish
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/image.rs
  crates/egui_demo_app/src/apps/image_viewer.rs
  crates/egui_demo_app/src/wrap_app.rs
Labels: egui, exclude from changelog

#3343 More image polish
  crates/egui/src/painter.rs
  crates/egui/src/widgets/image.rs
  crates/egui/src/widgets/mod.rs
  crates/egui/src/widgets/spinner.rs
  crates/egui_plot/src/items/mod.rs
Labels: egui, exclude from changelog

#3349 Remove Function() invocation from eframe text_agent to bypass "unsafe-eval" restrictions in Chrome browser extensions.
  crates/eframe/src/web/text_agent.rs
  crates/egui_demo_app/src/apps/image_viewer.rs
Labels: eframe

#3352 Bug fix: arrow keys won't move focus away from TextEdit
  crates/egui/src/context.rs
  crates/egui/src/data/input.rs
  crates/egui/src/input_state.rs
  crates/egui/src/memory.rs
  crates/egui/src/widgets/slider.rs
  crates/egui/src/widgets/text_edit/builder.rs
Labels: egui

#3354 Fix moving slider with arrow keys
  crates/egui/src/widgets/slider.rs
Labels: bug, egui

#3355 Fix problems with tabs in text
  crates/epaint/src/text/font.rs
  crates/epaint/src/text/text_layout.rs
Labels: bug, text, egui, epaint

#3353 file_storage: Wrap `File` in `BufWriter`
  crates/eframe/src/native/file_storage.rs
Labels: eframe

#3359 Add `Context::style_mut`
  crates/egui/src/context.rs
Labels: egui

#3357 Fix not taking clipping into account when calculating colum remainder
  crates/egui_extras/src/table.rs
Labels: bug, egui_extras

#3164 `std::borrow::Cow<'_, str>` now implements `TextBuffer`
  crates/egui/src/widgets/text_edit/text_buffer.rs
Labels: egui

#3362 Only show on-screen-keyboard and IME when editing text
  crates/eframe/src/native/run.rs
  crates/egui-winit/src/lib.rs
Labels: eframe, egui-winit

#3366 Improve text truncation: always include elision character
  crates/egui_demo_lib/src/demo/text_layout.rs
  crates/epaint/src/text/text_layout.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: bug, text, epaint, exclude from changelog

#3376 Prevent text from being cleared when selected due to winit IME
  crates/egui-winit/src/lib.rs
Labels: bug, eframe

#3380 Add `Context::open_url` and `Context::copy_text`
  crates/egui/src/context.rs
  crates/egui/src/data/output.rs
  crates/egui/src/lib.rs
  crates/egui/src/widgets/color_picker.rs
  crates/egui/src/widgets/hyperlink.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_demo_app/src/apps/http_app.rs
  crates/egui_demo_app/src/wrap_app.rs
  crates/egui_demo_lib/src/demo/font_book.rs
  examples/puffin_profiler/src/main.rs
Labels: feature, egui

#3381 Misc cleanup
  README.md
  crates/eframe/src/native/run.rs
  crates/egui/src/data/output.rs
  crates/egui/src/memory.rs
  crates/egui_extras/README.md
  crates/egui_extras/src/datepicker/button.rs
  crates/egui_extras/src/lib.rs
  crates/emath/src/rect.rs
Labels: egui, exclude from changelog

#3387 Better handle additive colors in plots
  crates/ecolor/src/color32.rs
  crates/ecolor/src/rgba.rs
  crates/egui_plot/src/items/rect_elem.rs
Labels: bug, egui_plot

#3388 `egui_extras`: syntax-highlighting of .toml
  crates/egui_extras/src/syntax_highlighting.rs
Labels: egui_extras, exclude from changelog

#3391 Add debug-option to show a callstack to the widget under the mouse
  .github/workflows/rust.yml
  Cargo.lock
  crates/egui/Cargo.toml
  crates/egui/src/callstack.rs
  crates/egui/src/containers/resize.rs
  crates/egui/src/context.rs
  crates/egui/src/data/input.rs
  crates/egui/src/frame_state.rs
  crates/egui/src/grid.rs
  crates/egui/src/layout.rs
  crates/egui/src/lib.rs
  crates/egui/src/placer.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/backend_panel.rs
  crates/egui_demo_app/src/wrap_app.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
Labels: feature, egui

#3392 README.md: new images, better text
  Cargo.lock
  README.md
  examples/hello_world/Cargo.toml
  examples/hello_world/src/main.rs
  examples/images/src/main.rs
  media/demo.gif
  media/widget_gallery_0.23.gif
  media/widget_gallery_0.23_light.png
Labels: docs and examples, exclude from changelog

#3395 Fix interaction with moved color-picker
  crates/egui/src/containers/area.rs
Labels: bug, egui

#3396 Add `Area::constrain_to` and `Window::constrain_to`
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/popup.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/menu.rs
  crates/egui_demo_lib/src/demo/window_options.rs
  crates/egui_extras/src/datepicker/button.rs
Labels: bug, feature, egui

#3397 Move `App::persist_window` to `NativeOptions` and `App::max_size_points` to `WebOptions`
  crates/eframe/src/epi/mod.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/web/app_runner.rs
Labels: eframe

#3390 Add `NativeOptions::window_builder` for more customization
  crates/eframe/src/epi/mod.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/run.rs
Labels: eframe

#3398 Misc code cleanup
  .github/workflows/labels.yml
  crates/eframe/README.md
  crates/eframe/src/epi/icon_data.rs
  crates/eframe/src/epi/mod.rs
  crates/eframe/src/native/file_storage.rs
  crates/egui-wgpu/src/lib.rs
  crates/egui/src/load.rs
  crates/egui_demo_app/src/wrap_app.rs
  crates/epaint/src/shape.rs
  crates/epaint/src/text/font.rs
Labels: exclude from changelog

#3400 Improve the About windows in the demo library
  README.md
  crates/egui/src/lib.rs
  crates/egui_demo_lib/src/demo/about.rs
  media/rerun_io_logo.png
Labels: docs and examples, exclude from changelog

#3401 Update dependencies in Cargo.lock
  Cargo.lock
  Cranky.toml
  crates/eframe/Cargo.toml
  crates/eframe/src/lib.rs
  crates/egui/src/menu.rs
  crates/egui/src/util/id_type_map.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_extras/Cargo.toml
  deny.toml
  scripts/cargo_deny.sh
Labels: dependencies, exclude from changelog

#3402 Explain the purpose of the `ImageSource::Bytes` URI
  crates/egui/src/lib.rs
  crates/egui/src/load.rs
  crates/egui/src/widgets/image.rs
Labels: docs and examples, egui, exclude from changelog
