Repository emilk/egui, pull requests merged in 2024-11, with the labels that each got.

#5337 Update some crates
  Cargo.lock
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/egui-wgpu/Cargo.toml
  deny.toml
Labels: dependencies, exclude from changelog

#5336 Exclude icon.png from lfs
  .gitattributes
  .github/workflows/png_only_on_lfs.yml
  crates/eframe/data/icon.png
Labels: bug, eframe

#5326 Prevent panic when copying text outside of a secure context
  crates/eframe/src/web/mod.rs
  crates/egui/src/context.rs
Labels: bug, web, eframe

#5323 Add egui_kittest label to workflow and changelog script
  .github/workflows/labels.yml
  scripts/generate_changelog.py
Labels: exclude from changelog, egui_kittest

#5276 Put font data into Arc to reduce memory consumption
  crates/egui/src/context.rs
  crates/epaint/src/text/fonts.rs
  examples/custom_font/src/main.rs
Labels: performance, egui, epaint

#5324 Use proper `image` crate URI and MIME support detection
  crates/egui_extras/src/loaders/image_loader.rs
Labels: egui_extras

#5301 Add `Harness::new_ui`, `Harness::fit_contents`
  Cargo.lock
  crates/egui_demo_lib/src/demo/widget_gallery.rs
  crates/egui_demo_lib/src/rendering_test.rs
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.00.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.25.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.50.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.67.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.75.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_2.00.png
  crates/egui_demo_lib/tests/snapshots/widget_gallery.png
  crates/egui_kittest/Cargo.toml
  crates/egui_kittest/src/app_kind.rs
  crates/egui_kittest/src/builder.rs
  crates/egui_kittest/src/lib.rs
  crates/egui_kittest/src/wgpu.rs
  crates/egui_kittest/tests/snapshots/test_shrink.png
  crates/egui_kittest/tests/tests.rs
Labels: exclude from changelog, egui_kittest

#5339 Fix some typos
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/web_runner.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/ui_builder.rs
  crates/egui/src/util/cache.rs
  crates/egui/src/viewport.rs
  crates/epaint/src/tessellator.rs
Labels: typo

#5313 egui_kittest: Allow passing state to the app closure
  crates/egui_demo_lib/src/demo/text_edit.rs
  crates/egui_kittest/src/app_kind.rs
  crates/egui_kittest/src/builder.rs
  crates/egui_kittest/src/lib.rs
  crates/egui_kittest/src/snapshot.rs
  crates/egui_kittest/src/wgpu.rs
Labels: exclude from changelog, egui_kittest

#5362 Create gray -> grey doc aliases
  crates/ecolor/src/color32.rs
  crates/ecolor/src/rgba.rs
  crates/egui/src/style.rs
  crates/epaint/src/image.rs
Labels: docs and examples, dev-experience

#5370 Fix disabled widgets "eating" focus
  Cargo.lock
  crates/egui/Cargo.toml
  crates/egui/src/context.rs
  crates/egui/tests/regression_tests.rs
  crates/egui_kittest/src/lib.rs
Labels: bug, accessibility, egui

#5373 Add links to the wiki and move integrations there
  README.md
Labels: docs and examples

#5372 Update accesskit to 0.17
  Cargo.lock
  crates/egui-winit/Cargo.toml
  crates/egui/Cargo.toml
  crates/egui/src/context.rs
  crates/egui/src/pass_state.rs
  crates/egui/src/response.rs
  crates/egui/src/text_selection/accesskit_text.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui/tests/accesskit.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_kittest/README.md
  crates/egui_kittest/src/builder.rs
  crates/egui_kittest/src/lib.rs
Labels: accessibility, dependencies

#5291 add painter.line()
  crates/egui/src/painter.rs
Labels: feature, egui

#5391 forward x11 and wayland features to glutin
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/egui_glow/Cargo.toml
Labels: eframe, native-linux

#5392 Document justification for FallbackEgl
  crates/eframe/src/native/glow_integration.rs
Labels: eframe, docs and examples, exclude from changelog

#5407 Fix CI failures
  Cargo.lock
  crates/egui/tests/regression_tests.rs
Labels: CI, exclude from changelog

#5395 Update glow to 0.16
  Cargo.lock
  Cargo.toml
  crates/egui_glow/src/painter.rs
  deny.toml
Labels: eframe, egui_glow

#5358 Add `Modal` and `Memory::set_modal_layer`
  Cargo.lock
  crates/egui/src/containers/mod.rs
  crates/egui/src/containers/modal.rs
  crates/egui/src/context.rs
  crates/egui/src/layers.rs
  crates/egui/src/memory/mod.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/mod.rs
  crates/egui_demo_lib/src/demo/modals.rs
  crates/egui_demo_lib/tests/snapshots/demos/Modals.png
  crates/egui_demo_lib/tests/snapshots/modals_1.png
  crates/egui_demo_lib/tests/snapshots/modals_2.png
  crates/egui_demo_lib/tests/snapshots/modals_3.png
  crates/egui_demo_lib/tests/snapshots/modals_backdrop_should_prevent_focusing_lower_area.png
Labels: feature, egui

#5408 fix accidental change of FallbackEgl to PreferEgl
  crates/eframe/src/native/glow_integration.rs
Labels: eframe
