Repository emilk/egui, pull requests merged in 2024-03, with the labels that each got.

#4119 Quickly animate scroll when calling `ui.scroll_to_cursor` etc
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/input_state.rs
  crates/egui/src/response.rs
  crates/egui/src/ui.rs
  crates/egui_demo_lib/src/demo/scrolling.rs
  crates/emath/src/lib.rs
Labels: egui

#4124 add webgpu feature by default for wgpu feature of eframe
  crates/eframe/Cargo.toml
Labels: eframe, egui-wgpu, dependencies

#4138 Hide hover UI when showing the context menu
  crates/egui/src/menu.rs
  crates/egui/src/response.rs
Labels: egui

#4139 Add accessibility to `ProgressBar` and `Spinner`
  crates/egui/src/data/output.rs
  crates/egui/src/lib.rs
  crates/egui/src/response.rs
  crates/egui/src/widgets/progress_bar.rs
  crates/egui/src/widgets/spinner.rs
Labels: accessibility, egui

#4137 Fix IME bug where currently typed characters got copied
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui/src/widgets/text_edit/state.rs
Labels: bug, egui, IME

#4090 `epaint`: Added `Shape::{scale,translate}` wrappers
  crates/epaint/src/shape.rs
Labels: egui, epaint

#4107 `egui_extras`: Fixed handling of `file://` protocol for images
  crates/egui_extras/src/loaders/file_loader.rs
Labels: bug, native-windows, egui_extras

#4155 A `Window` can now be resizable in only one direction
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/resize.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/context.rs
  crates/egui/src/memory.rs
  crates/egui_demo_lib/src/demo/about.rs
  crates/egui_demo_lib/src/demo/code_example.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
  crates/emath/src/vec2.rs
  crates/emath/src/vec2b.rs
Labels: egui

#4008 eframe: Added `App::raw_input_hook` allows for the manipulation or filtering of raw input events
  Cargo.lock
  crates/eframe/src/epi.rs
  crates/eframe/src/native/epi_integration.rs
  examples/custom_keypad/Cargo.toml
  examples/custom_keypad/README.md
  examples/custom_keypad/screenshot.png
  examples/custom_keypad/src/keypad.rs
  examples/custom_keypad/src/main.rs
Labels: eframe

#4163 Fix style of disabled widgets
  crates/egui/src/context.rs
  crates/egui/src/hit_test.rs
  crates/egui/src/interaction.rs
  crates/egui/src/response.rs
  crates/egui/src/widget_rect.rs
Labels: bug, egui, exclude from changelog

#4161 Fix scaling of rounded corners for rect shape (#4152)
  crates/epaint/src/shape.rs
Labels: egui, exclude from changelog

#4156 Update kb modifiers from web mouse events
  CONTRIBUTING.md
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/input.rs
Labels: bug, web, eframe

#4146 Remove unnecessary allocation in `RepaintCause::new`
  crates/egui/src/context.rs
Labels: performance, egui

#3984 TextEdit: fix crash when hitting SHIFT + TAB around non-ASCII text
  crates/egui/src/widgets/text_edit/text_buffer.rs
Labels: bug, egui, crash

#4166 Improve logic for when submenus are kept open
  crates/egui/src/menu.rs
  crates/egui/src/ui.rs
  crates/emath/src/rect.rs
Labels: bug, egui

#4145 Add `get_proc_address` in CreationContext
  crates/eframe/src/epi.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/web/app_runner.rs
Labels: eframe

#4169 Fix crash on `request_animation_frame` when destroying web runner
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/input.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/text_agent.rs
  crates/eframe/src/web/web_painter.rs
  crates/eframe/src/web/web_painter_glow.rs
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/eframe/src/web/web_runner.rs
Labels: web, eframe

#4172 Fix bug parsing url query with escaped & or =
  crates/eframe/src/epi.rs
  crates/eframe/src/web/backend.rs
Labels: bug, web, eframe

#4174 Fix two `ScrollArea` bugs: leaking scroll target and broken animation to target offset
  crates/egui/src/containers/scroll_area.rs
Labels: bug, egui

#4183 `Location::query_map`: support repeated key
  crates/eframe/src/epi.rs
  crates/eframe/src/web/backend.rs
Labels: web, eframe

#4192 Change the definition of `clicked_by`
  CHANGELOG.md
  crates/egui/src/context.rs
  crates/egui/src/input_state.rs
  crates/egui/src/input_state/touch_state.rs
  crates/egui/src/menu.rs
  crates/egui/src/response.rs
  crates/egui_demo_lib/src/demo/pan_zoom.rs
Labels: egui

#4190 Fix bug in `Context::parent_viewport_id`
  crates/egui/src/context.rs
Labels: bug, egui

#4157 Don't clear modifier state on focus change
  crates/egui-winit/src/lib.rs
  crates/egui/src/input_state.rs
Labels: eframe, egui-winit, egui

#4122 `epaint`: Add `EllipseShape`
  crates/epaint/src/lib.rs
  crates/epaint/src/shape.rs
  crates/epaint/src/shape_transform.rs
  crates/epaint/src/stats.rs
  crates/epaint/src/tessellator.rs
Labels: egui, epaint

#4092 Adjustable Slider rail height
  crates/egui/src/style.rs
  crates/egui/src/widgets/slider.rs
Labels: egui

#4151 Added ability to disable highlighting of weekend days in DatePickerPopup.
  crates/egui_extras/src/datepicker/button.rs
  crates/egui_extras/src/datepicker/popup.rs
Labels: egui_extras

#4175 Add x11 window type settings to viewport builder
  crates/egui-winit/src/lib.rs
  crates/egui/src/viewport.rs
Labels: eframe, native-linux, egui

#4201 typos : intersects_ray()
  crates/egui/src/menu.rs
  crates/emath/src/rect.rs
Labels: emath, typo

#4200 Expose state override for `HeaderResponse`
  crates/egui/src/containers/collapsing_header.rs
Labels: egui

#4193 Expose `PlotGeometry` in public API
  crates/egui_plot/src/items/mod.rs
  crates/egui_plot/src/lib.rs
  crates/egui_plot/src/plot_ui.rs
Labels: egui_plot

#4199 Prevent egui::Window from becoming larger than Viewport
  crates/egui/src/containers/window.rs
Labels: egui

#4210 Fix: IME bug when typing Chinese characters
  crates/egui/src/widgets/text_edit/builder.rs
Labels: egui, exclude from changelog, IME

#4218 Don't show URLs when hovering hyperlinks
  crates/egui/src/style.rs
  crates/egui/src/widgets/hyperlink.rs
Labels: egui

#4221 Fix `example/test_viewports` title change
  examples/test_viewports/src/main.rs
Labels: docs and examples, exclude from changelog

#4197 egui demo: Add drop down to resize the window
  crates/egui_demo_app/src/backend_panel.rs
Labels: docs and examples, exclude from changelog

#4085 Add an API for customizing the return key in TextEdit
  crates/egui/src/widgets/text_edit/builder.rs
Labels: egui

#4230 Add some distance between parent menu and submenu
  crates/egui/src/menu.rs
  crates/egui/src/style.rs
Labels: egui, style

#4231 Add `Margin` to `epaint`
  crates/egui/src/containers/frame.rs
  crates/egui/src/lib.rs
  crates/egui/src/style.rs
  crates/epaint/src/lib.rs
  crates/epaint/src/margin.rs
Labels: epaint

#4232 CSS-like shadows with offset, spread, and blur
  crates/egui/src/containers/area.rs
  crates/egui/src/style.rs
  crates/egui/src/widgets/mod.rs
  crates/epaint/src/shadow.rs
Labels: egui, epaint, style

#4233 Better align menus with the button that opened them
  crates/egui/src/menu.rs
  crates/egui/src/style.rs
Labels: egui, style

#4234 Add `Area::sense` and improve hit-testing of buttons in menus
  crates/egui/src/containers/area.rs
  crates/egui/src/menu.rs
Labels: egui

#4235 Enforce writing username in TODO comments
  crates/eframe/src/web/events.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/context.rs
  crates/egui/src/input_state.rs
  crates/egui/src/interaction.rs
  crates/egui/src/memory.rs
  crates/egui/src/text_selection/label_text_selection.rs
  crates/egui/src/widgets/image.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_demo_lib/src/easy_mark/easy_mark_editor.rs
  crates/egui_extras/src/loaders.rs
  crates/egui_plot/src/axis.rs
  crates/egui_plot/src/items/values.rs
  crates/egui_plot/src/lib.rs
  crates/epaint/src/stats.rs
  crates/epaint/src/tessellator.rs
  crates/epaint/src/text/text_layout.rs
  examples/test_viewports/src/main.rs
  scripts/lint.py
Labels: CI, exclude from changelog

#4244 Fix visual glitch on the right side of highly rounded rectangles
  crates/epaint/src/tessellator.rs
Labels: egui, epaint

#4245 Prevent visual glitch when shadow blur width is very high
  crates/epaint/src/shadow.rs
Labels: egui, epaint

#4247 Fix `InputState::any_touches` and add `InputState::has_touch_screen`
  crates/egui/src/input_state.rs
  crates/egui/src/input_state/touch_state.rs
  crates/egui/src/widgets/label.rs
  crates/egui/src/widgets/text_edit/builder.rs
Labels: bug, egui

#4248 Fix `Context::repaint_causes` returning no causes
  crates/egui/src/context.rs
Labels: bug, egui

#4246 Add `register_native_texture` in `eframe::Frame`
  crates/eframe/src/epi.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
Labels: eframe

#4249 Fix touch-and-hold to open context menu
  crates/egui/src/input_state.rs
Labels: bug, egui

#4258 Don't apply a clip rect to the contents of an `Area` or `Window`
  crates/egui/src/containers/area.rs
Labels: egui

#4257 Improve the UI for changing the egui theme
  crates/egui/src/containers/frame.rs
  crates/egui/src/context.rs
  crates/egui/src/introspection.rs
  crates/egui/src/lib.rs
  crates/egui/src/memory.rs
  crates/egui/src/style.rs
  crates/egui/src/widgets/mod.rs
  crates/egui_demo_app/src/apps/fractal_clock.rs
  crates/egui_demo_app/src/wrap_app.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/frame_demo.rs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
  crates/egui_demo_lib/src/demo/mod.rs
  crates/egui_demo_lib/src/demo/paint_bezier.rs
  crates/egui_demo_lib/src/demo/painting.rs
  crates/egui_demo_lib/src/demo/plot_demo.rs
  crates/egui_demo_lib/src/demo/scrolling.rs
  crates/egui_demo_lib/src/demo/sliders.rs
  crates/egui_demo_lib/src/demo/strip_demo.rs
  crates/egui_demo_lib/src/demo/table_demo.rs
  crates/egui_demo_lib/src/demo/tests.rs
  crates/egui_demo_lib/src/demo/window_options.rs
  crates/egui_demo_lib/src/easy_mark/easy_mark_editor.rs
Labels: docs and examples, egui

#4252 Prevent plot from resetting one axis while zooming/dragging the other
  crates/egui_plot/src/lib.rs
Labels: egui_plot

#4261 Web: repaint if the `#hash` in the URL changes
  crates/eframe/src/web/events.rs
Labels: web, eframe

#4260 Add web support for `zoom_factor`
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/input.rs
  crates/eframe/src/web/mod.rs
  crates/egui/src/memory.rs
Labels: web, eframe

#4262 Hide shortcut text on zoom buttons if `zoom_with_keyboard` is false
  crates/egui/src/gui_zoom.rs
Labels: egui

#4267 Add `RectShape::blur_width` to implement shadows
  crates/egui/src/containers/frame.rs
  crates/egui/src/widgets/image.rs
  crates/egui/src/widgets/slider.rs
  crates/epaint/src/shadow.rs
  crates/epaint/src/shape.rs
  crates/epaint/src/shape_transform.rs
  crates/epaint/src/tessellator.rs
Labels: epaint

#4273 Fix incorrect `Response::interact_rect` for `Area/Window`
  crates/egui/src/containers/area.rs
  crates/egui/src/response.rs
Labels: bug, egui

#4272 Fix bug in determining wether to remove focus from a widget
  crates/egui/src/context.rs
Labels: bug, egui

#4274 Fix: `Response::clicked_elsewhere` takes clip rect into account
  crates/egui/src/response.rs
Labels: bug, egui

#4275 Change the resize cursor when you reach the resize limit
  crates/egui/src/containers/panel.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/widgets/drag_value.rs
Labels: egui, style

#4276 Make `TextEdit` and atomic widget
  crates/egui/src/widgets/text_edit/builder.rs
Labels: egui

#4277 Overload operators for `Rect + Margin`, `Rect - Margin` etc
  crates/egui/src/containers/frame.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/epaint/src/margin.rs
Labels: egui, epaint

#4278 Break out Checkbox, RadioButton and ImageButton to their own files
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/checkbox.rs
  crates/egui/src/widgets/image_button.rs
  crates/egui/src/widgets/mod.rs
  crates/egui/src/widgets/radio_button.rs
Labels: egui, refactor, exclude from changelog

#4280 eframe: Correctly identify if browser tab has focus
  crates/eframe/src/web/backend.rs
  crates/eframe/src/web/events.rs
Labels: bug, web, eframe

#4279 Implement blinking text cursor in `TextEdit`
  crates/egui/src/style.rs
  crates/egui/src/text_selection/visuals.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui/src/widgets/text_edit/state.rs
Labels: feature, egui, style

#4269 Fix continuous repaint on Wayland when TextEdit is focused or IME output is not None
  crates/egui-winit/src/lib.rs
Labels: eframe, egui-winit, IME

#4281 Make the code example demo narrow enough to fit on mobile
  crates/egui_demo_app/src/backend_panel.rs
  crates/egui_demo_lib/src/demo/code_example.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
Labels: docs and examples, exclude from changelog

#4282 Rename `fn scroll2` to `fn scroll`
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/containers/window.rs
  crates/egui_demo_lib/src/demo/code_example.rs
  crates/egui_demo_lib/src/demo/tests.rs
  crates/egui_demo_lib/src/demo/window_options.rs
Labels: egui

#4284 eframe: Early-out from context switching the `glow` backend
  crates/eframe/src/native/glow_integration.rs
Labels: eframe, performance

#4283 Change `Frame::multiply_with_opacity` to multiply in gamma space
  crates/ecolor/src/color32.rs
  crates/egui/src/containers/frame.rs
Labels: egui, style

#4285 Remove a bunch of `unwrap()`
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui_glow/examples/pure_glow.rs
Labels: eframe, crash

#4211 Fix `ViewportCommand::InnerSize` not resizing viewport on Wayland (#4211)
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-winit/src/lib.rs
Labels: eframe, native-linux

#4291 Consider all non-interactie widgets under the mouse pointer hovered
  crates/egui/src/interaction.rs
  crates/egui/src/widget_rect.rs
Labels: bug, egui

#4292 Allow zoom/pan a plot as long as it contains the mouse cursor
  crates/egui_plot/src/lib.rs
Labels: bug, egui_plot
