Repository emilk/egui, pull requests merged in 2024-01, with the labels that each got.

#3753 Bump `winit` to `0.29.7`
  Cargo.lock
  crates/egui-wgpu/Cargo.toml
  deny.toml
Labels: eframe, egui-winit

#3767 Fix: don't open context menu on drag
  crates/egui/src/menu.rs
Labels: bug, egui

#3768 Fix IME input of `CompositionEnd` without a `CompositionStart`
  crates/egui/src/widgets/text_edit/builder.rs
Labels: bug, egui

#3769 Ignore extra SHIFT and ALT when matching modifiers
  crates/egui-winit/src/lib.rs
  crates/egui/src/data/input.rs
  crates/egui/src/gui_zoom.rs
  crates/egui/src/input_state.rs
  crates/egui/src/widgets/text_edit/builder.rs
Labels: bug, egui

#3641 Allow arrow keys to move away focus from a Slider
  crates/egui/src/data/input.rs
  crates/egui/src/widgets/slider.rs
  crates/egui/src/widgets/text_edit/builder.rs
Labels: egui

#3347 Implement table row selection and hover highlighting
  crates/egui_demo_lib/src/demo/table_demo.rs
  crates/egui_extras/src/layout.rs
  crates/egui_extras/src/strip.rs
  crates/egui_extras/src/table.rs
Labels: feature, egui_plot

#3509 Fix: allow using the full Private Use Area for custom fonts
  crates/epaint/src/text/font.rs
  crates/epaint/src/text/fonts.rs
Labels: egui, epaint

#3605 Add indeterminate state to checkbox
  crates/egui/src/response.rs
  crates/egui/src/widgets/button.rs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
Labels: egui

#2714 Plot custom zoom
  Cargo.lock
  crates/egui_plot/src/lib.rs
  crates/egui_plot/src/transform.rs
  examples/custom_plot_manipulation/Cargo.toml
  examples/custom_plot_manipulation/README.md
  examples/custom_plot_manipulation/src/main.rs
Labels: egui_plot

#3534 Add a public API for overriding plot legend traces' visibilities
  crates/egui_plot/src/legend.rs
Labels: egui_plot

#3776 Fix: apply edited `DragValue` when it looses focus
  crates/egui/src/context.rs
  crates/egui/src/memory.rs
  crates/egui/src/util/id_type_map.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui_extras/src/table.rs
Labels: bug, egui

#3570 Add `Color32::from_hex_string` and `Color32::to_hex_string`
  crates/ecolor/src/hex_color_runtime.rs
  crates/ecolor/src/lib.rs
Labels: egui, epaint

#3777 Rename `from_hex_string` -> `from_hex`, and `to_hex_string` -> `to_hex`
  crates/ecolor/src/hex_color_macro.rs
  crates/ecolor/src/hex_color_runtime.rs
Labels: egui, ecolor, epaint

#2734 Add `DragValue`s for RGB(A) in the color picker
  crates/ecolor/src/hsva.rs
  crates/egui/src/style.rs
  crates/egui/src/widgets/color_picker.rs
Labels: feature, egui

#3055 Changed logic for submenus closing
  crates/egui/src/menu.rs
Labels: egui

#2956 Fix typo in `crates/egui_glow/README.md`
  crates/egui_glow/README.md
Labels: typo

#2881 Add option to customize progress bar rounding
  crates/egui/src/widgets/progress_bar.rs
Labels: egui

#3515 Implemented window header color change when focused (on top).
  crates/egui/src/containers/window.rs
  crates/egui/src/context.rs
  crates/egui/src/memory.rs
  crates/egui_demo_lib/src/demo/window_options.rs
Labels: egui

#3039 Have non-resizable Areas ignore mouse input just beyond their bounds
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/context.rs
  crates/egui/src/memory.rs
Labels: egui

#3479 add methods to manipulate TextEditState undoer
  crates/egui/src/widgets/text_edit/state.rs
Labels: egui

#3780 Highlight submenu buttons when hovered and open
  crates/eframe/src/native/glow_integration.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/menu.rs
  crates/egui/src/style.rs
  crates/egui_extras/src/datepicker/button.rs
  crates/egui_extras/src/datepicker/popup.rs
  crates/egui_extras/src/loaders/image_loader.rs
  crates/egui_extras/src/table.rs
  crates/egui_plot/src/lib.rs
  crates/emath/src/history.rs
  crates/epaint/src/image.rs
  scripts/generate_changelog.py
  scripts/setup_web.sh
Labels: egui

#3710 [ScrollArea]: Add option to always scroll the only enabled direction
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/style.rs
Labels: egui

#3770 Add missing links to source code
  crates/egui_demo_lib/src/demo/about.rs
  crates/egui_demo_lib/src/demo/highlighting.rs
  crates/egui_demo_lib/src/demo/layout_test.rs
  crates/egui_demo_lib/src/demo/tests.rs
  crates/egui_demo_lib/src/demo/text_edit.rs
  crates/egui_demo_lib/src/demo/window_with_panels.rs
Labels: docs and examples

#3698 Invalidate font atlas on any change to `pixels_per_point`, not matter how small
  crates/epaint/src/text/fonts.rs
Labels: egui

#3373 Added key mappings for `[`, `]`, `,` and `\`.
  crates/egui-winit/src/lib.rs
  crates/egui/src/data/input.rs
Labels: eframe, egui

#3778 fix egui-wgpu callback viewport size check (#3759)
  crates/egui-wgpu/src/renderer.rs
Labels: egui-wgpu

#3789 fixed typos in README.md
  README.md
Labels: egui, typo, exclude from changelog

#3814 Selectable text in Labels
  crates/egui/src/data/output.rs
  crates/egui/src/style.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui/src/widgets/hyperlink.rs
  crates/egui/src/widgets/label.rs
  crates/egui/src/widgets/text_edit/accesskit_text.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui/src/widgets/text_edit/cursor_interaction.rs
  crates/egui/src/widgets/text_edit/cursor_range.rs
  crates/egui/src/widgets/text_edit/mod.rs
  crates/egui/src/widgets/text_edit/output.rs
  crates/egui/src/widgets/text_edit/state.rs
  crates/egui/src/widgets/text_edit/text_buffer.rs
  crates/egui_demo_app/src/apps/http_app.rs
  crates/egui_demo_lib/src/demo/text_edit.rs
  crates/egui_demo_lib/src/easy_mark/easy_mark_editor.rs
  crates/epaint/src/text/text_layout_types.rs
  scripts/check.sh
Labels: feature, text, egui

#3001 `ComboBox`: add builder method for height
  crates/egui/src/containers/combo_box.rs
Labels: egui

#3820 Add keys `?`, `/`, `|`
  crates/egui-winit/src/lib.rs
  crates/egui/src/data/input.rs
  crates/egui/src/data/key.rs
  crates/egui/src/data/mod.rs
  crates/egui/src/input_state.rs
  crates/egui/src/lib.rs
Labels: egui

#3815 Fix clickable widgets blocking scrolling on touch screens
  crates/egui/src/context.rs
Labels: bug, egui

#3826 Fix unwraps in SVG scaling
  crates/egui_extras/src/image.rs
Labels: bug, egui_extras

#3812 egui-winit: Don't consume clipboard shortcuts
  crates/egui-winit/src/lib.rs
Labels: egui-winit

#3831 Keep `ViewportInfo::maximized` and `minimized` up-to-date on Windows
  crates/egui-winit/src/lib.rs
Labels: bug, eframe, native-windows

#3834 Update to ehttp 0.4
  Cargo.lock
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/apps/http_app.rs
  crates/egui_extras/Cargo.toml
Labels: dependencies, egui_extras

#3833 Bug Fix : `Response::is_pointer_button_down_on` is now false the frame the button is released
  crates/egui/src/context.rs
  crates/egui/src/style.rs
  examples/custom_window_frame/src/main.rs
Labels: bug, egui

#3824 Update wgpu to 0.19
  Cargo.lock
  Cargo.toml
  clippy.toml
  crates/eframe/Cargo.toml
  crates/eframe/src/epi.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/native/winit_integration.rs
  crates/eframe/src/web/web_logger.rs
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/Cargo.toml
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/renderer.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui-winit/Cargo.toml
  crates/egui-winit/src/clipboard.rs
  crates/egui-winit/src/lib.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/backend_panel.rs
  crates/egui_glow/Cargo.toml
  crates/egui_glow/examples/pure_glow.rs
  scripts/build_demo_web.sh
  scripts/check.sh
  scripts/clippy_wasm/clippy.toml
  scripts/setup_web.sh
  scripts/wasm_bindgen_check.sh
Labels: eframe, egui-wgpu

#3840 Use runtime knowledge of OS for OS-specific text editing
  crates/egui/src/widgets/label.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui/src/widgets/text_edit/cursor_range.rs
  scripts/lint.py
Labels: egui

#3842 Fix: handle `IconData::default()` without crashing
  crates/egui-winit/src/lib.rs
  crates/egui/src/viewport.rs
Labels: bug, eframe

#3843 Refactor: move text selection logic to own module
  crates/egui/src/lib.rs
  crates/egui/src/text_selection/accesskit_text.rs
  crates/egui/src/text_selection/cursor_range.rs
  crates/egui/src/text_selection/label_text_selection.rs
  crates/egui/src/text_selection/mod.rs
  crates/egui/src/text_selection/text_cursor_state.rs
  crates/egui/src/text_selection/visuals.rs
  crates/egui/src/widgets/hyperlink.rs
  crates/egui/src/widgets/label.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui/src/widgets/text_edit/mod.rs
  crates/egui/src/widgets/text_edit/output.rs
  crates/egui/src/widgets/text_edit/state.rs
  crates/egui/src/widgets/text_edit/text_buffer.rs
  crates/egui_demo_lib/src/easy_mark/easy_mark_editor.rs
Labels: text, egui, refactor

#3858 Fix: dragging to above/below a `TextEdit` or `Label` will select text to begin/end
  crates/egui/src/text_selection/cursor_range.rs
  crates/egui/src/text_selection/text_cursor_state.rs
  crates/epaint/src/text/cursor.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: bug, egui

#3800 Fix typo
  crates/egui_demo_lib/src/demo/mod.rs
Labels: typo, exclude from changelog

#3859 Add `Response::contains_pointer`
  crates/egui/src/response.rs
  crates/egui_demo_lib/src/demo/drag_and_drop.rs
Labels: egui

#3847 Fix Android crash on resume
  crates/eframe/src/native/wgpu_integration.rs
Labels: eframe, android

#3835 Link to example of File Dialogs
  README.md
Labels: docs and examples

#3860 Always set `response.hovered` to false when dragging another widget
  crates/egui/src/context.rs
  crates/egui/src/response.rs
  crates/egui/src/sense.rs
  crates/egui/src/ui.rs
Labels: egui

#3863 Add `Align2::anchor_size`
  crates/egui/src/painter.rs
  crates/egui_plot/src/items/mod.rs
  crates/emath/src/align.rs
  crates/epaint/src/shape.rs
Labels: egui, epaint, emath

#3864 Add `Context::debug_text`
  crates/egui/src/containers/popup.rs
  crates/egui/src/context.rs
  crates/egui/src/painter.rs
  crates/egui/src/widget_text.rs
Labels: egui

#3871 Make `egui_plot::PlotMemory` public
  crates/egui_demo_lib/src/demo/plot_demo.rs
  crates/egui_plot/src/legend.rs
  crates/egui_plot/src/lib.rs
  crates/egui_plot/src/memory.rs
  crates/egui_plot/src/transform.rs
Labels: egui_plot

#3724 ✋ `egui_winit`: Allow getting the `clipboard` and `allow_ime` state
  crates/egui-winit/src/lib.rs
Labels: egui-winit

#3876 Add some drag-and-drop-related APIs in `Response` and `Memory`
  crates/egui/src/memory.rs
  crates/egui/src/response.rs
Labels: feature, egui, rerun

#3874 Add `WgpuConfiguration::desired_maximum_frame_latency`
  Cargo.lock
  Cargo.toml
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/winit.rs
Labels: eframe, egui-wgpu

#3875 `egui-wgpu`: turn off the default features of `wgpu`
  Cargo.lock
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/egui-wgpu/Cargo.toml
Labels: eframe, egui-wgpu, dependencies

#3870 Cross-widget text select
  crates/egui/src/context.rs
  crates/egui/src/input_state.rs
  crates/egui/src/layers.rs
  crates/egui/src/painter.rs
  crates/egui/src/style.rs
  crates/egui/src/text_selection/cursor_range.rs
  crates/egui/src/text_selection/label_text_selection.rs
  crates/egui/src/text_selection/mod.rs
  crates/egui/src/text_selection/text_cursor_state.rs
  crates/egui/src/text_selection/visuals.rs
  crates/egui/src/widgets/hyperlink.rs
  crates/egui/src/widgets/label.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/mod.rs
  crates/egui_demo_lib/src/demo/panels.rs
  crates/emath/src/range.rs
  crates/epaint/src/text/cursor.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: text, egui

#3867 Fix Android crash on resume with Glow backend
  crates/eframe/src/native/glow_integration.rs
Labels: eframe, android

#3884 Smooth scrolling
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/frame_state.rs
  crates/egui/src/input_state.rs
  crates/egui/src/ui.rs
  crates/egui_plot/src/lib.rs
Labels: egui

#3877 eframe: don't call `App::update` on minimized windows
  crates/eframe/src/native/run.rs
Labels: eframe

#3886 Register callbacks with `Context::on_begin_frame` and `on_end_frame`.
  bacon.toml
  crates/egui/src/context.rs
  crates/egui/src/debug_text.rs
  crates/egui/src/lib.rs
  crates/egui/src/text_selection/label_text_selection.rs
  crates/egui/src/util/id_type_map.rs
Labels: egui

#3888 Improve `Response.dragged`, `drag_started` and `clicked`
  crates/egui/src/containers/panel.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/context.rs
  crates/egui/src/input_state.rs
  crates/egui/src/memory.rs
  crates/egui/src/response.rs
  crates/egui_demo_lib/src/demo/tests.rs
Labels: egui

#3889 Improve `Frame` API to allow picking color until after adding content
  crates/egui/src/containers/frame.rs
Labels: egui

#3895 Re-try adapter creation if creation with WebGPU enabled fails and WebGL was enabled.
  crates/eframe/src/web/web_painter_wgpu.rs
Labels: bug, web, egui-wgpu

#3887 Add drag-and-drop APIs with payloads storage
  crates/egui/src/context.rs
  crates/egui/src/drag_and_drop.rs
  crates/egui/src/lib.rs
  crates/egui/src/response.rs
  crates/egui/src/ui.rs
  crates/egui_demo_lib/src/demo/drag_and_drop.rs
Labels: egui

#3899 Fix typos
  CONTRIBUTING.md
  crates/egui/src/context.rs
  crates/egui/src/viewport.rs
Labels: egui, typo

#3912 Turn off text wrapping by default in combo-box popups
  crates/egui/src/containers/combo_box.rs
Labels: egui

#3914 Postpone call to get_current_texture
  Cargo.lock
  Cargo.toml
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-wgpu/Cargo.toml
  crates/egui-wgpu/src/winit.rs
  crates/egui-winit/Cargo.toml
Labels: egui-wgpu

#3917 Fix input lag in drag-to-select o labels
  crates/egui/src/text_selection/label_text_selection.rs
Labels: bug, text, egui, exclude from changelog

#3918 Change default plot line thickness from 1.0 to 1.5
  crates/egui_plot/src/items/mod.rs
Labels: egui_plot

#3904 `Response.context_menu` now returns the response of the context menu, if open
  crates/egui/src/response.rs
Labels: egui

#3921 Expand plot axes thickness to fit their labels
  crates/egui/src/painter.rs
  crates/egui_plot/src/axis.rs
  crates/egui_plot/src/lib.rs
  crates/egui_plot/src/memory.rs
  crates/emath/src/rot2.rs
Labels: egui_plot

#3916 Add opacity factor to `TextShape`
  crates/epaint/src/shape.rs
  crates/epaint/src/shape_transform.rs
  crates/epaint/src/tessellator.rs
Labels: egui, epaint

#3920 Plot items now have optional id which is returned in the plot's response when hovered
  crates/egui_demo_lib/src/demo/plot_demo.rs
  crates/egui_plot/src/items/mod.rs
  crates/egui_plot/src/lib.rs
  crates/egui_plot/src/memory.rs
Labels: feature, egui_plot

#3909 Add `x11` and `wayland` features to egui-wgpu and egui_glow
  crates/eframe/Cargo.toml
  crates/egui-wgpu/Cargo.toml
  crates/egui_demo_app/Cargo.toml
  crates/egui_glow/Cargo.toml
  scripts/check.sh
Labels: egui_glow, egui-wgpu
