Repository emilk/egui, pull requests merged in 2024-06, with the labels that each got.

#4603 Add missing word
  crates/egui_extras/src/table.rs
Labels: docs and examples, egui_extras, exclude from changelog

#4606 Update README to maintained Tetra integration
  README.md
Labels: docs and examples, exclude from changelog

#4596 Support interactive widgets in tooltips
  crates/egui/src/containers/popup.rs
  crates/egui/src/context.rs
  crates/egui/src/frame_state.rs
  crates/egui/src/layers.rs
  crates/egui/src/response.rs
  crates/egui/src/style.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
  crates/egui_demo_lib/src/demo/mod.rs
  crates/egui_demo_lib/src/demo/tooltips.rs
  tests/test_size_pass/src/main.rs
Labels: egui

#4612 `Grid`: set the `sizing_pass` flag during the initial sizing pass
  crates/egui/src/grid.rs
Labels: egui

#4613 Set the `sizing_pass` flag in first frame of `egui_extras::Table`
  crates/egui_extras/src/table.rs
Labels: egui_extras

#4614 Deprecate `ui.set_enabled` and `set_visbile`
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/collapsing_header.rs
  crates/egui/src/ui.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
  crates/egui_demo_lib/src/demo/window_options.rs
Labels: egui

#4619 Fix pinch-to-zoom on web by using the "artificial" modifier keys
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/input.rs
Labels: bug, web, eframe, exclude from changelog

#4621 Make pinch-to-zoom more responsive on web
  crates/eframe/src/web/events.rs
Labels: web, eframe

#4617 Add tags to `UiStack`
  crates/egui/src/containers/frame.rs
  crates/egui/src/containers/panel.rs
  crates/egui/src/ui.rs
  crates/egui/src/ui_stack.rs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
  tests/test_ui_stack/src/main.rs
Labels: egui

#4623 Handle tooltips so large that they cover the widget
  crates/egui/src/response.rs
Labels: bug, egui

#4628 Move first `request_animation_frame` into resize observer
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/web_runner.rs
Labels: web, eframe

#4630 Easing functions
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/collapsing_header.rs
  crates/egui/src/containers/panel.rs
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/context.rs
  crates/egui_demo_lib/src/demo/toggle_switch.rs
  crates/emath/src/easing.rs
  crates/emath/src/lib.rs
Labels: egui, emath

#4611 ScrollArea: Prevent drag interaction outside the area
  crates/egui/src/containers/scroll_area.rs
Labels: bug, egui

#4627 Add `Color32::lerp_to_gamma`
  Cargo.lock
  crates/ecolor/Cargo.toml
  crates/ecolor/src/color32.rs
  crates/egui_demo_lib/src/rendering_test.rs
Labels: feature, ecolor

#4633 RELEASES.md: document release process and checklist
  RELEASES.md
Labels: exclude from changelog, dev-experience

#4649 Make sure tooltips are interactable
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/popup.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/menu.rs
Labels: bug, egui, exclude from changelog

#4560 Update to wgpu 0.20
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  crates/egui-wgpu/src/renderer.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/apps/custom3d_wgpu.rs
  scripts/setup_web.sh
Labels: egui-wgpu

#4640 Fix typos
  crates/egui/src/lib.rs
  crates/egui/src/style.rs
  crates/egui/src/text_selection/cursor_range.rs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
  crates/egui_demo_lib/src/demo/tooltips.rs
Labels: egui, typo

#4661 Replace `directories-next` dependency with `directories`
  Cargo.lock
  crates/eframe/Cargo.toml
  crates/eframe/src/epi.rs
  crates/eframe/src/native/file_storage.rs
  deny.toml
Labels: eframe, dependencies

#4641 `egui_extras`: Make `serde` an optional feature
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_lib/Cargo.toml
  crates/egui_extras/Cargo.toml
  crates/egui_extras/src/datepicker/button.rs
  crates/egui_extras/src/datepicker/popup.rs
  crates/egui_extras/src/syntax_highlighting.rs
  crates/egui_extras/src/table.rs
  tests/test_ui_stack/Cargo.toml
Labels: egui_extras

#4639 Remove special case for 0 in DragValue default formatter
  crates/egui/src/widgets/drag_value.rs
Labels: egui, style

#4643 Fix dead link to mycomarkup in easy_mark sample
  crates/egui_demo_lib/src/easy_mark/easy_mark_editor.rs
Labels: docs and examples, exclude from changelog

#4646 Make sure to call `raw_input_hook` on web
  crates/eframe/src/web/app_runner.rs
Labels: web, eframe

#4637 egui_plot: use `f64` for translate
  crates/egui_plot/src/lib.rs
  crates/egui_plot/src/transform.rs
Labels: egui_plot

#4671 Make `Debug` format of `Vec2/Pos2/Rot2` respect user precision
  crates/emath/src/pos2.rs
  crates/emath/src/rot2.rs
  crates/emath/src/vec2.rs
Labels: emath

#4675 Fix buggy interaction with widgets outside of clip rect
  crates/egui/src/hit_test.rs
  crates/emath/src/rect.rs
Labels: bug, egui, emath

#4676 Make sure contents of a panel don't overflow
  crates/egui/src/containers/panel.rs
Labels: bug, egui

#4677 Fix doclinks in egui-wgpu docs
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/renderer.rs
Labels: docs and examples, egui-wgpu

#4620 Gif support
  Cargo.lock
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/image.rs
  crates/egui/src/widgets/image_button.rs
  crates/egui/src/widgets/mod.rs
  crates/egui_extras/Cargo.toml
  crates/egui_extras/src/loaders.rs
  crates/egui_extras/src/loaders/gif_loader.rs
  examples/images/src/ferris.gif
  examples/images/src/main.rs
Labels: egui, egui_extras

#4656 Fix dragging of `custom_window_frame` example on Windows
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-winit/src/lib.rs
  crates/egui_glow/src/winit.rs
  examples/custom_window_frame/src/main.rs
Labels: docs and examples, exclude from changelog

#4678 Abort drags when pressing escape key
  crates/egui/src/drag_and_drop.rs
  crates/egui/src/interaction.rs
Labels: egui

#4679 Fix: `Response::hover_pos` returns incorrect positions with layer transforms
  crates/egui/src/response.rs
Labels: bug, egui

#4684 Fix hello_world_par example on Linux
  Cargo.lock
  examples/hello_world_par/Cargo.toml
Labels: docs and examples, exclude from changelog

#4691 Put all `egui_demo_lib` tests into their own files in their own folder
  crates/egui_demo_lib/src/demo/about.rs
  crates/egui_demo_lib/src/demo/code_editor.rs
  crates/egui_demo_lib/src/demo/code_example.rs
  crates/egui_demo_lib/src/demo/context_menu.rs
  crates/egui_demo_lib/src/demo/dancing_strings.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/drag_and_drop.rs
  crates/egui_demo_lib/src/demo/extra_viewport.rs
  crates/egui_demo_lib/src/demo/font_book.rs
  crates/egui_demo_lib/src/demo/frame_demo.rs
  crates/egui_demo_lib/src/demo/highlighting.rs
  crates/egui_demo_lib/src/demo/mod.rs
  crates/egui_demo_lib/src/demo/multi_touch.rs
  crates/egui_demo_lib/src/demo/paint_bezier.rs
  crates/egui_demo_lib/src/demo/painting.rs
  crates/egui_demo_lib/src/demo/pan_zoom.rs
  crates/egui_demo_lib/src/demo/panels.rs
  crates/egui_demo_lib/src/demo/plot_demo.rs
  crates/egui_demo_lib/src/demo/scrolling.rs
  crates/egui_demo_lib/src/demo/sliders.rs
  crates/egui_demo_lib/src/demo/strip_demo.rs
  crates/egui_demo_lib/src/demo/table_demo.rs
  crates/egui_demo_lib/src/demo/tests.rs
  crates/egui_demo_lib/src/demo/tests/cursor_test.rs
  crates/egui_demo_lib/src/demo/tests/id_test.rs
  crates/egui_demo_lib/src/demo/tests/input_test.rs
  crates/egui_demo_lib/src/demo/tests/layout_test.rs
  crates/egui_demo_lib/src/demo/tests/manual_layout_test.rs
  crates/egui_demo_lib/src/demo/tests/mod.rs
  crates/egui_demo_lib/src/demo/tests/table_test.rs
  crates/egui_demo_lib/src/demo/tests/window_resize_test.rs
  crates/egui_demo_lib/src/demo/text_edit.rs
  crates/egui_demo_lib/src/demo/text_layout.rs
  crates/egui_demo_lib/src/demo/tooltips.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
  crates/egui_demo_lib/src/demo/window_options.rs
  crates/egui_demo_lib/src/lib.rs
Labels: refactor, exclude from changelog

#4693 Add an input event history tracker to the egui demo lib
  crates/egui/src/data/input.rs
  crates/egui/src/data/key.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/tests/input_event_history.rs
  crates/egui_demo_lib/src/demo/tests/input_test.rs
  crates/egui_demo_lib/src/demo/tests/mod.rs
Labels: docs and examples, exclude from changelog, dev-experience

#4683 Add `Key::Quote`
  crates/egui-winit/src/lib.rs
  crates/egui/src/data/key.rs
Labels: egui

#4689 doc(emath): Add `top_left` as an alias for `left_top`, etc.
  crates/emath/src/rect.rs
Labels: docs and examples, emath

#4690 Allow setting a layer as a sublayer of another
  crates/egui/src/context.rs
  crates/egui/src/memory.rs
  crates/egui_demo_lib/src/demo/pan_zoom.rs
Labels: bug, egui

#4696 Improve backtraces when hovering widgets with modifiers pressed
  Cargo.toml
  crates/egui/src/callstack.rs
Labels: feature, egui

#4704 Fix: respect existing text layout wrap settings in Label
  crates/egui/src/widgets/label.rs
Labels: bug, egui, exclude from changelog

#4706 `eframe::Result` is now short for `eframe::Result<()>`
  crates/eframe/src/lib.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/run.rs
  crates/egui_demo_app/src/main.rs
  examples/confirm_exit/src/main.rs
  examples/custom_3d_glow/src/main.rs
  examples/custom_font/src/main.rs
  examples/custom_font_style/src/main.rs
  examples/custom_keypad/src/main.rs
  examples/custom_plot_manipulation/src/main.rs
  examples/custom_window_frame/src/main.rs
  examples/file_dialog/src/main.rs
  examples/hello_world/src/main.rs
  examples/hello_world_par/src/main.rs
  examples/hello_world_simple/src/main.rs
  examples/images/src/main.rs
  examples/keyboard_events/src/main.rs
  examples/multiple_viewports/src/main.rs
  examples/puffin_profiler/src/main.rs
  examples/save_plot/src/main.rs
  examples/screenshot/src/main.rs
  examples/serial_windows/src/main.rs
  examples/user_attention/src/main.rs
  tests/test_size_pass/src/main.rs
  tests/test_ui_stack/src/main.rs
Labels: eframe

#4708 Fix: Menu popups and tooltips don't respect layer transforms
  crates/egui/src/containers/popup.rs
  crates/egui/src/menu.rs
  crates/egui/src/response.rs
Labels: bug, egui

#4710 Bug fix: report latest area size in `Area::show` response
  crates/egui/src/containers/area.rs
  crates/egui/src/menu.rs
Labels: bug, egui

#4711 Close context menus with Escape
  crates/egui/src/menu.rs
Labels: egui

#4713 Cancel DragValue edit if Escape is pressed
  crates/egui/src/widgets/drag_value.rs
Labels: egui

#4636 Add `PopupCloseBehavior`
  Cargo.lock
  crates/egui/src/containers/combo_box.rs
  crates/egui/src/containers/popup.rs
  examples/popups/Cargo.toml
  examples/popups/README.md
  examples/popups/src/main.rs
Labels: egui

#4712 `generate_changelog.py`: divide into "fixed/added/changed" sections
  scripts/generate_changelog.py
Labels: exclude from changelog, dev-experience

#4717 Refactor web event handling: break up into smaller functions
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/web_runner.rs
Labels: web, eframe, refactor

#4729 Fix broken mouse coordinates when there's padding on the canvas element
  crates/eframe/Cargo.toml
  crates/eframe/src/web/input.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/text_agent.rs
Labels: bug, web, eframe

#4716 Add basic test for egui accesskit output.
  crates/egui/tests/accesskit.rs
Labels: accessibility, egui, dev-experience

#4718 eframe web: ignore keyboard events unless canvas has focus
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/backend.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/input.rs
  crates/eframe/src/web/text_agent.rs
  crates/eframe/src/web/web_runner.rs
  web_demo/index.html
  web_demo/multiple_apps.html
Labels: web, eframe

#4728 Add `clamp_to_range` option to DragValue, rename `clamp_range` to `range` (deprecating the former)
  crates/egui/src/introspection.rs
  crates/egui/src/memory.rs
  crates/egui/src/style.rs
  crates/egui/src/widgets/color_picker.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui/src/widgets/slider.rs
  crates/egui_demo_lib/src/demo/code_example.rs
  crates/egui_demo_lib/src/demo/context_menu.rs
  crates/egui_demo_lib/src/demo/plot_demo.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
  examples/custom_plot_manipulation/src/main.rs
Labels: feature, egui

#4730 Only repaint on cursor movements of area, or if dragging outside
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/backend.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/input.rs
  crates/egui/src/context.rs
  crates/egui/src/input_state.rs
  crates/egui_demo_lib/src/demo/tests/input_event_history.rs
Labels: bug, web, eframe

#4732 eframe web: Fix drag-and-drop file preview/hover
  crates/eframe/src/web/events.rs
Labels: bug, web, eframe

#4731 eframe web: Fix stuck keys after pressing ctrl+C, cmd+A, etc
  crates/eframe/src/web/events.rs
Labels: bug, web, eframe

#4733 Ensure `Window` scroll bars are at the window edges
  crates/egui/src/containers/window.rs
Labels: bug, egui

#4738 egui_plot: Improve default formatter of tick-marks
  Cargo.lock
  crates/egui_demo_lib/src/demo/plot_demo.rs
  crates/egui_plot/Cargo.toml
  crates/egui_plot/src/axis.rs
  crates/egui_plot/src/lib.rs
  crates/emath/src/lib.rs
Labels: egui_plot

#4739 The default parser for `DragValue` and `Slider` now ignores whitespace
  crates/egui/src/widgets/drag_value.rs
Labels: egui

#4740 Add `Style::number_formatter` as the default used by `DragValue`
  crates/egui/src/style.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui/src/widgets/slider.rs
Labels: egui, style

#4741 Fix plot bounds of empty plots
  crates/egui_plot/src/lib.rs
  crates/egui_plot/src/transform.rs
Labels: bug, egui_plot
