Repository emilk/egui, pull requests merged in 2024-12, with the labels that each got.

#5410 Fix cargo machete
  .github/workflows/cargo_machete.yml
Labels: CI

#5421 Update MSRV to Rust 1.79
  .github/workflows/deploy_web_demo.yml
  .github/workflows/rust.yml
  Cargo.toml
  clippy.toml
  crates/eframe/src/epi.rs
  crates/eframe/src/native/event_loop_context.rs
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/eframe/src/web/web_runner.rs
  crates/egui-wgpu/src/renderer.rs
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/data/key.rs
  crates/egui/src/input_state/mod.rs
  crates/egui/src/layout.rs
  crates/egui/src/lib.rs
  crates/egui/src/memory/mod.rs
  crates/egui/src/style.rs
  crates/egui/src/widgets/slider.rs
  crates/egui_demo_lib/src/demo/sliders.rs
  crates/egui_demo_lib/src/easy_mark/easy_mark_parser.rs
  crates/emath/src/numeric.rs
  crates/emath/src/rect.rs
  crates/emath/src/smart_aim.rs
  crates/epaint/src/mutex.rs
  crates/epaint/src/text/text_layout_types.rs
  examples/confirm_exit/Cargo.toml
  examples/custom_3d_glow/Cargo.toml
  examples/custom_font/Cargo.toml
  examples/custom_font_style/Cargo.toml
  examples/custom_keypad/Cargo.toml
  examples/custom_style/Cargo.toml
  examples/custom_window_frame/Cargo.toml
  examples/file_dialog/Cargo.toml
  examples/hello_world/Cargo.toml
  examples/hello_world_par/Cargo.toml
  examples/hello_world_simple/Cargo.toml
  examples/images/Cargo.toml
  examples/keyboard_events/Cargo.toml
  examples/multiple_viewports/Cargo.toml
  examples/puffin_profiler/Cargo.toml
  examples/screenshot/Cargo.toml
  examples/serial_windows/Cargo.toml
  examples/user_attention/Cargo.toml
  rust-toolchain
  scripts/check.sh
  scripts/clippy_wasm/clippy.toml
  tests/test_egui_extras_compilation/Cargo.toml
  tests/test_inline_glow_paint/Cargo.toml
  tests/test_size_pass/Cargo.toml
  tests/test_ui_stack/Cargo.toml
  tests/test_viewports/Cargo.toml
Labels: CI, egui

#5415 Add new `Rect::intersects_ray_from_center` method
  crates/emath/src/rect.rs
  crates/emath/src/vec2.rs
Labels: emath

#3660 Fix cursor clipping in `TextEdit` inside a `ScrollArea`
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/widgets/text_edit/builder.rs
Labels: bug, egui

#5416 Allow attaching custom user data to a screenshot command
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/data/input.rs
  crates/egui/src/data/mod.rs
  crates/egui/src/data/user_data.rs
  crates/egui/src/lib.rs
  crates/egui/src/viewport.rs
  examples/screenshot/src/main.rs
Labels: feature, egui

#5414 Modals: Add `UiKind::Modal`, and consume escape-key properly
  crates/egui/src/containers/modal.rs
  crates/egui/src/ui_stack.rs
Labels: feature, egui, exclude from changelog

#5427 Improve error message when kittest fails
  CODEOWNERS
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_kittest/src/snapshot.rs
Labels: egui_kittest

#5426 Move `egui::util::cache` to `egui::cache`; add `FramePublisher`
  crates/egui/src/cache/cache_storage.rs
  crates/egui/src/cache/cache_trait.rs
  crates/egui/src/cache/frame_cache.rs
  crates/egui/src/cache/frame_publisher.rs
  crates/egui/src/cache/mod.rs
  crates/egui/src/lib.rs
  crates/egui/src/memory/mod.rs
  crates/egui/src/util/mod.rs
  crates/egui_extras/src/syntax_highlighting.rs
Labels: egui

#5420 Make text cursor always appear on click
  crates/egui/src/text_selection/visuals.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui/src/widgets/text_edit/state.rs
Labels: bug, egui

#5429 Fix `on_hover_text_at_pointer` for transformed layers
  crates/egui/src/containers/popup.rs
  crates/egui_demo_lib/src/demo/pan_zoom.rs
  crates/egui_demo_lib/tests/snapshots/demos/Pan Zoom.png
Labels: bug, egui

#5430 Add `Button::image_tint_follows_text_color`
  crates/egui/src/widgets/button.rs
Labels: feature, egui

#5432 Update to wgpu 23.0.1
  Cargo.lock
Labels: egui-wgpu, exclude from changelog

#5433 Consume escape keystroke when bailing out from a drag operation
  crates/egui/src/drag_and_drop.rs
Labels: feature, egui, drag-and-drop

#5431 Support loading images with weird urls and improve error message
  crates/egui/src/context.rs
  crates/egui/src/load.rs
  crates/egui_extras/src/image.rs
  crates/egui_extras/src/loaders/image_loader.rs
Labels: bug, egui_extras

#5437 Add `Color32::mul`
  crates/ecolor/src/color32.rs
  crates/egui/src/widgets/button.rs
Labels: ecolor

#5452 Fix drag-and-drop termination condition bug
  crates/egui/src/drag_and_drop.rs
Labels: bug, egui, exclude from changelog

#5455 Remove `Order::PanelResizeLine`
  crates/egui/src/layers.rs
Labels: egui

#5457 Update MSRV to 1.80
  .github/workflows/deploy_web_demo.yml
  .github/workflows/rust.yml
  Cargo.toml
  clippy.toml
  crates/eframe/src/web/app_runner.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui/src/containers/resize.rs
  crates/egui/src/grid.rs
  crates/egui/src/lib.rs
  crates/egui/src/widgets/color_picker.rs
  crates/egui/src/widgets/text_edit/state.rs
  crates/egui_demo_app/src/frame_history.rs
  crates/egui_extras/src/table.rs
  crates/egui_kittest/src/wgpu.rs
  crates/epaint/src/bezier.rs
  crates/epaint/src/texture_handle.rs
  examples/confirm_exit/Cargo.toml
  examples/custom_3d_glow/Cargo.toml
  examples/custom_font/Cargo.toml
  examples/custom_font_style/Cargo.toml
  examples/custom_keypad/Cargo.toml
  examples/custom_style/Cargo.toml
  examples/custom_window_frame/Cargo.toml
  examples/file_dialog/Cargo.toml
  examples/hello_world/Cargo.toml
  examples/hello_world_par/Cargo.toml
  examples/hello_world_simple/Cargo.toml
  examples/images/Cargo.toml
  examples/keyboard_events/Cargo.toml
  examples/multiple_viewports/Cargo.toml
  examples/puffin_profiler/Cargo.toml
  examples/screenshot/Cargo.toml
  examples/serial_windows/Cargo.toml
  examples/user_attention/Cargo.toml
  rust-toolchain
  scripts/check.sh
  scripts/clippy_wasm/clippy.toml
  tests/test_egui_extras_compilation/Cargo.toml
  tests/test_inline_glow_paint/Cargo.toml
  tests/test_size_pass/Cargo.toml
  tests/test_ui_stack/Cargo.toml
  tests/test_viewports/Cargo.toml
Labels: eframe, egui

#5456 Update some crates to fix CI
  Cargo.lock
  crates/egui_demo_app/Cargo.toml
  deny.toml
  examples/file_dialog/Cargo.toml
Labels: CI, dependencies, exclude from changelog

#5446 web_demo: make hash anchor case insensitive
  crates/egui_demo_app/src/wrap_app.rs
Labels: docs and examples, exclude from changelog

#5461 Fix pr preview vulnerability
  .github/workflows/preview_build.yml
  .github/workflows/preview_cleanup.yml
  .github/workflows/preview_deploy.yml
Labels: CI

#5459 Fix: don't interact with `Area` outside its `constrain_rect`
  crates/egui/src/containers/area.rs
Labels: bug, egui

#5465 Add `Context::layer_transform_to_global` & `layer_transform_from_global`
  crates/egui/src/containers/popup.rs
  crates/egui/src/context.rs
  crates/egui/src/hit_test.rs
  crates/egui/src/layers.rs
  crates/egui/src/memory/mod.rs
  crates/egui/src/menu.rs
  crates/egui/src/response.rs
  crates/egui/src/widgets/text_edit/builder.rs
Labels: egui

#5438 Add screenshot support for eframe web
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/web_painter.rs
  crates/eframe/src/web/web_painter_glow.rs
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/src/capture.rs
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/texture_copy.wgsl
  crates/egui-wgpu/src/winit.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/mod.rs
  crates/egui_demo_lib/src/demo/screenshot.rs
  crates/egui_demo_lib/tests/snapshots/demos/Screenshot.png
Labels: feature, eframe

#5318 Android support for eframe
  Cargo.lock
  crates/eframe/src/epi.rs
  crates/eframe/src/native/run.rs
  examples/hello_android/Cargo.toml
  examples/hello_android/README.md
  examples/hello_android/screenshot.png
  examples/hello_android/src/lib.rs
Labels: eframe, android

#5150 Use `profiling` crate to support more profiler backends
  Cargo.lock
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/eframe/src/epi.rs
  crates/eframe/src/icon_data.rs
  crates/eframe/src/lib.rs
  crates/eframe/src/native/app_icon.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/file_storage.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/native/winit_integration.rs
  crates/egui-wgpu/Cargo.toml
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/renderer.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui-winit/Cargo.toml
  crates/egui-winit/src/clipboard.rs
  crates/egui-winit/src/lib.rs
  crates/egui-winit/src/window_settings.rs
  crates/egui/Cargo.toml
  crates/egui/src/context.rs
  crates/egui/src/hit_test.rs
  crates/egui/src/input_state/mod.rs
  crates/egui/src/interaction.rs
  crates/egui/src/layers.rs
  crates/egui/src/lib.rs
  crates/egui/src/memory/mod.rs
  crates/egui/src/pass_state.rs
  crates/egui/src/util/id_type_map.rs
  crates/egui/src/viewport.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/main.rs
  crates/egui_extras/Cargo.toml
  crates/egui_extras/src/image.rs
  crates/egui_extras/src/lib.rs
  crates/egui_extras/src/syntax_highlighting.rs
  crates/egui_glow/Cargo.toml
  crates/egui_glow/src/lib.rs
  crates/egui_glow/src/painter.rs
  crates/epaint/Cargo.toml
  crates/epaint/src/lib.rs
  crates/epaint/src/mesh.rs
  crates/epaint/src/tessellator.rs
  examples/puffin_profiler/Cargo.toml
Labels: eframe, egui

#5466 Workaround for egui having wrong scale in firefox
  crates/eframe/src/web/events.rs
Labels: web, eframe

#5481 Revert "Workaround for egui having wrong scale in firefox"
  crates/eframe/src/web/events.rs
Labels: bug, web, eframe, exclude from changelog

#5482 Make frame delay on screenshots consistently one frame on web as well
  crates/eframe/src/web/app_runner.rs
  crates/egui/src/viewport.rs
Labels: web, exclude from changelog

#5483 Fix: ui.new_child should now respect 'disabled'
  crates/egui/src/ui.rs
Labels: bug, egui

#5484 Reduce aliasing when painting thin box outlines
  crates/epaint/src/tessellator.rs
Labels: visuals, epaint

#5485 Fix zero-width strokes still affecting the feathering color of boxes
  crates/epaint/src/stroke.rs
  crates/epaint/src/tessellator.rs
Labels: egui, epaint

#5487 Release 0.30 - egui_kittest and modals
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/ecolor/CHANGELOG.md
  crates/eframe/CHANGELOG.md
  crates/egui-wgpu/CHANGELOG.md
  crates/egui-winit/CHANGELOG.md
  crates/egui_extras/CHANGELOG.md
  crates/egui_glow/CHANGELOG.md
  crates/egui_kittest/CHANGELOG.md
  crates/epaint/CHANGELOG.md
  crates/epaint_default_fonts/CHANGELOG.md
Labels: exclude from changelog

#5486 Simplify kittest readme example
  crates/egui_kittest/README.md
  crates/egui_kittest/tests/snapshots/readme_example.png
Labels: docs and examples, exclude from changelog, egui_kittest

#5488 Revert "forward x11 and wayland features to glutin" (#5391)
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/egui_glow/Cargo.toml
Labels: bug, urgent, eframe, native-linux

#5490 Revert "Revert "forward x11 and wayland features to glutin" (#5391)"
  Cargo.toml
  crates/eframe/CHANGELOG.md
  crates/eframe/Cargo.toml
  crates/egui_glow/Cargo.toml
Labels: eframe, exclude from changelog

#5494 Use correct minimum version of `profiling` crate
  Cargo.toml
Labels: bug, egui

#5499 docs: remove "a"
  crates/egui/src/util/id_type_map.rs
Labels: typo

#5504 Provide better `debug_assert`s for ray intersections
  crates/emath/src/rect.rs
Labels: emath, exclude from changelog

#5516 Update to winit 0.30.7
  Cargo.lock
  Cargo.toml
Labels: egui-winit, dependencies

#5517 Round widget coordinates to even multiple of 1/32
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/panel.rs
  crates/egui/src/containers/resize.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/context.rs
  crates/egui/src/grid.rs
  crates/egui/src/layout.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
  crates/egui/src/widget_text.rs
  crates/egui_demo_lib/src/rendering_test.rs
  crates/egui_demo_lib/tests/snapshots/demos/Code Example.png
  crates/egui_demo_lib/tests/snapshots/demos/Context Menus.png
  crates/egui_demo_lib/tests/snapshots/demos/Dancing Strings.png
  crates/egui_demo_lib/tests/snapshots/demos/Drag and Drop.png
  crates/egui_demo_lib/tests/snapshots/demos/Extra Viewport.png
  crates/egui_demo_lib/tests/snapshots/demos/Font Book.png
  crates/egui_demo_lib/tests/snapshots/demos/Frame.png
  crates/egui_demo_lib/tests/snapshots/demos/Highlighting.png
  crates/egui_demo_lib/tests/snapshots/demos/Misc Demos.png
  crates/egui_demo_lib/tests/snapshots/demos/Multi Touch.png
  crates/egui_demo_lib/tests/snapshots/demos/Painting.png
  crates/egui_demo_lib/tests/snapshots/demos/Pan Zoom.png
  crates/egui_demo_lib/tests/snapshots/demos/Scrolling.png
  crates/egui_demo_lib/tests/snapshots/demos/Strip.png
  crates/egui_demo_lib/tests/snapshots/demos/Table.png
  crates/egui_demo_lib/tests/snapshots/demos/Text Layout.png
  crates/egui_demo_lib/tests/snapshots/demos/TextEdit.png
  crates/egui_demo_lib/tests/snapshots/demos/Undo Redo.png
  crates/egui_demo_lib/tests/snapshots/demos/Window Options.png
  crates/egui_demo_lib/tests/snapshots/modals_1.png
  crates/egui_demo_lib/tests/snapshots/modals_2.png
  crates/egui_demo_lib/tests/snapshots/modals_3.png
  crates/egui_demo_lib/tests/snapshots/modals_backdrop_should_prevent_focusing_lower_area.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.00.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.25.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.50.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.67.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.75.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_2.00.png
  crates/egui_demo_lib/tests/snapshots/widget_gallery.png
  crates/egui_extras/src/layout.rs
  crates/emath/src/gui_rounding.rs
  crates/emath/src/lib.rs
  crates/epaint/src/text/font.rs
  crates/epaint/src/text/fonts.rs
  crates/epaint/src/text/text_layout.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: layout, egui, emath

#5518 Make all lines and rectangles crisp
  crates/egui/src/containers/panel.rs
  crates/egui/src/containers/resize.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/context.rs
  crates/egui/src/introspection.rs
  crates/egui/src/painter.rs
  crates/egui/src/style.rs
  crates/egui/src/text_selection/visuals.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/separator.rs
  crates/egui_demo_lib/src/rendering_test.rs
  crates/egui_demo_lib/tests/snapshots/demos/Bézier Curve.png
  crates/egui_demo_lib/tests/snapshots/demos/Code Editor.png
  crates/egui_demo_lib/tests/snapshots/demos/Code Example.png
  crates/egui_demo_lib/tests/snapshots/demos/Context Menus.png
  crates/egui_demo_lib/tests/snapshots/demos/Dancing Strings.png
  crates/egui_demo_lib/tests/snapshots/demos/Drag and Drop.png
  crates/egui_demo_lib/tests/snapshots/demos/Extra Viewport.png
  crates/egui_demo_lib/tests/snapshots/demos/Font Book.png
  crates/egui_demo_lib/tests/snapshots/demos/Frame.png
  crates/egui_demo_lib/tests/snapshots/demos/Highlighting.png
  crates/egui_demo_lib/tests/snapshots/demos/Interactive Container.png
  crates/egui_demo_lib/tests/snapshots/demos/Misc Demos.png
  crates/egui_demo_lib/tests/snapshots/demos/Modals.png
  crates/egui_demo_lib/tests/snapshots/demos/Multi Touch.png
  crates/egui_demo_lib/tests/snapshots/demos/Painting.png
  crates/egui_demo_lib/tests/snapshots/demos/Pan Zoom.png
  crates/egui_demo_lib/tests/snapshots/demos/Panels.png
  crates/egui_demo_lib/tests/snapshots/demos/Screenshot.png
  crates/egui_demo_lib/tests/snapshots/demos/Scrolling.png
  crates/egui_demo_lib/tests/snapshots/demos/Sliders.png
  crates/egui_demo_lib/tests/snapshots/demos/Strip.png
  crates/egui_demo_lib/tests/snapshots/demos/Table.png
  crates/egui_demo_lib/tests/snapshots/demos/Text Layout.png
  crates/egui_demo_lib/tests/snapshots/demos/TextEdit.png
  crates/egui_demo_lib/tests/snapshots/demos/Tooltips.png
  crates/egui_demo_lib/tests/snapshots/demos/Undo Redo.png
  crates/egui_demo_lib/tests/snapshots/demos/Window Options.png
  crates/egui_demo_lib/tests/snapshots/modals_1.png
  crates/egui_demo_lib/tests/snapshots/modals_2.png
  crates/egui_demo_lib/tests/snapshots/modals_3.png
  crates/egui_demo_lib/tests/snapshots/modals_backdrop_should_prevent_focusing_lower_area.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.00.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.25.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.50.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.67.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.75.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_2.00.png
  crates/egui_demo_lib/tests/snapshots/widget_gallery.png
  crates/emath/src/gui_rounding.rs
  crates/epaint/src/lib.rs
  crates/epaint/src/shape.rs
  crates/epaint/src/shape_transform.rs
  crates/epaint/src/tessellator.rs
  examples/hello_android/Cargo.toml
Labels: egui, epaint

#5523 Fix interactive widgets sometimes being incorrectly marked as hovered
  crates/egui/src/interaction.rs
Labels: bug, egui

#5524 Tweak window resize handles
  crates/egui/src/containers/window.rs
Labels: egui

#5501 Make image extension lowercase before checking if it is supported
  crates/egui_extras/src/loaders/image_loader.rs
Labels: egui_extras

#5528 Fix build of egui.rs
  scripts/setup_web.sh
Labels: CI, exclude from changelog

#5527 Slight improvements to the demo
  crates/egui_demo_lib/src/demo/about.rs
  crates/egui_demo_lib/src/demo/code_example.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/font_book.rs
  crates/egui_demo_lib/tests/snapshots/demos/Code Example.png
Labels: docs and examples, exclude from changelog

#5531 Spelling update to documentation in frame.rs
  crates/egui/src/containers/frame.rs
Labels: typo, exclude from changelog

#5470 Animated WebP support
  Cargo.lock
  crates/egui/src/widgets/image.rs
  crates/egui/src/widgets/mod.rs
  crates/egui_extras/Cargo.toml
  crates/egui_extras/src/loaders.rs
  crates/egui_extras/src/loaders/gif_loader.rs
  crates/egui_extras/src/loaders/webp_loader.rs
  examples/images/screenshot.png
  examples/images/src/cat.webp
  examples/images/src/main.rs
Labels: egui, egui_extras

#5532 Add `OutputCommand` for copying text and opening URL:s
  crates/eframe/src/web/app_runner.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/context.rs
  crates/egui/src/data/output.rs
  crates/egui/src/lib.rs
  crates/egui/src/viewport.rs
  scripts/setup_web.sh
Labels: egui

#5533 Add `Context::copy_image`
  .vscode/settings.json
  Cargo.lock
  crates/eframe/Cargo.toml
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/mod.rs
  crates/egui-winit/Cargo.toml
  crates/egui-winit/src/clipboard.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/context.rs
  crates/egui/src/data/output.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/tests/clipboard_test.rs
  crates/egui_demo_lib/src/demo/tests/mod.rs
  crates/egui_demo_lib/src/rendering_test.rs
  crates/epaint/src/image.rs
Labels: egui

#5542 Fix cargo test --all-features breaking rendering due to unity vertexes
  .github/workflows/rust.yml
  CONTRIBUTING.md
  crates/egui/Cargo.toml
  crates/egui_demo_lib/tests/snapshots/demos/Code Editor.png
  crates/egui_demo_lib/tests/snapshots/demos/Code Example.png
  crates/epaint/Cargo.toml
  crates/epaint/src/mesh.rs
Labels: CI

#5198 Re-enable IME support on Linux
  crates/egui-winit/src/lib.rs
Labels: eframe, egui-winit, native-linux
