Repository emilk/egui, pull requests merged in 2024-04, with the labels that each got.

#4296 Only avoid glow context switching on Windows
  crates/eframe/src/native/glow_integration.rs
Labels: eframe, native-linux, native-windows

#4298 Rename "Color test" to "Rendering test", and restructure it slightly
  crates/egui_demo_app/src/wrap_app.rs
  crates/egui_demo_lib/src/lib.rs
  crates/egui_demo_lib/src/rendering_test.rs
Labels: docs and examples, exclude from changelog

#4299 Fix blurry rendering in some browsers
  crates/eframe/src/web/mod.rs
  web_demo/index.html
Labels: web, eframe

#4301 Support order on windows
  crates/egui/src/containers/window.rs
Labels: egui

#4307 egui_plots: Fix the same plot tick label being painted multiple times
  crates/egui_plot/src/lib.rs
Labels: bug, egui_plot

#4309 Allow disabling animations on a ScrollArea
  crates/egui/src/containers/scroll_area.rs
Labels: egui

#4314 Fix wrong replacement function in deprecation notice of `drag_released*`
  crates/egui/src/response.rs
Labels: egui

#4319 Consider layer transform when positioning text agent
  crates/egui/src/widgets/text_edit/builder.rs
Labels: bug, web, egui, IME

#4377 Fix incorrect line breaks
  crates/epaint/src/text/text_layout.rs
Labels: bug, egui, epaint

#4386 Update cargo-deny and some dependencies
  Cargo.lock
  deny.toml
Labels: dependencies, exclude from changelog

#4380 Expose `ClosestElem` and `PlotConfig`
  crates/egui_plot/src/items/mod.rs
  crates/egui_plot/src/lib.rs
Labels: egui_plot

#4372 Fix `hex_color!` macro by re-exporting `color_hex` crate from `ecolor`
  crates/ecolor/src/hex_color_macro.rs
  crates/ecolor/src/lib.rs
Labels: egui, ecolor, epaint

#4343 `egui`: Change `Ui::allocate_painter` to inherit properties from `Ui`
  crates/egui/src/ui.rs
Labels: bug, egui

#4325 Use parent `Ui`s style for popups
  .gitignore
  crates/egui/src/containers/popup.rs
Labels: egui

#4308 Fix : take `rounding` into account when using `Slider::trailing_fill`
  crates/egui/src/widgets/slider.rs
Labels: egui

#4357 Add a way to specify Undoer settings and construct Undoers more easily
  crates/egui/src/util/undoer.rs
Labels: egui

#4293 Add xtask crate
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  scripts/cargo_deny.sh
  xtask/Cargo.toml
  xtask/README.md
  xtask/src/deny.rs
  xtask/src/main.rs
  xtask/src/utils.rs
Labels: CI, egui

#4389 Add `emath::OrderedFloat` (moved from `epaint::util::OrderedFloat`)
  Cargo.lock
  crates/ecolor/src/rgba.rs
  crates/egui/Cargo.toml
  crates/egui/src/load.rs
  crates/egui/src/widgets/image.rs
  crates/egui_plot/src/items/mod.rs
  crates/egui_plot/src/lib.rs
  crates/emath/src/lib.rs
  crates/emath/src/ordered_float.rs
  crates/epaint/src/lib.rs
  crates/epaint/src/stroke.rs
  crates/epaint/src/text/fonts.rs
  crates/epaint/src/text/text_layout_types.rs
  crates/epaint/src/util/mod.rs
Labels: epaint, emath

#4035 Add `ViewportCommand::RequestCut`, `RequestCopy` and `RequestPaste` to trigger Clipboard actions
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/viewport.rs
  crates/egui_glow/src/winit.rs
Labels: egui

#4351 Fix `Panel` incorrect size
  crates/egui/src/containers/panel.rs
Labels: bug, egui

#4358 Improve IME support with new `Event::Ime`
  crates/eframe/src/web/text_agent.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/data/input.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui/src/widgets/text_edit/state.rs
Labels: bug, egui, IME

#4337 Allow users to create viewports larger than monitor on Windows & macOS
  crates/eframe/src/native/epi_integration.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/viewport.rs
Labels: eframe, egui

#4353 Added ability to define colors at UV coordinates along a path
  crates/ecolor/Cargo.toml
  crates/egui/src/painter.rs
  crates/egui_demo_lib/Cargo.toml
  crates/egui_demo_lib/src/demo/dancing_strings.rs
  crates/epaint/benches/benchmark.rs
  crates/epaint/src/bezier.rs
  crates/epaint/src/color.rs
  crates/epaint/src/lib.rs
  crates/epaint/src/shape.rs
  crates/epaint/src/shape_transform.rs
  crates/epaint/src/stroke.rs
  crates/epaint/src/tessellator.rs
  crates/epaint/src/text/text_layout.rs
Labels: egui, epaint

#4394 `egui-winit`: Update `webbrowser` to `v1.0.0`
  Cargo.lock
  crates/egui-winit/Cargo.toml
Labels: egui-winit, dependencies

#4395 eframe: Use `objc2` and its framework crates
  Cargo.lock
  crates/eframe/Cargo.toml
  crates/eframe/src/native/app_icon.rs
  deny.toml
Labels: eframe, dependencies

#4408 eframe: update ViewportBuilder.with_icon() documentation
  crates/egui/src/viewport.rs
Labels: docs and examples, egui

#4417 Fix some typos from the cranky-clippy transition
  .vscode/settings.json
  Cargo.toml
  clippy.toml
Labels: CI, typo, exclude from changelog

#4421 Enable egui_glow's winit feature on wasm (#4420)
  crates/egui_glow/Cargo.toml
  crates/egui_glow/src/lib.rs
Labels: egui_glow

#4422 crates: egui_demo_lib: Fix table height
  crates/egui_demo_lib/src/demo/table_demo.rs
Labels: docs and examples, exclude from changelog

#4428 Add a `Display` impl for `Vec2`, `Pos2`, and `Rect`
  crates/emath/src/pos2.rs
  crates/emath/src/rect.rs
  crates/emath/src/vec2.rs
Labels: egui, epaint, emath

#4433 Update to wgpu 0.20
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  crates/egui-wgpu/src/renderer.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/apps/custom3d_wgpu.rs
  scripts/setup_web.sh
Labels: egui-wgpu, dependencies
