Repository emilk/egui, pull requests merged in 2024-09, with the labels that each got.

#5049 CI: Update `cache-apt-pkgs-action`
  .github/workflows/rust.yml
Labels: CI, exclude from changelog

#4904 Remove the `directories` dependency
  Cargo.lock
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/eframe/src/epi.rs
  crates/eframe/src/native/file_storage.rs
Labels: eframe, dependencies

#5036 Add `egui::Sides` for adding UI on left and right sides
  crates/egui/src/containers/mod.rs
  crates/egui/src/containers/sides.rs
  crates/egui/src/input_state/mod.rs
  crates/egui/src/lib.rs
  crates/egui/src/memory/mod.rs
  crates/egui_demo_lib/src/demo/table_demo.rs
  crates/egui_extras/src/table.rs
  scripts/check.sh
Labels: feature, layout, egui

#5060 Allow non-`static` `eframe::App` lifetime
  crates/eframe/src/epi.rs
  crates/eframe/src/lib.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/web_runner.rs
Labels: eframe

#5068 Add `ui.shrink_clip_rect`
  crates/egui/src/painter.rs
  crates/egui/src/ui.rs
  crates/egui_extras/src/layout.rs
Labels: egui

#5070 Add `ScrollArea::scroll_bar_rect`
  crates/egui/src/containers/scroll_area.rs
Labels: feature, egui

#5056 Conditionally propagate web events using a filter in WebOptions
  crates/eframe/src/epi.rs
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/events.rs
Labels: feature, web, eframe

#4942 Add `Options::input_options` for click-delay etc
  crates/egui/src/input_state/mod.rs
  crates/egui/src/memory/mod.rs
Labels: feature, egui

#5074 Deprecate `ui.set_sizing_pass`
  crates/egui/src/containers/area.rs
  crates/egui/src/grid.rs
  crates/egui/src/ui.rs
  crates/egui/src/ui_builder.rs
Labels: egui

#5076 Fix bug in size calculation of truncated text
  crates/epaint/src/text/text_layout.rs
Labels: bug, egui, epaint

#5077 Fix text sometime line-breaking or truncating too early
  crates/epaint/src/text/text_layout.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: bug, epaint

#5081 Add `WidgetType::RadioGroup`
  crates/egui/src/data/output.rs
  crates/egui/src/lib.rs
  crates/egui/src/response.rs
Labels: egui

#5083 Add return value to `with_accessibility_parent`
  crates/egui/src/context.rs
Labels: feature, accessibility, egui

#5087 Export module `egui::frame`
  crates/egui/src/containers/mod.rs
Labels: egui

#4952 Update `glow` to 0.14
  Cargo.lock
  Cargo.toml
  crates/eframe/src/native/glow_integration.rs
  crates/egui_glow/examples/pure_glow.rs
  deny.toml
Labels: egui_glow, dependencies

#5011 Remove reference to egui::Color32.
  crates/egui-wgpu/src/renderer.rs
Labels: exclude from changelog

#5088 Use precomputed lookup table in Color32::from_rgba_unmultiplied
  crates/ecolor/src/color32.rs
  crates/epaint/benches/benchmark.rs
Labels: performance, epaint

#5055 Add `Ui::with_visual_transform`
  crates/egui/src/layers.rs
  crates/egui/src/ui.rs
Labels: feature, egui

#5090 Use Style's font size in egui_extras::syntax_highlighting
  crates/egui_demo_app/src/apps/http_app.rs
  crates/egui_demo_lib/src/demo/code_editor.rs
  crates/egui_demo_lib/src/demo/code_example.rs
  crates/egui_demo_lib/src/lib.rs
  crates/egui_extras/src/syntax_highlighting.rs
Labels: egui_extras, style

#4744 Make Light & Dark Visuals Customizable When Following The System Theme
  Cargo.lock
  crates/eframe/src/epi.rs
  crates/egui/src/context.rs
  crates/egui/src/lib.rs
  crates/egui/src/memory/mod.rs
  crates/egui/src/memory/theme.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/color_picker.rs
  crates/egui/src/widgets/mod.rs
  crates/egui_demo_app/src/wrap_app.rs
  crates/egui_demo_lib/src/demo/scrolling.rs
  crates/egui_extras/src/syntax_highlighting.rs
  examples/custom_font_style/src/main.rs
  examples/custom_keypad/src/main.rs
  examples/custom_style/Cargo.toml
  examples/custom_style/README.md
  examples/custom_style/screenshot.png
  examples/custom_style/src/main.rs
  examples/custom_window_frame/src/main.rs
  examples/screenshot/src/main.rs
  tests/test_ui_stack/src/main.rs
Labels: feature, egui, style

#5104 Fix: Make sure `RawInput::take` clears all events, like it says it does
  crates/egui/src/data/input.rs
Labels: bug, egui

#5105 Make `Slider` and `DragValue` compatible with `NonZeroUsize` etc
  crates/emath/src/numeric.rs
Labels: feature, egui, emath

#5098 Add opt-out `fragile-send-sync-non-atomic-wasm` feature for wgpu
  .github/workflows/rust.yml
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/egui-wgpu/Cargo.toml
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/renderer.rs
Labels: egui-wgpu

#5059 Add `Context::request_discard`
  README.md
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/native/winit_integration.rs
  crates/eframe/src/web/app_runner.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/containers/combo_box.rs
  crates/egui/src/containers/panel.rs
  crates/egui/src/containers/popup.rs
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/context.rs
  crates/egui/src/data/output.rs
  crates/egui/src/debug_text.rs
  crates/egui/src/drag_and_drop.rs
  crates/egui/src/grid.rs
  crates/egui/src/input_state/mod.rs
  crates/egui/src/input_state/touch_state.rs
  crates/egui/src/lib.rs
  crates/egui/src/load.rs
  crates/egui/src/load/texture_loader.rs
  crates/egui/src/memory/mod.rs
  crates/egui/src/menu.rs
  crates/egui/src/painter.rs
  crates/egui/src/pass_state.rs
  crates/egui/src/response.rs
  crates/egui/src/text_selection/label_text_selection.rs
  crates/egui/src/ui.rs
  crates/egui/src/viewport.rs
  crates/egui/tests/accesskit.rs
  crates/egui_demo_app/src/backend_panel.rs
  crates/egui_demo_app/src/main.rs
  crates/egui_demo_lib/benches/benchmark.rs
  crates/epaint/src/text/fonts.rs
  crates/epaint/src/text/text_layout_types.rs
  tests/test_viewports/src/main.rs
Labels: feature, egui

#5010 Use `log` crate instead of `eprintln` & remove some unwraps
  Cargo.lock
  Cargo.toml
  crates/eframe/src/native/glow_integration.rs
  crates/egui/src/hit_test.rs
  crates/egui_demo_app/src/main.rs
  crates/emath/src/rect.rs
  crates/emath/src/smart_aim.rs
  crates/epaint/src/tessellator.rs
  examples/puffin_profiler/Cargo.toml
  examples/puffin_profiler/src/main.rs
  examples/serial_windows/Cargo.toml
  examples/serial_windows/src/main.rs
  xtask/src/utils.rs
Labels: egui

#5114 Fix: call `save` when hiding tab, and `update` when focusing it
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/events.rs
Labels: bug, web, eframe

#5118 Fix `DragValue` range clamping
  crates/egui/src/widgets/drag_value.rs
  crates/egui/src/widgets/slider.rs
Labels: bug, feature, egui

#5119 Add `Slider::clamping` for precise clamp control
  crates/egui/src/response.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui/src/widgets/mod.rs
  crates/egui/src/widgets/slider.rs
  crates/egui_demo_lib/src/demo/sliders.rs
Labels: bug, egui

#4868 Fix: panic when dragging window between monitors of different pixels_per_point
  crates/egui/src/context.rs
  crates/egui/src/layers.rs
Labels: bug, egui

#5123 Fix text selection of only whitespace
  crates/egui/src/text_selection/visuals.rs
Labels: bug, visuals, egui, exclude from changelog

#5115 Fix: `Event::Copy` and `Event::Cut` behave as if they select the entire text when there is no selection.
  crates/egui/src/widgets/text_edit/builder.rs
Labels: egui

#5125 Add UI to modify `FontTweak` live
  crates/egui/src/context.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
  crates/egui_demo_lib/src/demo/font_book.rs
  crates/epaint/src/text/font.rs
  crates/epaint/src/text/fonts.rs
  crates/epaint/src/text/text_layout.rs
Labels: text, egui, style

#5122 Update sampler along with texture on wgpu backend
  crates/egui-wgpu/src/renderer.rs
Labels: bug, egui-wgpu

#5117 Center-align all text vertically
  crates/egui/src/style.rs
  crates/egui/src/text_selection/accesskit_text.rs
  crates/egui/src/ui.rs
  crates/egui/src/widget_text.rs
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/label.rs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
  crates/epaint/src/text/font.rs
  crates/epaint/src/text/fonts.rs
  crates/epaint/src/text/text_layout.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: text, egui, epaint, style

#5082 Add `Response::intrinsic_size` to enable better layout in 3rd party crates
  crates/egui/src/context.rs
  crates/egui/src/response.rs
  crates/egui/src/ui.rs
Labels: feature, egui

#5054 Interactive `Ui`:s: add `UiBuilder::sense` and `Ui::response`
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/context.rs
  crates/egui/src/menu.rs
  crates/egui/src/response.rs
  crates/egui/src/ui.rs
  crates/egui/src/ui_builder.rs
  crates/egui/src/widget_rect.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/interactive_container.rs
  crates/egui_demo_lib/src/demo/mod.rs
Labels: feature, layout, egui

#5130 Remember to call `ui.register_rect` for better debug
  crates/egui/src/callstack.rs
  crates/egui/src/ui.rs
Labels: egui, exclude from changelog

#5129 Add `gtk-egui-area` integration to README
  README.md
Labels: docs and examples, exclude from changelog

#5133 Fix empty grids repeatedly requesting a discard
  crates/egui/src/grid.rs
Labels: bug, egui, exclude from changelog

#5131 Add PR preview deployments
  .github/workflows/preview_build.yml
  .github/workflows/preview_cleanup.yml
  .github/workflows/preview_deploy.yml
  web_demo/index.html
Labels: CI

#5134 Keep track of why `request_discard` was called
  crates/eframe/src/web/app_runner.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/context.rs
  crates/egui/src/data/output.rs
  crates/egui/src/grid.rs
  crates/egui_demo_app/src/backend_panel.rs
Labels: egui, exclude from changelog

#5143 Fix error in Response::dragged docs
  crates/egui/src/response.rs
Labels: docs and examples, egui

#5137 Fix pan_zoom demo constraining windows
  crates/egui_demo_lib/src/demo/pan_zoom.rs
Labels: bug, docs and examples, exclude from changelog

#5139 Clamp font size to between 0.1 and 2048
  crates/epaint/src/text/fonts.rs
Labels: egui, epaint, exclude from changelog

#5052 Improve documentation grammar and wording
  crates/egui/src/memory/mod.rs
Labels: docs and examples, egui, exclude from changelog

#5146 Add support for mipmap textures.
  crates/egui_glow/src/painter.rs
  crates/epaint/src/textures.rs
Labels: feature, egui_glow, egui

#5149 Wgpu render pass on paint callback has now static lifetime
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/src/renderer.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui_demo_app/src/apps/custom3d_wgpu.rs
Labels: egui-wgpu

#5162 More compact `Debug` formatting of `Color32`
  crates/ecolor/src/color32.rs
Labels: egui, epaint, exclude from changelog

#5161 Prevent text shrinking in tooltips; round wrap-width to integer
  crates/epaint/src/text/fonts.rs
Labels: bug, egui, epaint

#5165 Add `DebugOptions::show_unaligned`
  crates/ecolor/src/color32.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
Labels: egui, dev-experience

#5168 Fix bug causing tooltips with dynamic content to shrink
  crates/egui/src/response.rs
  tests/test_size_pass/src/main.rs
Labels: bug, layout, egui

#5169 Document the fact that the hex_color macro is not const
  crates/ecolor/src/hex_color_macro.rs
  crates/ecolor/src/hex_color_runtime.rs
Labels: docs and examples, ecolor

#5159 egui_extras: Add `TableBuilder::animate_scrolling`
  crates/egui_extras/src/table.rs
Labels: egui_extras

#5100 Add back `Context::set_visuals()`
  crates/egui/src/context.rs
Labels: exclude from changelog

#5185 Replace "an ui" with "a ui"
  CHANGELOG.md
  crates/egui/src/layout.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/checkbox.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui/src/widgets/hyperlink.rs
  crates/egui/src/widgets/image.rs
  crates/egui/src/widgets/image_button.rs
  crates/egui/src/widgets/label.rs
  crates/egui/src/widgets/mod.rs
  crates/egui/src/widgets/progress_bar.rs
  crates/egui/src/widgets/radio_button.rs
  crates/egui/src/widgets/selected_label.rs
  crates/egui/src/widgets/separator.rs
  crates/egui/src/widgets/slider.rs
  crates/egui/src/widgets/spinner.rs
  crates/egui/src/widgets/text_edit/builder.rs
Labels: docs and examples, typo, exclude from changelog

#5191 Remove debug-assert triggered by `with_layer_id/dnd_drag_source`
  crates/egui/src/ui.rs
  crates/egui/src/widget_rect.rs
Labels: bug, egui

#5193 Bug fix: click anywhere on a `Table` row to select it
  crates/egui_extras/src/layout.rs
Labels: egui_extras

#5192 Fix id clash in `Ui::response`
  crates/egui/src/ui.rs
Labels: bug, egui

#5188 Fix backspace/arrow keys in TextEdit on Linux
  crates/egui-winit/src/lib.rs
Labels: bug, eframe, egui-winit, native-linux, IME

#5196 Do not round panel rectangles to pixel grid
  crates/egui/src/containers/panel.rs
Labels: bug, layout, egui
