Repository emilk/egui, pull requests merged in 2024-07, with the labels that each got.

#4749 Persist `Area` positions again
  crates/eframe/src/web/web_logger.rs
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/combo_box.rs
  crates/egui/src/containers/popup.rs
  crates/egui/src/context.rs
  crates/egui/src/memory.rs
Labels: egui

#4751 Prevent `TextEdit` widgets from sending fake primary clicks
  crates/egui/src/widgets/text_edit/builder.rs
Labels: bug, egui

#4754 Make it easier to grab the handle of a floating scroll bar
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/style.rs
Labels: egui, style

#4755 Improve `egui_extras::Table` layout
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/tests/grid_test.rs
  crates/egui_demo_lib/src/demo/tests/mod.rs
  crates/egui_extras/src/datepicker/popup.rs
  crates/egui_extras/src/layout.rs
  crates/egui_extras/src/sizing.rs
  crates/egui_extras/src/table.rs
Labels: egui_extras

#4757 Fix menus and interactive popups not closing when framerate was low
  crates/egui/src/input_state.rs
  crates/egui/src/menu.rs
  crates/egui/src/response.rs
Labels: bug, egui

#4760 Fix text selection when there's multiple viewports
  crates/egui/src/context.rs
  crates/egui/src/text_selection/label_text_selection.rs
Labels: bug, egui, viewports

#4761 Save `FrameState` of previous frame
  crates/egui/src/context.rs
  crates/egui/src/frame_state.rs
  crates/egui/src/response.rs
Labels: egui, refactor

#4762 When debugging widget rects on hover, show width and height
  crates/egui/src/painter.rs
  crates/egui/src/ui.rs
Labels: egui, dev-experience

#4763 Only show one tooltip per layer at a time
  crates/egui/src/containers/popup.rs
  crates/egui/src/frame_state.rs
  crates/egui/src/response.rs
Labels: bug, egui, exclude from changelog

#4766 Make sure all tooltips close if you open a menu in the same layer
  crates/egui/src/containers/popup.rs
  crates/egui/src/frame_state.rs
  crates/egui/src/menu.rs
  crates/egui/src/response.rs
Labels: egui

#4769 Use correct cursor icons when resizing panels too wide or narrow
  crates/egui/src/containers/panel.rs
Labels: bug, egui, style

#4778 Better documentation for `Event::Zoom`
  CHANGELOG.md
  crates/egui/src/data/input.rs
  crates/egui/src/input_state.rs
Labels: docs and examples, egui

#4779 Fix default height of top/bottom panels
  crates/egui/src/containers/panel.rs
Labels: bug, egui

#4775 Check if the mouse / touch event is above the canvas via element_from_point
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/input.rs
Labels: bug, web, eframe

#4720 Add `Image::uri()`
  crates/egui/src/widgets/image.rs
Labels: egui

#4782 Show the innermost debug rectangle when pressing all modifier keys
  crates/egui/src/context.rs
  crates/egui/src/frame_state.rs
  crates/egui/src/lib.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
  crates/epaint/src/bezier.rs
  crates/epaint/src/lib.rs
  scripts/clippy_wasm/clippy.toml
Labels: bug, egui, dev-experience

#4784 Hide tooltips when scrolling
  crates/egui/src/context.rs
  crates/egui/src/input_state.rs
  crates/egui/src/response.rs
  crates/egui/src/text_selection/visuals.rs
  crates/egui_demo_lib/src/demo/tooltips.rs
Labels: egui, style

#4786 Make `serde` a default (opt-out) feature of `egui_extras`
  crates/egui_extras/Cargo.toml
Labels: egui_extras

#4787 Smoother animations
  crates/egui/src/animation_manager.rs
  crates/egui/src/containers/area.rs
  crates/egui/src/context.rs
Labels: egui, style

#4789 Hide tooltip on click
  crates/egui/src/input_state.rs
  crates/egui/src/response.rs
Labels: egui, style

#4796 Fix typos
  crates/egui/src/context.rs
  crates/egui_demo_lib/src/demo/tooltips.rs
  crates/egui_plot/src/axis.rs
  crates/egui_plot/src/legend.rs
  crates/egui_plot/src/lib.rs
  crates/egui_plot/src/plot_ui.rs
Labels: typo

#4790 Remove dead code (`EpiIntegration::frame_start`)
  crates/eframe/src/native/epi_integration.rs
Labels: eframe, refactor, exclude from changelog

#4794 Handle the IME event first in `TextEdit` to fix some bugs
  crates/egui/src/widgets/text_edit/builder.rs
Labels: bug, egui, IME

#4748 Add a menu button with text and image
  crates/egui/src/menu.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/image_button.rs
Labels: egui

#4814 eframe: Improve `glow` context switching
  crates/eframe/src/native/glow_integration.rs
Labels: eframe

#4815 epaint: add some missing inline docs
  crates/epaint/src/mesh.rs
Labels: docs and examples, epaint

#4817 Change default `max_scroll_height` of `egui::Table` to `f32::INFINITY`
  crates/egui_extras/src/table.rs
Labels: egui_extras

#4822 Slider: round to decimals after applying `step_by`
  crates/egui/src/widgets/slider.rs
Labels: bug, egui

#4820 Add `TableRow::set_hovered`
  crates/egui_extras/src/table.rs
Labels: egui_extras

#4811 Add undo/redo demo.
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/mod.rs
  crates/egui_demo_lib/src/demo/undo_redo.rs
Labels: docs and examples, egui

#4764 Add `Ui::columns_const()`
  crates/egui/src/ui.rs
Labels: egui

#4826 Remove some debug asserts
  crates/ecolor/src/color32.rs
  crates/egui/src/layout.rs
  crates/egui/src/placer.rs
  crates/egui/src/ui.rs
Labels: egui

#4827 Revert "Don't specify a patch version of rust in rust-toolchain"
  rust-toolchain
Labels: CI, exclude from changelog

#4828 Move `egui_plot` to its own repo
  .github/workflows/labels.yml
  ARCHITECTURE.md
  CHANGELOG.md
  CODEOWNERS
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/egui_demo_lib/Cargo.toml
  crates/egui_demo_lib/src/demo/context_menu.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/mod.rs
  crates/egui_demo_lib/src/demo/plot_demo.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
  crates/egui_plot/CHANGELOG.md
  crates/egui_plot/Cargo.toml
  crates/egui_plot/README.md
  crates/egui_plot/src/axis.rs
  crates/egui_plot/src/items/bar.rs
  crates/egui_plot/src/items/box_elem.rs
  crates/egui_plot/src/items/mod.rs
  crates/egui_plot/src/items/rect_elem.rs
  crates/egui_plot/src/items/values.rs
  crates/egui_plot/src/legend.rs
  crates/egui_plot/src/lib.rs
  crates/egui_plot/src/memory.rs
  crates/egui_plot/src/plot_ui.rs
  crates/egui_plot/src/transform.rs
  examples/custom_plot_manipulation/Cargo.toml
  examples/custom_plot_manipulation/README.md
  examples/custom_plot_manipulation/screenshot.png
  examples/custom_plot_manipulation/src/main.rs
  examples/save_plot/Cargo.toml
  examples/save_plot/README.md
  examples/save_plot/screenshot.png
  examples/save_plot/src/main.rs
  scripts/generate_changelog.py
Labels: egui_plot, dev-experience

#4780 Use canvas directly
  crates/eframe/src/lib.rs
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/web_painter.rs
  crates/eframe/src/web/web_painter_glow.rs
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/eframe/src/web/web_runner.rs
  crates/egui_demo_app/src/web.rs
  web_demo/index.html
  web_demo/multiple_apps.html
Labels: web, eframe

#4673 Add `Rect::scale_from_center`
  crates/emath/src/rect.rs
Labels: emath

#4823 Make sure SVGs are crisp
  crates/egui/src/load.rs
  crates/egui/src/widgets/image.rs
Labels: bug, egui, egui_extras

#4829 Return `ScrollAreaOutput` from `Table::body`
  crates/egui_extras/src/table.rs
Labels: egui_extras

#4847 upgrade to wgpu 22.0.0
  Cargo.lock
  Cargo.toml
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/renderer.rs
  crates/egui_demo_app/src/apps/custom3d_wgpu.rs
  deny.toml
Labels: egui-wgpu

#4848 Force canvas/text input focus on touch for iOS web browsers
  crates/eframe/Cargo.toml
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/text_agent.rs
Labels: web, eframe, iOS

#4876 Workaround for wgpu crash when surface is dropped last
  crates/egui-wgpu/src/winit.rs
Labels: egui-wgpu, exclude from changelog

#4873 Clamp margin values in `Margin::ui`
  crates/egui/src/style.rs
Labels: egui

#4869 Fix typos in egui docstrings
  crates/egui/src/context.rs
  crates/egui/src/lib.rs
Labels: typo

#4846 Clarified `eframe::run_simple_native()` persistence
  crates/eframe/src/lib.rs
Labels: eframe, docs and examples

#4889 Fix: hint text follows the alignment set on the `TextEdit`
  crates/egui/src/widgets/text_edit/builder.rs
Labels: bug, egui

#4849 Upgrade winit to 0.30.2
  Cargo.lock
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/eframe/src/epi.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/event_loop_context.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/mod.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/native/winit_integration.rs
  crates/egui-wgpu/Cargo.toml
  crates/egui-winit/Cargo.toml
  crates/egui-winit/src/lib.rs
  crates/egui-winit/src/window_settings.rs
  crates/egui/Cargo.toml
  crates/egui/src/context.rs
  crates/egui/src/response.rs
  crates/egui/src/text_selection/label_text_selection.rs
  crates/egui/tests/accesskit.rs
  crates/egui_glow/Cargo.toml
  crates/egui_glow/examples/pure_glow.rs
  crates/egui_glow/src/winit.rs
  deny.toml
  examples/serial_windows/src/main.rs
Labels: eframe, egui-winit, dependencies

#4305 Make `scroll_to_*` animations configurable
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/frame_state.rs
  crates/egui/src/response.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
Labels: egui, style

#4851 Fix iOS compilation of eframe
  crates/eframe/src/native/run.rs
Labels: bug, eframe, iOS
