Repository emilk/egui, pull requests merged in 2024-08, with the labels that each got.

#4916 Fix missing `winit` feature in `egui_glow`
  crates/egui_glow/Cargo.toml
Labels: egui_glow

#4912 Fix: Backspace not working after IME input
  crates/egui-winit/src/lib.rs
Labels: eframe, egui-winit, IME

#4891 Update `Button` to correctly align contained image
  crates/egui/src/widgets/button.rs
Labels: layout, egui

#4860 Follow the System Theme in egui
  crates/eframe/src/epi.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/native/winit_integration.rs
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/web_runner.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/data/input.rs
  crates/egui/src/lib.rs
  crates/egui/src/memory.rs
  crates/egui/src/memory/theme.rs
  crates/egui_glow/examples/pure_glow.rs
  crates/egui_glow/src/winit.rs
Labels: eframe, egui

#4939 Unpin & upgrade winit to 0.30.5
  Cargo.lock
  Cargo.toml
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-winit/Cargo.toml
  crates/egui_glow/examples/pure_glow.rs
  crates/egui_glow/src/winit.rs
Labels: eframe, egui-winit, dependencies

#4907 Add close_button option to test_viewports
  tests/test_viewports/src/main.rs
Labels: exclude from changelog, tests

#4969 Create a `UiBuilder` for building `Ui`s
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/combo_box.rs
  crates/egui/src/containers/frame.rs
  crates/egui/src/containers/panel.rs
  crates/egui/src/containers/resize.rs
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/grid.rs
  crates/egui/src/lib.rs
  crates/egui/src/ui.rs
  crates/egui/src/ui_builder.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
  crates/egui_extras/src/layout.rs
  examples/custom_window_frame/src/main.rs
  tests/test_viewports/src/main.rs
Labels: egui

#4862 Fix crash when changing viewport settings
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
Labels: bug, eframe, viewports

#4994 Add `TextWrapMode` in `Style ui`
  crates/egui/src/style.rs
Labels: egui, exclude from changelog

#4967 Fix `Id` clash in `Frame` styling widget
  crates/egui/src/style.rs
Labels: bug, egui

#4933 `egui_extras`: Fix file mime from path (wrong feature name)
  crates/egui/src/data/input.rs
  crates/egui_extras/src/loaders/file_loader.rs
Labels: bug, egui_extras

#4980 Update `web-sys` & `wasm-bindgen`
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/mod.rs
  crates/egui_demo_app/Cargo.toml
  scripts/setup_web.sh
Labels: web, eframe

#4992 Add additional cases and the egui inspectors to the `test_ui_stack` example
  tests/test_ui_stack/src/main.rs
Labels: egui, tests

#5005 Fix CI
  crates/eframe/src/native/epi_integration.rs
  crates/egui-winit/src/lib.rs
Labels: CI, exclude from changelog

#4919 Fix eframe centering on multiple monitor systems
  crates/eframe/src/native/epi_integration.rs
Labels: bug, eframe

#4953 Add `Slider::max_decimals_opt`
  crates/egui/src/widgets/slider.rs
Labels: egui

#4975 Add `Label::halign`
  crates/egui/src/widgets/label.rs
Labels: feature, egui

#5000 Remove the need for setting `web_sys_unstable_apis`
  .cargo/config.toml
  .github/workflows/deploy_web_demo.yml
  .github/workflows/rust.yml
  crates/eframe/Cargo.toml
  crates/eframe/README.md
  crates/eframe/src/lib.rs
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/web_runner.rs
  scripts/build_demo_web.sh
  scripts/check.sh
  scripts/wasm_bindgen_check.sh
Labels: web, eframe

#4855 Fix virtual keyboard on (mobile) web
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/text_agent.rs
Labels: web, eframe

#4840 Avoid some `Id` clashes by seeding auto-ids with child id
  crates/egui/src/ui.rs
Labels: egui

#5006 Prevent `ScrollArea` contents from exceeding the container size
  crates/egui/src/containers/scroll_area.rs
Labels: bug, egui

#5014 Fix compilation of `egui_extras` without `serde` feature
  .github/workflows/rust.yml
  Cargo.lock
  crates/egui_extras/Cargo.toml
  crates/egui_extras/src/syntax_highlighting.rs
  crates/egui_extras/src/table.rs
  tests/test_egui_extras_compilation/Cargo.toml
  tests/test_egui_extras_compilation/README.md
  tests/test_egui_extras_compilation/src/main.rs
Labels: bug, CI, egui_extras

#5017 Nicer looking text selection, especially in light mode
  crates/egui/src/layers.rs
  crates/egui/src/text_selection/label_text_selection.rs
  crates/egui/src/text_selection/visuals.rs
  crates/egui/src/widgets/hyperlink.rs
  crates/egui/src/widgets/label.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/epaint/src/text/text_layout.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: egui, style

#4896 Fix: Ensures correct IME behavior when the text input area gains or loses focus.
  crates/egui/src/widgets/text_edit/builder.rs
Labels: egui, IME

#5022 Add `TableBuilder::id_source`
  crates/egui_extras/src/table.rs
Labels: egui_extras

#5023 Truncate text in clipped `Table` columns
  crates/egui/src/ui_builder.rs
  crates/egui_extras/src/layout.rs
  crates/egui_extras/src/table.rs
Labels: feature, egui_extras

#4943 Fix blurry lines
  crates/egui/src/containers/panel.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/context.rs
  crates/egui/src/painter.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/separator.rs
  crates/egui_demo_app/src/wrap_app.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/rendering_test.rs
  crates/epaint/src/stroke.rs
  crates/epaint/src/tessellator.rs
Labels: visuals, egui, epaint

#5030 Enable rustdoc `generate-link-to-definition` feature on docs.rs
  crates/ecolor/Cargo.toml
  crates/eframe/Cargo.toml
  crates/egui-wgpu/Cargo.toml
  crates/egui-winit/Cargo.toml
  crates/egui/Cargo.toml
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_lib/Cargo.toml
  crates/egui_extras/Cargo.toml
  crates/egui_glow/Cargo.toml
  crates/emath/Cargo.toml
  crates/epaint/Cargo.toml
  crates/epaint_default_fonts/Cargo.toml
Labels: docs and examples, egui
