Repository emilk/egui, pull requests merged in 2024-10, with the labels that each got.

#5175 Update ScrollArea drag velocity when drag stopped
  crates/egui/src/containers/scroll_area.rs
  crates/emath/src/vec2b.rs
Labels: bug, egui

#5204 egui-wgpu: Fix docs.rs build
  crates/egui-wgpu/Cargo.toml
Labels: docs and examples, egui-wgpu, dev-experience

#5203 Allow easier setting of background color for TextEdit
  crates/egui/src/widgets/text_edit/builder.rs
  examples/hello_world_simple/README.md
Labels: feature, egui, style

#5226 Free textures after submitting queue instead of before with wgpu renderer
  crates/egui-wgpu/src/winit.rs
Labels: bug, egui-wgpu

#5244 Fix bug causing wrong-fire of `ViewportCommand::Visible`
  crates/egui/src/viewport.rs
Labels: bug, egui, viewports

#5266 Set `Response::intrinsic_size` for TextEdit
  crates/egui/src/widgets/text_edit/builder.rs
Labels: feature, layout, egui

#5166 Add egui testing library
  .gitattributes
  .github/workflows/rust.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/egui_demo_lib/Cargo.toml
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/text_edit.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
  crates/egui_demo_lib/tests/snapshots/demos/Bézier Curve.png
  crates/egui_demo_lib/tests/snapshots/demos/Code Editor.png
  crates/egui_demo_lib/tests/snapshots/demos/Code Example.png
  crates/egui_demo_lib/tests/snapshots/demos/Context Menus.png
  crates/egui_demo_lib/tests/snapshots/demos/Dancing Strings.png
  crates/egui_demo_lib/tests/snapshots/demos/Drag and Drop.png
  crates/egui_demo_lib/tests/snapshots/demos/Extra Viewport.png
  crates/egui_demo_lib/tests/snapshots/demos/Font Book.png
  crates/egui_demo_lib/tests/snapshots/demos/Frame.png
  crates/egui_demo_lib/tests/snapshots/demos/Highlighting.png
  crates/egui_demo_lib/tests/snapshots/demos/Interactive Container.png
  crates/egui_demo_lib/tests/snapshots/demos/Misc Demos.png
  crates/egui_demo_lib/tests/snapshots/demos/Multi Touch.png
  crates/egui_demo_lib/tests/snapshots/demos/Painting.png
  crates/egui_demo_lib/tests/snapshots/demos/Pan Zoom.png
  crates/egui_demo_lib/tests/snapshots/demos/Panels.png
  crates/egui_demo_lib/tests/snapshots/demos/Scrolling.png
  crates/egui_demo_lib/tests/snapshots/demos/Sliders.png
  crates/egui_demo_lib/tests/snapshots/demos/Strip.png
  crates/egui_demo_lib/tests/snapshots/demos/Table.png
  crates/egui_demo_lib/tests/snapshots/demos/Text Layout.png
  crates/egui_demo_lib/tests/snapshots/demos/TextEdit.png
  crates/egui_demo_lib/tests/snapshots/demos/Tooltips.png
  crates/egui_demo_lib/tests/snapshots/demos/Undo Redo.png
  crates/egui_demo_lib/tests/snapshots/demos/Window Options.png
  crates/egui_demo_lib/tests/snapshots/widget_gallery.png
  crates/egui_kittest/Cargo.toml
  crates/egui_kittest/README.md
  crates/egui_kittest/src/builder.rs
  crates/egui_kittest/src/event.rs
  crates/egui_kittest/src/lib.rs
  crates/egui_kittest/src/snapshot.rs
  crates/egui_kittest/src/texture_to_image.rs
  crates/egui_kittest/src/wgpu.rs
  crates/egui_kittest/tests/snapshots/readme_example.png
  deny.toml
Labels: CI, dev-experience, tests

#5296 Improve egui_kittest documentation and update CONTRIBUTING.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  crates/egui_kittest/README.md
  crates/egui_kittest/src/snapshot.rs
  crates/egui_kittest/src/wgpu.rs
Labels: docs and examples, exclude from changelog

#5282 Use id_salt on Table ScrollArea
  crates/egui_extras/src/table.rs
Labels: bug, egui_extras

#5232 Fix: `Sides` did not apply the layout position correctly.
  crates/egui/src/containers/sides.rs
Labels: bug, egui

#5258 Fix Ctrl+Shift+Z redo shortcut
  crates/egui/src/widgets/text_edit/builder.rs
Labels: bug, egui

#5211 iOS: Support putting UI next to the dynamic island
  crates/egui-winit/src/lib.rs
Labels: bug, eframe, egui-winit, iOS

#5300 Revert "Fix: `Sides` did not apply the layout position correctly."
  crates/egui/src/containers/sides.rs
Labels: bug, egui, exclude from changelog

#5298 Increase the threshold for snapshot tests
  crates/egui_kittest/src/snapshot.rs
Labels: exclude from changelog, tests

#5212 Use boxed slice for lookup table to avoid stack overflow
  crates/ecolor/src/color32.rs
Labels: bug, ecolor

#5299 Fix cargo test in check.sh
  scripts/check.sh
Labels: exclude from changelog, tests

#5275 Fix textedit intrinsic size metric
  crates/egui/src/widgets/text_edit/builder.rs
Labels: bug, egui, exclude from changelog

#5240 Report egui::Window contents as children to accesskit
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/collapsing_header.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/data/output.rs
  crates/egui/src/lib.rs
  crates/egui/src/response.rs
  crates/egui/tests/accesskit.rs
Labels: accessibility, egui_kittest

#5320 Move all existing .png images to git LGS
  .gitattributes
  crates/eframe/data/icon.png
  crates/egui/assets/ferris.png
  crates/egui_demo_lib/data/icon.png
  examples/confirm_exit/screenshot.png
  examples/custom_3d_glow/screenshot.png
  examples/custom_font/screenshot.png
  examples/custom_font_style/screenshot.png
  examples/custom_keypad/screenshot.png
  examples/custom_style/screenshot.png
  examples/custom_window_frame/screenshot.png
  examples/file_dialog/screenshot.png
  examples/hello_world/screenshot.png
  examples/hello_world_simple/screenshot.png
  examples/images/screenshot.png
  examples/keyboard_events/screenshot.png
  examples/puffin_profiler/screenshot.png
  examples/screenshot/screenshot.png
  examples/serial_windows/screenshot.png
  examples/user_attention/screenshot.png
  media/demo-2020-08-21.png
  media/demo-2020-10-24.png
  media/demo-2021-01-02.png
  media/demo_light_mode.png
  media/light_theme.png
  media/pompodoro-skin.png
  media/rerun_io_logo.png
  media/widget_gallery_0.23_light.png
Labels: exclude from changelog, dev-experience

#5321 CI: check that all png images are on git LFS
  .github/workflows/png_only_on_lfs.yml
  CONTRIBUTING.md
Labels: CI, exclude from changelog

#5257 Expand max font atlas size from 8k to 16k
  crates/epaint/src/text/fonts.rs
  crates/epaint/src/texture_atlas.rs
Labels: egui, epaint

#5309 Impl from Box<str> for WidgetText, RichText
  crates/egui/src/widget_text.rs
Labels: feature, egui

#5231 Add `Window::scroll_bar_visibility`
  crates/egui/src/containers/window.rs
Labels: feature, egui

#5305 Add `ComboBox::close_behavior`
  crates/egui/src/containers/combo_box.rs
  examples/popups/src/main.rs
Labels: feature, egui

#5315 Fix: `Window::default_pos` does not work
  crates/egui/src/containers/window.rs
Labels: bug, egui

#5303 Fix: `Sides` did not apply the layout position correctly.
  crates/egui/src/containers/sides.rs
Labels: bug, egui

#5208 Fix: Popup incorrectly calculates possible min width of popup causing panic
  crates/egui/src/containers/popup.rs
Labels: egui, exclude from changelog

#5310 Respect `Style::override_font_id` in `RichText`
  crates/egui/src/widget_text.rs
Labels: bug, egui

#5316 egui-winit: Remove implicit `accesskit_winit` feature
  crates/egui-winit/Cargo.toml
Labels: egui-winit

#5319 Add option to initialize on existing wgpu setup
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/winit.rs
Labels: egui-wgpu

#5322 Update MSRV from 1.76 to 1.77
  .github/workflows/deploy_web_demo.yml
  .github/workflows/rust.yml
  Cargo.toml
  clippy.toml
  crates/ecolor/src/hex_color_macro.rs
  crates/eframe/src/native/event_loop_context.rs
  crates/eframe/src/native/run.rs
  crates/egui/src/lib.rs
  examples/confirm_exit/Cargo.toml
  examples/custom_3d_glow/Cargo.toml
  examples/custom_font/Cargo.toml
  examples/custom_font_style/Cargo.toml
  examples/custom_keypad/Cargo.toml
  examples/custom_style/Cargo.toml
  examples/custom_window_frame/Cargo.toml
  examples/file_dialog/Cargo.toml
  examples/hello_world/Cargo.toml
  examples/hello_world_par/Cargo.toml
  examples/hello_world_simple/Cargo.toml
  examples/images/Cargo.toml
  examples/keyboard_events/Cargo.toml
  examples/multiple_viewports/Cargo.toml
  examples/puffin_profiler/Cargo.toml
  examples/screenshot/Cargo.toml
  examples/serial_windows/Cargo.toml
  examples/user_attention/Cargo.toml
  rust-toolchain
  scripts/check.sh
  scripts/clippy_wasm/clippy.toml
  tests/test_egui_extras_compilation/Cargo.toml
  tests/test_inline_glow_paint/Cargo.toml
  tests/test_size_pass/Cargo.toml
  tests/test_ui_stack/Cargo.toml
  tests/test_viewports/Cargo.toml
Labels: eframe, egui, ecolor, epaint, emath

#5328 Fix documentation for file drag and drop
  crates/egui/src/data/input.rs
  crates/egui/src/viewport.rs
Labels: docs and examples, egui, exclude from changelog

#5330 wgpu: Bump to wgpu 23.0.0 and wasm-bindgen to 0.2.95
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  crates/eframe/src/native/file_storage.rs
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/src/renderer.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/apps/custom3d_wgpu.rs
  deny.toml
  scripts/build_demo_web.sh
  scripts/setup_web.sh
Labels: egui-wgpu, dependencies
