Repository emilk/egui, pull requests merged in 2024-05, with the labels that each got.

#4444 Fix some clippy warning from Rust 1.78.0
  crates/eframe/src/epi.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/native/winit_integration.rs
  crates/egui-wgpu/src/renderer.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui/src/frame_state.rs
  crates/egui/src/input_state.rs
  crates/egui/src/input_state/touch_state.rs
  crates/egui/src/layout.rs
  crates/egui/src/os.rs
  crates/egui/src/style.rs
  crates/egui/src/util/undoer.rs
  crates/egui/src/viewport.rs
  crates/egui/src/widgets/text_edit/text_buffer.rs
  crates/egui_demo_app/src/wrap_app.rs
  crates/egui_demo_lib/src/easy_mark/easy_mark_highlighter.rs
  crates/egui_plot/src/items/values.rs
  crates/emath/src/rot2.rs
  crates/epaint/src/text/text_layout_types.rs
  examples/file_dialog/src/main.rs
Labels: exclude from changelog

#4478 Remove `extra_asserts` and `extra_debug_asserts` feature flags
  crates/ecolor/Cargo.toml
  crates/ecolor/src/color32.rs
  crates/ecolor/src/lib.rs
  crates/ecolor/src/rgba.rs
  crates/egui/Cargo.toml
  crates/egui/src/context.rs
  crates/egui/src/frame_state.rs
  crates/egui/src/grid.rs
  crates/egui/src/layout.rs
  crates/egui/src/lib.rs
  crates/egui/src/placer.rs
  crates/egui/src/response.rs
  crates/egui/src/ui.rs
  crates/egui/src/widget_rect.rs
  crates/egui/src/widgets/image.rs
  crates/egui/src/widgets/label.rs
  crates/egui/src/widgets/slider.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_extras/src/sizing.rs
  crates/emath/Cargo.toml
  crates/emath/src/history.rs
  crates/emath/src/lib.rs
  crates/emath/src/rot2.rs
  crates/emath/src/smart_aim.rs
  crates/epaint/Cargo.toml
  crates/epaint/src/bezier.rs
  crates/epaint/src/lib.rs
  crates/epaint/src/mesh.rs
  crates/epaint/src/shape.rs
  crates/epaint/src/tessellator.rs
  crates/epaint/src/text/text_layout_types.rs
  crates/epaint/src/textures.rs
Labels: egui, ecolor, epaint, emath

#4461 egui-winit: emit physical key presses when a non-Latin layout is active
  crates/egui-winit/src/lib.rs
  crates/egui/src/data/input.rs
Labels: eframe, egui-winit, egui

#4436 IME for chinese
  crates/egui-winit/src/lib.rs
Labels: eframe, egui-winit

#4410 Fix : In Windows, the 'egui_demo_app' screen does not appear.
  crates/eframe/src/native/epi_integration.rs
Labels: eframe, native-windows

#4457 Disable interaction for `ScrollArea` and `Plot` when UI is disabled
  crates/egui/src/containers/scroll_area.rs
  crates/egui_plot/src/lib.rs
Labels: egui_plot, egui

#4419 Treat `Event::PointerGone` as `PointerEvent::Released`
  crates/egui/src/context.rs
  crates/egui/src/input_state.rs
  crates/egui/src/interaction.rs
  crates/egui_demo_lib/src/demo/tests.rs
Labels: egui

#4443 Fix: Window position creeps between executions on scaled monitors
  crates/eframe/src/native/epi_integration.rs
  crates/egui-winit/src/window_settings.rs
Labels: bug, eframe, egui-winit

#4429 Make sure plot size is positive
  crates/egui_demo_lib/src/demo/context_menu.rs
  crates/egui_plot/src/lib.rs
Labels: egui_plot

#4482 Update arboard
  Cargo.lock
Labels: dependencies, exclude from changelog

#4483 eframe: Remove dependency on `thiserror`
  Cargo.lock
  crates/eframe/Cargo.toml
  crates/eframe/src/lib.rs
Labels: eframe, dependencies, exclude from changelog

#4484 Remove work-around for `unsafe` in puffin macro
  crates/egui/src/lib.rs
  crates/egui_demo_lib/src/lib.rs
  crates/egui_extras/src/lib.rs
  crates/emath/src/lib.rs
  crates/epaint/src/lib.rs
Labels: exclude from changelog

#4485 Make `epaint::mutex::RwLock` allow `?Sized` types
  crates/epaint/src/mutex.rs
Labels: epaint

#4160 Update `image` crate to 0.25
  Cargo.lock
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/eframe/src/icon_data.rs
  crates/eframe/src/native/app_icon.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_extras/Cargo.toml
  crates/egui_extras/README.md
  crates/egui_extras/src/image.rs
  crates/egui_extras/src/loaders.rs
  examples/images/Cargo.toml
  examples/save_plot/Cargo.toml
  examples/screenshot/Cargo.toml
Labels: eframe, dependencies, egui_extras

#4495 Move dependencies to workspace
  Cargo.toml
  crates/ecolor/Cargo.toml
  crates/eframe/Cargo.toml
  crates/egui-wgpu/Cargo.toml
  crates/egui-winit/Cargo.toml
  crates/egui/Cargo.toml
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_lib/Cargo.toml
  crates/egui_extras/Cargo.toml
  crates/egui_glow/Cargo.toml
  crates/egui_plot/Cargo.toml
  crates/emath/Cargo.toml
  crates/epaint/Cargo.toml
Labels: exclude from changelog, dev-experience

#4435 Introduce lifetime to `egui_plot::Plot` to replace `'static` fields
  crates/egui_plot/src/axis.rs
  crates/egui_plot/src/items/mod.rs
  crates/egui_plot/src/lib.rs
Labels: egui_plot

#4507 Update ahash 0.8.6 -> 0.8.11
  Cargo.lock
  Cargo.toml
Labels: dependencies, egui, epaint

#4514 Ignore synthetic key presses
  crates/egui-winit/src/lib.rs
Labels: eframe, egui-winit

#4521 `include_image!` now accepts expressions
  crates/egui/src/lib.rs
Labels: egui

#4522 Fix: still track mouse when dragging outside web canvas
  crates/eframe/src/web/events.rs
  crates/egui/src/context.rs
  crates/egui/src/input_state.rs
  crates/egui/src/interaction.rs
  crates/egui_demo_lib/src/demo/tests.rs
Labels: web, eframe

#4524 Remove `Event::Scroll` and handle it in egui
  crates/eframe/src/web/events.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/data/input.rs
  crates/egui/src/input_state.rs
Labels: egui

#4526 Remove scroll latency for smooth trackpads
  crates/egui/src/input_state.rs
Labels: egui

#4530 Smooth out zooming with discreet scroll wheel
  crates/egui/src/input_state.rs
Labels: egui

#4532 Add `Options::line_scroll_speed` and `scroll_zoom_speed`
  crates/egui/src/context.rs
  crates/egui/src/input_state.rs
  crates/egui/src/memory.rs
Labels: egui

#4537 Add improved pixel alignment test with alternating white/black lines
  crates/egui_demo_lib/src/rendering_test.rs
Labels: egui, exclude from changelog

#4542 Don't panic when replacement glyph is not found
  crates/epaint/src/text/font.rs
Labels: bug, egui, epaint, crash

#4504 Do no use the ahash reimport
  Cargo.lock
  crates/eframe/Cargo.toml
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-wgpu/Cargo.toml
  crates/egui-wgpu/src/renderer.rs
  crates/egui-winit/Cargo.toml
  crates/egui-winit/src/lib.rs
  crates/egui/src/id.rs
  crates/egui_extras/Cargo.toml
  crates/egui_extras/src/loaders/ehttp_loader.rs
  crates/egui_extras/src/loaders/file_loader.rs
  crates/egui_extras/src/loaders/image_loader.rs
  crates/egui_extras/src/loaders/svg_loader.rs
  crates/egui_glow/Cargo.toml
  crates/egui_glow/src/winit.rs
  crates/egui_plot/Cargo.toml
  crates/egui_plot/src/lib.rs
  crates/egui_plot/src/memory.rs
Labels: exclude from changelog

#4543 Make `TextEdit::return_key` optional
  crates/egui/src/widgets/text_edit/builder.rs
Labels: egui

#4517 TextEdit hint text styling
  crates/egui/src/widgets/text_edit/builder.rs
Labels: egui

#4549 Hide all other series when alt-clicking in the legend
  crates/egui_plot/src/legend.rs
Labels: feature, egui_plot

#4423 eframe: Add `NativeOptions::persistence_path`
  crates/eframe/src/epi.rs
  crates/eframe/src/native/epi_integration.rs
  crates/eframe/src/native/file_storage.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
Labels: eframe

#4520 Plot now respects the `interact_radius` set in the UI's style
  crates/egui_plot/src/lib.rs
Labels: egui_plot

#4554 Move test crates to own folder
  Cargo.toml
  examples/multiple_viewports/README.md
  examples/test_viewports/screenshot.png
  tests/README.md
  tests/test_inline_glow_paint/Cargo.toml
  tests/test_inline_glow_paint/src/main.rs
  tests/test_viewports/Cargo.toml
  tests/test_viewports/README.md
  tests/test_viewports/src/main.rs
Labels: exclude from changelog

#4536 Use ResizeObserver instead of `resize` event
  crates/eframe/Cargo.toml
  crates/eframe/src/epi.rs
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/web_runner.rs
  web_demo/index.html
Labels: web, eframe

#4551 Fix: Don't `.forget()` RAF closure
  crates/eframe/src/web/web_runner.rs
Labels: web, eframe

#4431 Add `Options::reduce_texture_memory` to free up RAM
  crates/egui/src/load/texture_loader.rs
  crates/egui/src/memory.rs
  crates/egui_demo_app/src/apps/image_viewer.rs
Labels: egui

#4303 Fix `Ui::scroll_with_delta` only scrolling if the `ScrollArea` is focused
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/frame_state.rs
  crates/egui/src/ui.rs
  crates/egui_demo_lib/src/demo/scrolling.rs
Labels: egui

#4556 Add support for text truncation to `egui::Style`
  crates/egui/src/containers/collapsing_header.rs
  crates/egui/src/containers/combo_box.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/debug_text.rs
  crates/egui/src/introspection.rs
  crates/egui/src/lib.rs
  crates/egui/src/menu.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
  crates/egui/src/widget_text.rs
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui/src/widgets/label.rs
  crates/egui/src/widgets/progress_bar.rs
  crates/egui/src/widgets/slider.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_demo_app/src/backend_panel.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/frame_demo.rs
  crates/egui_demo_lib/src/demo/layout_test.rs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
  crates/egui_demo_lib/src/demo/pan_zoom.rs
  crates/egui_demo_lib/src/demo/plot_demo.rs
  crates/egui_demo_lib/src/demo/scrolling.rs
  crates/egui_demo_lib/src/demo/table_demo.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
  crates/egui_plot/src/axis.rs
  crates/egui_plot/src/items/mod.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: feature, egui

#4546 Hide toolip when opening `ComboBox` drop-down
  crates/egui/src/containers/combo_box.rs
  crates/egui/src/response.rs
Labels: bug, egui

#4558 Better spacing and sizes for (menu) buttons
  crates/egui/src/menu.rs
  crates/egui/src/widgets/button.rs
Labels: egui

#4559 Revert update to wgpu 0.20 => downgrade to wgpu 0.19.1
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  crates/egui-wgpu/src/renderer.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/apps/custom3d_wgpu.rs
  scripts/setup_web.sh
Labels: egui-wgpu

#4565 Support returning errors when creating the app
  crates/eframe/src/epi.rs
  crates/eframe/src/lib.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/web_runner.rs
  crates/egui_demo_app/src/main.rs
  crates/egui_demo_app/src/web.rs
  examples/confirm_exit/src/main.rs
  examples/custom_3d_glow/src/main.rs
  examples/custom_font/src/main.rs
  examples/custom_font_style/src/main.rs
  examples/custom_keypad/src/main.rs
  examples/custom_plot_manipulation/src/main.rs
  examples/custom_window_frame/src/main.rs
  examples/file_dialog/src/main.rs
  examples/hello_world/src/main.rs
  examples/hello_world_par/src/main.rs
  examples/images/src/main.rs
  examples/keyboard_events/src/main.rs
  examples/multiple_viewports/src/main.rs
  examples/puffin_profiler/src/main.rs
  examples/save_plot/src/main.rs
  examples/screenshot/src/main.rs
  examples/serial_windows/src/main.rs
  examples/user_attention/src/main.rs
  tests/test_inline_glow_paint/src/main.rs
  tests/test_viewports/src/main.rs
Labels: eframe

#4557 Add `Ui::is_sizing_pass` for better size estimation of `Area`s, and menus in particular
  Cargo.lock
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/frame.rs
  crates/egui/src/containers/popup.rs
  crates/egui/src/menu.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/separator.rs
  crates/egui_demo_lib/src/demo/context_menu.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/emath/src/vec2.rs
  tests/test_size_pass/Cargo.toml
  tests/test_size_pass/src/main.rs
Labels: egui

#4570 `ComboBox`: fix justified layout of popup if wider than parent button
  crates/egui/src/containers/popup.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
  tests/test_size_pass/src/main.rs
Labels: egui

#4561 Improve web text agent
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/text_agent.rs
  crates/eframe/src/web/web_runner.rs
  crates/egui/src/data/output.rs
Labels: web, eframe, text, IME

#4574 Enforce eframe errors are `Send` and `Sync`
  crates/eframe/src/epi.rs
  crates/eframe/src/lib.rs
Labels: eframe, exclude from changelog

#4577 Don't persist `Area` state
  crates/egui/src/containers/area.rs
  crates/egui/src/memory.rs
Labels: egui

#4578 Round text galley sizes to nearest ui point size
  crates/epaint/src/text/text_layout.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: egui, epaint

#4579 Improve tooltip positioning
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/popup.rs
  crates/egui/src/frame_state.rs
Labels: bug, egui

#4580 Add `Response::show_tooltip_ui` and `show_tooltip_text`
  crates/egui/src/response.rs
Labels: egui

#4581 Bug fix: ui opacity and gray-out not affecting strokes
  crates/epaint/src/shape_transform.rs
Labels: bug, epaint, exclude from changelog

#4585 Once you have waited for a tooltip to show, show the next one right away
  crates/egui/src/response.rs
  crates/egui/src/style.rs
Labels: egui

#4586 Add `opacity` and `multiply_opacity` functions to `Ui` and `Painter`
  crates/egui/src/painter.rs
  crates/egui/src/ui.rs
Labels: egui

#4587 Fade in windows, tooltips, popups, etc
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/context.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
Labels: egui, style

#4544 Make `egu::menu` types public
  crates/egui/src/menu.rs
Labels: egui

#4591 Constrain `Area`s to screen by default
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/popup.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/menu.rs
  crates/egui/src/widgets/color_picker.rs
  crates/egui_extras/src/datepicker/button.rs
Labels: egui

#4592 Fix dragging of `custom_window_frame` on Windows
  examples/custom_window_frame/src/main.rs
Labels: docs and examples, exclude from changelog

#4594 Refactor: remove extra tooltip id salt
  crates/egui/src/containers/popup.rs
  crates/egui/src/response.rs
Labels: egui, refactor, exclude from changelog

#4595 Fix bug in ray-rect intersection test
  crates/emath/src/rect.rs
Labels: emath, exclude from changelog

#4597 `Rect::intersects_ray`: another bug fix
  crates/emath/src/rect.rs
Labels: emath, exclude from changelog
