Repository emilk/egui, pull requests merged in 2024-02, with the labels that each got.

#3930 Auto-repaint when widgets move or changes id.
  crates/egui/src/context.rs
  crates/egui/src/lib.rs
  crates/egui/src/memory.rs
Labels: egui

#3932 Niche-optimize `Id` so that `Option<Id>` is the same size as `Id`
  crates/egui/src/id.rs
  crates/egui/src/layers.rs
Labels: performance, egui

#3934 Parallell tessellation
  Cargo.lock
  crates/egui/Cargo.toml
  crates/egui/src/context.rs
  crates/egui/src/introspection.rs
  crates/epaint/Cargo.toml
  crates/epaint/benches/benchmark.rs
  crates/epaint/src/lib.rs
  crates/epaint/src/mesh.rs
  crates/epaint/src/tessellator.rs
Labels: egui_plot, performance, egui, epaint

#3935 Misc cleanup
  README.md
  crates/eframe/src/lib.rs
  crates/egui-wgpu/src/renderer.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui_demo_lib/src/demo/code_example.rs
  crates/egui_plot/src/transform.rs
  examples/hello_world/src/main.rs
  examples/hello_world_par/src/main.rs
  examples/hello_world_simple/src/main.rs
  media/demo.gif
Labels: docs and examples, exclude from changelog

#3937 Don't make labels focusable by default
  crates/egui/src/widgets/label.rs
Labels: bug, egui, exclude from changelog

#3940 Update to puffin 0.19
  Cargo.lock
  Cargo.toml
  crates/egui/src/context.rs
  crates/egui_demo_app/Cargo.toml
  examples/puffin_profiler/Cargo.toml
Labels: eframe, dependencies, egui

#3942 Emilk/revert workspace deps
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/egui-wgpu/Cargo.toml
  crates/egui-winit/Cargo.toml
  crates/egui/Cargo.toml
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_lib/Cargo.toml
  crates/egui_extras/Cargo.toml
  crates/egui_glow/Cargo.toml
  crates/egui_plot/Cargo.toml
  crates/epaint/Cargo.toml
  examples/confirm_exit/Cargo.toml
  examples/custom_3d_glow/Cargo.toml
  examples/custom_font/Cargo.toml
  examples/custom_font_style/Cargo.toml
  examples/custom_plot_manipulation/Cargo.toml
  examples/custom_window_frame/Cargo.toml
  examples/file_dialog/Cargo.toml
  examples/hello_world/Cargo.toml
  examples/hello_world_par/Cargo.toml
  examples/hello_world_simple/Cargo.toml
  examples/images/Cargo.toml
  examples/keyboard_events/Cargo.toml
  examples/multiple_viewports/Cargo.toml
  examples/puffin_profiler/Cargo.toml
  examples/save_plot/Cargo.toml
  examples/screenshot/Cargo.toml
  examples/serial_windows/Cargo.toml
  examples/test_inline_glow_paint/Cargo.toml
  examples/test_viewports/Cargo.toml
  examples/user_attention/Cargo.toml
Labels: exclude from changelog

#3943 Make `egui_plot::PlotItem` a public trait
  crates/egui_plot/src/items/mod.rs
  crates/egui_plot/src/items/values.rs
  crates/egui_plot/src/lib.rs
  crates/egui_plot/src/plot_ui.rs
  crates/egui_plot/src/transform.rs
Labels: egui_plot

#3949 `Context::repaint_causes`: `file:line` of what caused a repaint
  crates/egui/src/context.rs
  crates/egui/src/lib.rs
Labels: egui

#3955 Fix clip rect for plot items
  crates/egui_plot/src/lib.rs
Labels: bug, egui_plot

#3957 Fix `StripBuilder` not allocating its used space
  crates/egui_extras/src/layout.rs
Labels: egui_extras

#3966 Fix typos in `crates/egui/src/context.rs`
  crates/egui/src/context.rs
Labels: egui, typo

#3968 Override text color with stroke selection color for selected cells
  crates/egui_extras/src/layout.rs
Labels: egui_extras

#3954 Add `TextureOptions::wrap_mode`
  crates/egui-wgpu/src/renderer.rs
  crates/egui/src/lib.rs
  crates/egui_glow/src/painter.rs
  crates/epaint/src/textures.rs
Labels: egui

#3960 Pass `ScreenDescriptor` to `egui_wgpu::CallbackTrait::prepare`
  crates/egui-wgpu/src/renderer.rs
  crates/egui_demo_app/src/apps/custom3d_wgpu.rs
Labels: egui-wgpu

#3973 Add `Spacing::menu_width`
  crates/egui/src/menu.rs
  crates/egui/src/style.rs
Labels: egui

#3975 Use more workspace dependencies
  Cargo.toml
  crates/ecolor/Cargo.toml
  crates/eframe/Cargo.toml
  crates/eframe/src/lib.rs
  crates/egui-wgpu/Cargo.toml
  crates/egui-wgpu/src/lib.rs
  crates/egui-winit/Cargo.toml
  crates/egui/Cargo.toml
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_lib/Cargo.toml
  crates/egui_extras/Cargo.toml
  crates/egui_glow/Cargo.toml
  crates/egui_plot/Cargo.toml
  crates/emath/Cargo.toml
  crates/epaint/Cargo.toml
Labels: refactor, exclude from changelog

#3976 Put all egui crates as workspace crates
  Cargo.toml
  crates/eframe/Cargo.toml
  crates/egui-wgpu/Cargo.toml
  crates/egui-winit/Cargo.toml
  crates/egui/Cargo.toml
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_lib/Cargo.toml
  crates/egui_extras/Cargo.toml
  crates/egui_glow/Cargo.toml
  crates/egui_plot/Cargo.toml
  crates/epaint/Cargo.toml
  examples/confirm_exit/Cargo.toml
  examples/custom_3d_glow/Cargo.toml
  examples/custom_font/Cargo.toml
  examples/custom_font_style/Cargo.toml
  examples/custom_plot_manipulation/Cargo.toml
  examples/custom_window_frame/Cargo.toml
  examples/file_dialog/Cargo.toml
  examples/hello_world/Cargo.toml
  examples/hello_world_par/Cargo.toml
  examples/hello_world_simple/Cargo.toml
  examples/images/Cargo.toml
  examples/keyboard_events/Cargo.toml
  examples/multiple_viewports/Cargo.toml
  examples/puffin_profiler/Cargo.toml
  examples/save_plot/Cargo.toml
  examples/screenshot/Cargo.toml
  examples/serial_windows/Cargo.toml
  examples/test_inline_glow_paint/Cargo.toml
  examples/test_viewports/Cargo.toml
  examples/user_attention/Cargo.toml
Labels: dependencies, exclude from changelog

#3977 Wait with showing tooltip until mouse has been still for 300ms
  crates/egui/src/input_state.rs
  crates/egui/src/response.rs
  crates/egui/src/style.rs
Labels: egui

#3978 Fix calling request_repaint_after every frame causing immediate repaint
  crates/egui/src/context.rs
Labels: bug, egui

#3979 Make `egui_wgpu::renderer` a private module
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/renderer.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui_demo_app/src/apps/custom3d_wgpu.rs
Labels: egui-wgpu

#3985 Fix high CPU usage on Windows when app is minimized
  crates/eframe/src/native/run.rs
Labels: eframe, performance

#3958 add with_taskbar to viewport builder
  crates/egui-winit/src/lib.rs
  crates/egui/src/viewport.rs
Labels: eframe, egui

#3981 Add scroll bar visibility option to Table widget
  crates/egui_extras/src/table.rs
Labels: egui_extras

#3995 egui: Fixed window title bar incorrect handling spacing
  crates/egui/src/containers/window.rs
Labels: bug, egui

#3994 egui_glow: Only disable sRGB framebuffer on supported platforms
  crates/egui_glow/src/painter.rs
Labels: egui_glow

#4004 Add F21 to F35 key bindings
  crates/egui-winit/src/lib.rs
  crates/egui/src/data/key.rs
Labels: egui

#4012 Make `on_disabled_hover_ui` respect `tooltip_delay`
  crates/egui/src/response.rs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
Labels: bug, egui

#4003 Update to document-features 0.2.8
  Cargo.lock
  Cargo.toml
Labels: eframe, dependencies

#3986 Improve panic message in egui-wgpu when failing to create buffers
  crates/egui-wgpu/src/renderer.rs
Labels: egui-wgpu

#3983 egui demo: Fix space reserved for source code link
  crates/egui_demo_lib/src/demo/strip_demo.rs
  crates/egui_demo_lib/src/demo/table_demo.rs
Labels: docs and examples, egui, exclude from changelog

#4005 Fix `TextEdit` being too short whenever there is horizontal margin
  crates/egui/src/widgets/text_edit/builder.rs
Labels: bug, layout, egui

#4014 Fix: `Response.interact_pointer_pos` is `Some` on click and drag released
  crates/egui/src/context.rs
  crates/egui_demo_lib/src/demo/tests.rs
Labels: bug, egui

#4018 Add `Options::debug_paint_interactive_widgets`
  crates/egui/src/context.rs
  crates/egui/src/memory.rs
Labels: egui

#4020 Take clip_rect into account when storing widget rects
  crates/egui/src/context.rs
  crates/egui/src/response.rs
  crates/egui/src/ui.rs
  examples/hello_world/src/main.rs
Labels: bug, egui

#4009 egui: Fix custom `Window` `Frame`s
  crates/egui/src/containers/window.rs
Labels: bug, egui

#4036 Update memoffset to 0.9.0, arboard to 3.3.1, and remove egui_glow's needless dependency on pure_glow's deps
  Cargo.lock
  crates/egui-winit/Cargo.toml
  crates/egui_glow/Cargo.toml
Labels: egui-winit, egui_glow, dependencies

#3993 `TextEdit`: Change `margin` property to `egui::Margin` type
  crates/egui/src/widgets/text_edit/builder.rs
Labels: layout, egui

#4037 `eframe`: Add `winuser` feature to `winapi` to fix unresolved import
  crates/eframe/Cargo.toml
Labels: bug, eframe, dependencies

#4038 Add another check to Windows CI
  .github/workflows/rust.yml
Labels: CI, exclude from changelog

#4041 Avoid interacting twice when not required
  crates/egui/src/response.rs
Labels: bug, egui

#4052 `egui_plot`: Add `sense` option to `Plot`
  crates/egui_plot/src/lib.rs
Labels: egui_plot

#4051 Plot widget - allow disabling scroll for x and y separately
  crates/egui_demo_lib/src/demo/plot_demo.rs
  crates/egui_plot/src/lib.rs
Labels: egui_plot

#3965 Add `Ui::set_opacity`
  crates/egui/src/painter.rs
  crates/egui/src/ui.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
Labels: egui

#4055 Update `ehttp` to 0.5
  Cargo.lock
  crates/egui_demo_app/Cargo.toml
  crates/egui_extras/Cargo.toml
  deny.toml
  examples/file_dialog/Cargo.toml
  examples/save_plot/Cargo.toml
Labels: dependencies, egui_extras

#4056 Add `Response::paint_debug_info()` to make it easy to visualize a widget's id and state
  crates/egui/src/response.rs
Labels: egui

#3906 Add layer transforms, interaction in layer
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/panel.rs
  crates/egui/src/context.rs
  crates/egui/src/layers.rs
  crates/egui/src/memory.rs
  crates/egui/src/response.rs
  crates/egui/src/ui.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/mod.rs
  crates/egui_demo_lib/src/demo/pan_zoom.rs
  crates/emath/src/lib.rs
  crates/emath/src/ts_transform.rs
  crates/epaint/src/mesh.rs
  crates/epaint/src/shape.rs
  examples/test_viewports/src/main.rs
Labels: egui

#4026 New widget interaction logic
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/panel.rs
  crates/egui/src/containers/resize.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/context.rs
  crates/egui/src/hit_test.rs
  crates/egui/src/interaction.rs
  crates/egui/src/introspection.rs
  crates/egui/src/lib.rs
  crates/egui/src/memory.rs
  crates/egui/src/response.rs
  crates/egui/src/sense.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_demo_lib/src/demo/tests.rs
  crates/egui_extras/src/layout.rs
  crates/egui_plot/src/lib.rs
  examples/test_viewports/src/main.rs
Labels: egui

#4029 Fix: images with background color now respects rounding
  crates/egui/src/widgets/image.rs
Labels: bug, egui

#4076 Fix: assign a different id to each table cell, avoiding id clashes
  crates/egui_extras/src/layout.rs
  crates/egui_extras/src/strip.rs
  crates/egui_extras/src/table.rs
Labels: egui_extras

#4074 Support interacting with the background of a `Ui`
  crates/egui/src/context.rs
  crates/egui/src/hit_test.rs
  crates/egui/src/interaction.rs
  crates/egui/src/lib.rs
  crates/egui/src/response.rs
  crates/egui/src/ui.rs
  crates/egui/src/widget_rect.rs
Labels: egui

#4077 Fix interaction with widgets inside selectable rows of `Table`
  crates/egui_extras/src/layout.rs
Labels: egui_extras

#3536 Add `ColorImage::from_gray_iter`
  crates/epaint/src/image.rs
Labels: egui, epaint

#4078 egui_plot: fix panic when the base step size is set to 0
  crates/egui_plot/src/lib.rs
Labels: bug, egui_plot

#4063 Add API for raw mouse motion
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/data/input.rs
  crates/egui/src/input_state.rs
  crates/egui/src/response.rs
  crates/egui_demo_app/src/apps/custom3d_glow.rs
  crates/egui_demo_app/src/apps/custom3d_wgpu.rs
  examples/custom_3d_glow/src/main.rs
Labels: egui

#4079 `ui.dnd_drop_zone()` now returns `InnerResponse`.
  crates/egui/src/ui.rs
  crates/egui_demo_lib/src/demo/drag_and_drop.rs
Labels: egui

#4080 Convenience const fn for Margin, Rounding and Shadow
  crates/egui/src/style.rs
  crates/epaint/src/shadow.rs
  crates/epaint/src/shape.rs
Labels: egui, epaint

#4100 Serde feature: Add serde derives to input related structs
  crates/egui/src/input_state.rs
  crates/egui/src/input_state/touch_state.rs
  crates/emath/src/history.rs
Labels: egui

#4114 Give each menu `Area` an id distinct from the id of what was clicked
  crates/egui/src/menu.rs
  crates/egui/src/widget_rect.rs
Labels: bug, egui
