Repository emilk/egui, pull requests merged in 2025-03, with the labels that each got.

#5750 Fix typo in example
  examples/puffin_profiler/src/main.rs
Labels: typo

#5640 Fix sizing bug in `TextEdit::singleline`
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_demo_lib/tests/snapshots/demos/Code Example.png
Labels: bug, layout, egui

#5716 ⚠️ Improved menu based on `egui::Popup`
  Cargo.lock
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/combo_box.rs
  crates/egui/src/containers/menu.rs
  crates/egui/src/containers/mod.rs
  crates/egui/src/containers/old_popup.rs
  crates/egui/src/containers/popup.rs
  crates/egui/src/context.rs
  crates/egui/src/gui_zoom.rs
  crates/egui/src/input_state/mod.rs
  crates/egui/src/lib.rs
  crates/egui/src/menu.rs
  crates/egui/src/response.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/button.rs
  crates/egui_demo_lib/src/demo/context_menu.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/mod.rs
  crates/egui_demo_lib/src/demo/popups.rs
  crates/egui_demo_lib/tests/snapshots/demos/Popups.png
  crates/egui_kittest/Cargo.toml
  crates/egui_kittest/tests/menu.rs
  crates/egui_kittest/tests/snapshots/menu/closed_hovered.png
  crates/egui_kittest/tests/snapshots/menu/opened.png
  crates/egui_kittest/tests/snapshots/menu/submenu.png
  crates/egui_kittest/tests/snapshots/menu/subsubmenu.png
Labels: feature, egui

#5706 Move gifs to git lfs
  .gitattributes
  .github/workflows/png_only_on_lfs.yml
  README.md
  examples/images/src/ferris.gif
  media/0.9.0-disabled.gif
  media/demo-2021-01-17.gif
  media/demo.gif
  media/egui-0.10-plot.gif
  media/egui-0.15-code-editor.gif
  media/widget_gallery.gif
  media/widget_gallery_0.23.gif
  media/widget_gallery_0.8.0.gif
Labels: CI, exclude from changelog

#5707 Improved git lfs instructions
  CONTRIBUTING.md
Labels: docs and examples, CI, exclude from changelog, dev-experience

#5286 Fix scroll handle extending outside of `ScrollArea`
  crates/egui/src/containers/scroll_area.rs
Labels: bug, egui

#5764 Deprecate `Ui::allocate_new_ui` in favor of `Ui::scope_builder`
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/grid.rs
  crates/egui/src/ui.rs
  examples/custom_window_frame/src/main.rs
Labels: feature, egui

#5786 Update ring
  Cargo.lock
Labels: CI, dependencies, exclude from changelog

#5787 Allow unmaintained paste crate
  deny.toml
Labels: CI, exclude from changelog

#5791 Fix`TextEdit` selection when placed in a `Scene`.
  crates/egui/src/widgets/text_edit/builder.rs
Labels: bug, egui

#5777 Add a toggle for the compact menu style
  crates/egui/src/menu.rs
  crates/egui/src/style.rs
Labels: egui, style

#5805 Fix the `StyleModifier` not being passed from popup to menu
  crates/egui/src/containers/popup.rs
Labels: bug, egui, exclude from changelog

#5800 Clarify what happens when multiple modals are shown in the same frame
  crates/egui/src/containers/modal.rs
  crates/egui/src/containers/popup.rs
Labels: docs and examples, egui, exclude from changelog

#5799 Fix `context_menu` not closing when clicking widget
  crates/egui/src/containers/popup.rs
Labels: bug, egui, exclude from changelog

#5798 Fix `Response::clicked_elsewhere` not returning true sometimes
  crates/egui/src/response.rs
Labels: bug, egui

#5778 Fix kinetic scrolling on touch devices
  crates/egui/src/input_state/mod.rs
Labels: bug, egui, android

#5820 Make `close_popup` take an `Id` and add `close_all_popups`
  crates/egui/src/containers/popup.rs
  crates/egui/src/memory/mod.rs
  crates/egui/src/widgets/color_picker.rs
Labels: bug, egui, exclude from changelog

#5755 Add color picker menu item example
  crates/ecolor/src/color32.rs
  crates/egui_demo_lib/src/demo/popups.rs
Labels: docs and examples

#5809 Fix `DragValue` expansion when editing
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui/src/widgets/text_edit/builder.rs
Labels: bug, egui

#5826 Fix disabled `DragValue` eating focus, causing focus to reset
  crates/egui/src/widgets/drag_value.rs
  crates/egui_kittest/tests/regression_tests.rs
Labels: bug, egui

#5785 Simplify the text cursor API
  crates/egui/src/lib.rs
  crates/egui/src/text_selection/accesskit_text.rs
  crates/egui/src/text_selection/cursor_range.rs
  crates/egui/src/text_selection/label_text_selection.rs
  crates/egui/src/text_selection/mod.rs
  crates/egui/src/text_selection/text_cursor_state.rs
  crates/egui/src/text_selection/visuals.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui/src/widgets/text_edit/output.rs
  crates/egui/src/widgets/text_edit/state.rs
  crates/egui/src/widgets/text_edit/text_buffer.rs
  crates/egui_demo_lib/src/easy_mark/easy_mark_editor.rs
  crates/epaint/src/text/cursor.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: egui, refactor

#5814 ⚠️ Close popup if `Memory::keep_popup_open` isn't called
  crates/egui/src/containers/popup.rs
  crates/egui/src/memory/mod.rs
Labels: bug, egui

#5783 Bump accesskit to 0.18 and make it a workspace dependency
  Cargo.lock
  Cargo.toml
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-winit/Cargo.toml
  crates/egui-winit/src/lib.rs
  crates/egui/Cargo.toml
  crates/egui_demo_app/Cargo.toml
  examples/file_dialog/Cargo.toml
Labels: dependencies

#5769 [egui_extra] Allow loading multi-mime formats using the image_loader
  crates/egui_extras/src/loaders/image_loader.rs
Labels: feature, egui_extras

#5838 Improve text sharpness
  crates/egui_demo_app/tests/snapshots/clock.png
  crates/egui_demo_app/tests/snapshots/custom3d.png
  crates/egui_demo_app/tests/snapshots/easymarkeditor.png
  crates/egui_demo_app/tests/snapshots/imageviewer.png
  crates/egui_demo_lib/tests/snapshots/demos/Bézier Curve.png
  crates/egui_demo_lib/tests/snapshots/demos/Code Editor.png
  crates/egui_demo_lib/tests/snapshots/demos/Code Example.png
  crates/egui_demo_lib/tests/snapshots/demos/Dancing Strings.png
  crates/egui_demo_lib/tests/snapshots/demos/Drag and Drop.png
  crates/egui_demo_lib/tests/snapshots/demos/Extra Viewport.png
  crates/egui_demo_lib/tests/snapshots/demos/Font Book.png
  crates/egui_demo_lib/tests/snapshots/demos/Frame.png
  crates/egui_demo_lib/tests/snapshots/demos/Highlighting.png
  crates/egui_demo_lib/tests/snapshots/demos/Interactive Container.png
  crates/egui_demo_lib/tests/snapshots/demos/Misc Demos.png
  crates/egui_demo_lib/tests/snapshots/demos/Modals.png
  crates/egui_demo_lib/tests/snapshots/demos/Multi Touch.png
  crates/egui_demo_lib/tests/snapshots/demos/Painting.png
  crates/egui_demo_lib/tests/snapshots/demos/Panels.png
  crates/egui_demo_lib/tests/snapshots/demos/Popups.png
  crates/egui_demo_lib/tests/snapshots/demos/Scene.png
  crates/egui_demo_lib/tests/snapshots/demos/Screenshot.png
  crates/egui_demo_lib/tests/snapshots/demos/Scrolling.png
  crates/egui_demo_lib/tests/snapshots/demos/Sliders.png
  crates/egui_demo_lib/tests/snapshots/demos/Strip.png
  crates/egui_demo_lib/tests/snapshots/demos/Table.png
  crates/egui_demo_lib/tests/snapshots/demos/Text Layout.png
  crates/egui_demo_lib/tests/snapshots/demos/TextEdit.png
  crates/egui_demo_lib/tests/snapshots/demos/Tooltips.png
  crates/egui_demo_lib/tests/snapshots/demos/Undo Redo.png
  crates/egui_demo_lib/tests/snapshots/demos/Window Options.png
  crates/egui_demo_lib/tests/snapshots/modals_1.png
  crates/egui_demo_lib/tests/snapshots/modals_2.png
  crates/egui_demo_lib/tests/snapshots/modals_3.png
  crates/egui_demo_lib/tests/snapshots/modals_backdrop_should_prevent_focusing_lower_area.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.00.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.25.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.50.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.67.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.75.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_2.00.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Additive rectangle.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Blurred stroke.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Blurred.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Minimal rounding.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Normal.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Thick stroke, minimal rounding.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Thin filled.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Thin stroked.png
  crates/egui_demo_lib/tests/snapshots/widget_gallery.png
  crates/egui_kittest/tests/snapshots/combobox_closed.png
  crates/egui_kittest/tests/snapshots/combobox_opened.png
  crates/egui_kittest/tests/snapshots/image_snapshots.png
  crates/egui_kittest/tests/snapshots/menu/closed_hovered.png
  crates/egui_kittest/tests/snapshots/menu/opened.png
  crates/egui_kittest/tests/snapshots/menu/submenu.png
  crates/egui_kittest/tests/snapshots/menu/subsubmenu.png
  crates/egui_kittest/tests/snapshots/readme_example.png
  crates/egui_kittest/tests/snapshots/test_shrink.png
  crates/epaint/src/image.rs
Labels: visuals, egui, epaint, style

#5365 Add `expand_bg` to customize size of text background
  crates/egui/src/widget_text.rs
  crates/epaint/src/text/text_layout.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: feature, egui, epaint

#5761 Use RUSTUP_TOOLCHAIN=stable for rust-analyzer
  .vscode/settings.json
Labels: exclude from changelog, dev-experience

#5723 Enhance stability on Windows
  crates/eframe/src/native/run.rs
Labels: eframe, native-windows

#5759 Fix text input on Android
  crates/egui-winit/src/lib.rs
Labels: bug, eframe, text, egui-winit, android

#5816 Add script to update local snapshots from CI
  CONTRIBUTING.md
  scripts/update_snapshots_from_ci.sh
Labels: CI, dev-experience

#5216 Add assert messages and print bad argument values in asserts
  Cargo.toml
  crates/ecolor/src/color32.rs
  crates/ecolor/src/rgba.rs
  crates/eframe/src/stopwatch.rs
  crates/egui/src/containers/menu.rs
  crates/egui/src/context.rs
  crates/egui/src/hit_test.rs
  crates/egui/src/layout.rs
  crates/egui/src/placer.rs
  crates/egui/src/response.rs
  crates/egui/src/text_selection/text_cursor_state.rs
  crates/egui/src/text_selection/visuals.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/label.rs
  crates/egui/src/widgets/slider.rs
  crates/egui/src/widgets/text_edit/text_buffer.rs
  crates/egui_demo_lib/src/rendering_test.rs
  crates/egui_extras/src/loaders/file_loader.rs
  crates/egui_extras/src/sizing.rs
  crates/egui_extras/src/syntax_highlighting.rs
  crates/egui_glow/src/painter.rs
  crates/emath/src/lib.rs
  crates/emath/src/rot2.rs
  crates/emath/src/smart_aim.rs
  crates/epaint/benches/benchmark.rs
  crates/epaint/src/image.rs
  crates/epaint/src/mesh.rs
  crates/epaint/src/shapes/shape.rs
  crates/epaint/src/stats.rs
  crates/epaint/src/tessellator.rs
  crates/epaint/src/text/font.rs
  crates/epaint/src/text/text_layout.rs
  crates/epaint/src/text/text_layout_types.rs
  crates/epaint/src/texture_atlas.rs
  scripts/check.sh
Labels: egui, epaint, emath, dev-experience

#5394 Make ImageLoader use background thread
  crates/egui_demo_app/tests/test_demo_app.rs
  crates/egui_extras/src/loaders/image_loader.rs
  deny.toml
Labels: feature, performance, egui_extras

#5801 Fix in `Scene`: make `scene_rect` full size on reset
  crates/egui/src/containers/scene.rs
  crates/egui_demo_lib/tests/snapshots/demos/Scene.png
Labels: bug, egui

#5846 Fix Lint for debug-assert
  crates/egui_extras/src/loaders/image_loader.rs
Labels: CI, exclude from changelog

#5845 Fix typo in style.rs
  crates/egui/src/style.rs
Labels: typo

#5847 Fix color picker button
  crates/egui/src/widgets/color_picker.rs
Labels: bug, exclude from changelog

#5857 Make text underline and strikethrough pixel perfect crisp
  crates/egui_demo_app/tests/snapshots/easymarkeditor.png
  crates/epaint/src/stroke.rs
  crates/epaint/src/tessellator.rs
  crates/epaint/src/text/text_layout.rs
Labels: visuals, egui, epaint

#5779 Rename `should_propagate_event` & add `should_prevent_default`
  crates/eframe/src/epi.rs
  crates/eframe/src/web/events.rs
Labels: feature, web, eframe

#5797 Improve drag-to-select text (add margins)
  crates/epaint/src/text/text_layout_types.rs
Labels: bug, egui, epaint

#5862 Update web-sys min version to 0.3.73
  Cargo.toml
Labels: eframe, dependencies

#5864 Make text background rects pixel-sharp
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.50.png
  crates/egui_extras/src/syntax_highlighting.rs
  crates/epaint/src/text/text_layout.rs
Labels: epaint, exclude from changelog

#5865 Fix: transform `TextShape` underline width
  crates/epaint/src/shapes/shape.rs
  crates/epaint/src/shapes/text_shape.rs
Labels: egui, epaint
