Repository emilk/egui, pull requests merged in 2025-09, with the labels that each got.

#7492 Fix egui_demo_app missing wgpu backends
  crates/egui_demo_app/Cargo.toml
Labels: docs and examples, exclude from changelog

#7499 Add reasonable timeouts to all workflows
  .github/workflows/cargo_machete.yml
  .github/workflows/deploy_web_demo.yml
  .github/workflows/enforce_branch_name.yml
  .github/workflows/labels.yml
  .github/workflows/png_only_on_lfs.yml
  .github/workflows/preview_build.yml
  .github/workflows/preview_cleanup.yml
  .github/workflows/preview_deploy.yml
  .github/workflows/rust.yml
  .github/workflows/spelling_and_links.yml
Labels: CI

#7497 Remove the `deadlock_detection` feature
  Cargo.lock
  crates/egui/Cargo.toml
  crates/egui_demo_app/tests/test_demo_app.rs
  crates/epaint/Cargo.toml
  crates/epaint/src/mutex.rs
Labels: egui, epaint

#7476 Add `Memory::move_focus`
  crates/egui/src/lib.rs
  crates/egui/src/memory/mod.rs
Labels: egui

#7409 Fix: prevent calendar popup from closing on dropdown change
  crates/egui_extras/src/datepicker/button.rs
Labels: bug, egui

#7483 Deprecated `ImageButton` and removed `WidgetType::ImageButton`
  crates/egui/src/data/output.rs
  crates/egui/src/lib.rs
  crates/egui/src/response.rs
  crates/egui/src/widgets/image_button.rs
  crates/egui/src/widgets/mod.rs
Labels: egui

#7507 Document how to push git lfs files to 3rd party PRs
  CONTRIBUTING.md
Labels: exclude from changelog, dev-experience

#7513 Generate changelogs for emath
  .github/workflows/labels.yml
  scripts/generate_changelog.py
Labels: emath

#7505 Update changelogs and versions for 0.32.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/ecolor/CHANGELOG.md
  crates/eframe/CHANGELOG.md
  crates/egui-wgpu/CHANGELOG.md
  crates/egui-winit/CHANGELOG.md
  crates/egui_extras/CHANGELOG.md
  crates/egui_glow/CHANGELOG.md
  crates/egui_kittest/CHANGELOG.md
  crates/epaint/CHANGELOG.md
  crates/epaint_default_fonts/CHANGELOG.md
Labels: docs and examples, exclude from changelog

#7514 Preserve text format in truncated label tooltip
  crates/egui/src/widgets/label.rs
  tests/egui_tests/tests/regression_tests.rs
  tests/egui_tests/tests/snapshots/hovering_should_preserve_text_format.png
Labels: bug, egui

#7515 Improve deadlock detection output
  crates/egui_extras/src/loaders/ehttp_loader.rs
  crates/egui_extras/src/loaders/file_loader.rs
  crates/epaint/src/mutex.rs
Labels: bug, egui_extras

#7512 Improve `OrderedFloat` hash performance
  crates/emath/src/ordered_float.rs
Labels: performance, emath

#7511 Optimize `Mesh::add_rect_with_uv`
  crates/epaint/src/mesh.rs
Labels: performance, epaint

#7504 Remove deprecated `Harness::wgpu_snapshot` and related fns
  crates/egui_kittest/src/snapshot.rs
Labels: egui_kittest

#5543 Support on hover tooltip that is noninteractable even with interactable content
  crates/egui/src/containers/tooltip.rs
Labels: feature, egui

#7493 Add `egui_kittest::HarnessBuilder::with_os` and set the default to `Nix`
  crates/egui_kittest/src/builder.rs
  crates/egui_kittest/src/lib.rs
Labels: feature, egui_kittest

#7385 New Plugin trait
  crates/egui/src/context.rs
  crates/egui/src/debug_text.rs
  crates/egui/src/drag_and_drop.rs
  crates/egui/src/lib.rs
  crates/egui/src/plugin.rs
  crates/egui/src/text_selection/label_text_selection.rs
Labels: feature, egui

#7545 Add snapshot test for text spacing/kerning
  crates/egui_demo_lib/tests/misc.rs
  crates/egui_demo_lib/tests/snapshots/image_blending/image_dark_x1.png
  crates/egui_demo_lib/tests/snapshots/image_blending/image_dark_x2.png
  crates/egui_demo_lib/tests/snapshots/image_blending/image_light_x1.png
  crates/egui_demo_lib/tests/snapshots/image_blending/image_light_x2.png
  crates/epaint/src/text/font.rs
Labels: text, exclude from changelog, tests

#7547 eframe web: prevent default action on command-comma
  crates/eframe/src/web/events.rs
Labels: web, eframe

#7540 Update wgpu to 26 and wasm-bindgen to 0.2.100
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/src/capture.rs
  crates/egui-wgpu/src/setup.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_kittest/src/wgpu.rs
  deny.toml
  scripts/setup_web.sh
Labels: egui-wgpu

#7563 Small CI improvements
  .github/workflows/cargo_machete.yml
  .github/workflows/preview_build.yml
  .github/workflows/rust.yml
  .github/workflows/spelling_and_links.yml
Labels: CI, exclude from changelog

#7566 Small clippy fixes
  crates/egui/src/menu.rs
  crates/egui/src/widget_text.rs
Labels: refactor, exclude from changelog

#7559 Return `0.0` if font not found in `glyph_width` instead of panic
  crates/epaint/src/text/font.rs
  crates/epaint/src/text/fonts.rs
Labels: epaint

#7571 Adjust when we write .diff and .new snapshot images
  crates/egui_kittest/src/snapshot.rs
Labels: egui_kittest

#7572 Warn if `DYLD_LIBRARY_PATH` is set and we find no wgpu adapter
  crates/egui-wgpu/src/lib.rs
Labels: eframe, egui-wgpu, dev-experience
