Repository emilk/egui, pull requests merged in 2025-08, with the labels that each got.

#7403 Request a redraw when the url change through the `popstate` event listener
  crates/eframe/src/web/events.rs
Labels: feature, web, eframe

#7318 Align `Color32` to 4 bytes
  crates/ecolor/src/color32.rs
Labels: ecolor

#7404 Fix multi-line `TextShape` rotation
  crates/epaint/src/tessellator.rs
Labels: bug, epaint

#7360 Add `ComboBox::popup_style`
  crates/egui/src/containers/combo_box.rs
  crates/egui/src/containers/popup.rs
Labels: egui

#7418 Enable more clippy lints
  Cargo.toml
  crates/egui/src/hit_test.rs
  crates/egui/src/viewport.rs
  crates/egui/src/widget_text.rs
  crates/egui/src/widgets/image.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_kittest/src/snapshot.rs
  crates/emath/src/rect.rs
  crates/epaint/src/shapes/bezier_shape.rs
  crates/epaint/src/text/fonts.rs
  crates/epaint/src/text/text_layout.rs
  examples/custom_keypad/src/keypad.rs
  examples/external_eventloop_async/src/main.rs
Labels: exclude from changelog, dev-experience

#7396 Use `Frame::NONE` in docstring
  crates/egui/src/containers/frame.rs
Labels: docs and examples, egui, exclude from changelog

#7420 Update to winit 0.30.12
  Cargo.lock
  Cargo.toml
Labels: egui-winit, dependencies

#7421 Enable `clippy::iter_over_hash_type` lint
  Cargo.lock
  Cargo.toml
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/web/events.rs
  crates/egui-winit/Cargo.toml
  crates/egui-winit/src/lib.rs
  crates/egui/src/context.rs
  crates/egui/src/data/input.rs
  crates/egui/src/data/output.rs
  crates/egui/src/layers.rs
  crates/egui/src/memory/mod.rs
  crates/egui/src/util/id_type_map.rs
  crates/egui/src/viewport.rs
  crates/egui/src/widget_rect.rs
  crates/egui_demo_lib/src/demo/extra_viewport.rs
  crates/egui_glow/Cargo.toml
  crates/egui_glow/src/painter.rs
  crates/egui_glow/src/winit.rs
  crates/epaint/src/lib.rs
  crates/epaint/src/shapes/shape.rs
  tests/test_viewports/src/main.rs
Labels: bug, egui, dev-experience

#7382 Allow customizing fallback font in AtomLayout
  crates/egui/src/atomics/atom.rs
  crates/egui/src/atomics/atom_kind.rs
  crates/egui/src/atomics/atom_layout.rs
  crates/egui/src/widgets/button.rs
Labels: feature, egui

#7426 Enable and fix some more clippy lints
  Cargo.toml
  crates/ecolor/src/hsva.rs
  crates/eframe/src/epi.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/run.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-wgpu/src/renderer.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/containers/popup.rs
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/context.rs
  crates/egui/src/data/output.rs
  crates/egui/src/interaction.rs
  crates/egui/src/layout.rs
  crates/egui/src/memory/mod.rs
  crates/egui/src/menu.rs
  crates/egui/src/style.rs
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/label.rs
  crates/egui/src/widgets/slider.rs
  crates/egui_demo_app/src/apps/fractal_clock.rs
  crates/egui_demo_app/src/apps/image_viewer.rs
  crates/egui_demo_app/src/main.rs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
  crates/egui_demo_lib/src/demo/paint_bezier.rs
  crates/egui_demo_lib/src/easy_mark/easy_mark_editor.rs
  crates/egui_demo_lib/src/easy_mark/easy_mark_viewer.rs
  crates/egui_extras/src/datepicker/popup.rs
  crates/egui_glow/src/painter.rs
  crates/egui_kittest/src/snapshot.rs
  crates/egui_kittest/tests/menu.rs
  crates/egui_kittest/tests/tests.rs
  crates/emath/src/align.rs
  crates/emath/src/rect.rs
  crates/emath/src/smart_aim.rs
  crates/emath/src/ts_transform.rs
  examples/puffin_profiler/src/main.rs
  examples/screenshot/src/main.rs
  xtask/src/utils.rs
Labels: exclude from changelog, dev-experience

#7435 Add `emath::fast_midpoint`
  Cargo.toml
  crates/emath/src/align.rs
  crates/emath/src/lib.rs
  crates/emath/src/rect.rs
  crates/emath/src/smart_aim.rs
Labels: feature, performance, egui, emath

#7443 Fix panic on Stroke style editor widget
  crates/egui/src/style.rs
Labels: docs and examples, egui, exclude from changelog

#7432 Document platform compatibility on `viewport::WindowLevel` and dependents
  crates/egui/src/viewport.rs
Labels: docs and examples, egui

#7440 Fix debug-panic in ScrollArea if contents fit without scrolling
  crates/egui/src/containers/scroll_area.rs
Labels: bug, egui

#7450 Make sure we always track the root viewport
  crates/egui/src/context.rs
Labels: egui, exclude from changelog, viewports

#7470 Use official cargo machete action
  .github/workflows/cargo_machete.yml
Labels: CI, exclude from changelog

#7467 Allow masking widgets in kittest snapshots
  crates/egui_kittest/src/lib.rs
  crates/egui_kittest/tests/snapshots/test_masking.png
  crates/egui_kittest/tests/tests.rs
Labels: feature, egui_kittest

#7475 Update bytemuck
  Cargo.lock
  Cargo.toml
Labels: dependencies, exclude from changelog

#7474 Enable more clippy lints
  Cargo.toml
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/text_agent.rs
  crates/eframe/src/web/web_painter_wgpu.rs
Labels: CI, exclude from changelog, dev-experience

#7414 Fix: use unique id for resize columns in `Table`
  crates/egui_extras/src/table.rs
Labels: bug, egui_extras
