Repository emilk/egui, pull requests merged in 2025-04, with the labels that each got.

#5411 Optimize editing long text by caching each paragraph
  Cargo.lock
  Cargo.toml
  crates/egui/src/text_selection/accesskit_text.rs
  crates/egui/src/text_selection/label_text_selection.rs
  crates/egui/src/text_selection/visuals.rs
  crates/egui/src/widget_text.rs
  crates/egui/src/widgets/label.rs
  crates/egui_demo_lib/Cargo.toml
  crates/egui_demo_lib/benches/benchmark.rs
  crates/emath/src/pos2.rs
  crates/emath/src/rect.rs
  crates/epaint/Cargo.toml
  crates/epaint/src/shape_transform.rs
  crates/epaint/src/shapes/shape.rs
  crates/epaint/src/shapes/text_shape.rs
  crates/epaint/src/stats.rs
  crates/epaint/src/tessellator.rs
  crates/epaint/src/text/fonts.rs
  crates/epaint/src/text/mod.rs
  crates/epaint/src/text/text_layout.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: performance, egui, epaint

#5868 Use lychee link checker instead of linkinator
  .github/workflows/spelling_and_links.yml
  ARCHITECTURE.md
  README.md
  crates/eframe/README.md
Labels: CI, exclude from changelog

#5712 Use `TextBuffer` for `layouter` in `TextEdit` instead of `&str`
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui/src/widgets/text_edit/text_buffer.rs
  crates/egui_demo_lib/src/demo/code_editor.rs
  crates/egui_demo_lib/src/easy_mark/easy_mark_editor.rs
Labels: feature, egui

#5637 Add overline option for Table rows
  crates/egui_demo_lib/src/demo/table_demo.rs
  crates/egui_demo_lib/tests/snapshots/demos/Table.png
  crates/egui_extras/src/layout.rs
  crates/egui_extras/src/table.rs
Labels: feature, egui_extras

#5698 Avoid infinite extension of ColorTest inside a Window
  crates/egui_demo_lib/src/rendering_test.rs
Labels: docs and examples, exclude from changelog

#5894 Update failing snapshot tests
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.00.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.25.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.50.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.67.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.75.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_2.00.png
Labels: exclude from changelog, tests

#5979 Support SVG Text Rendering in egui_extras
  Cargo.lock
  crates/egui_extras/Cargo.toml
  crates/egui_extras/src/image.rs
  crates/egui_extras/src/loaders/svg_loader.rs
Labels: feature, egui_extras

#6752 Add tests for layout and visuals of most egui widgets
  Cargo.lock
  crates/egui_kittest/src/lib.rs
  tests/egui_tests/Cargo.toml
  tests/egui_tests/tests/snapshots/layout/button.png
  tests/egui_tests/tests/snapshots/layout/button_image.png
  tests/egui_tests/tests/snapshots/layout/button_image_shortcut.png
  tests/egui_tests/tests/snapshots/layout/checkbox.png
  tests/egui_tests/tests/snapshots/layout/checkbox_checked.png
  tests/egui_tests/tests/snapshots/layout/drag_value.png
  tests/egui_tests/tests/snapshots/layout/radio.png
  tests/egui_tests/tests/snapshots/layout/radio_checked.png
  tests/egui_tests/tests/snapshots/layout/selectable_value.png
  tests/egui_tests/tests/snapshots/layout/selectable_value_selected.png
  tests/egui_tests/tests/snapshots/layout/slider.png
  tests/egui_tests/tests/snapshots/layout/text_edit.png
  tests/egui_tests/tests/snapshots/visuals/button.png
  tests/egui_tests/tests/snapshots/visuals/button_image.png
  tests/egui_tests/tests/snapshots/visuals/button_image_shortcut.png
  tests/egui_tests/tests/snapshots/visuals/button_image_shortcut_selected.png
  tests/egui_tests/tests/snapshots/visuals/checkbox.png
  tests/egui_tests/tests/snapshots/visuals/checkbox_checked.png
  tests/egui_tests/tests/snapshots/visuals/drag_value.png
  tests/egui_tests/tests/snapshots/visuals/radio.png
  tests/egui_tests/tests/snapshots/visuals/radio_checked.png
  tests/egui_tests/tests/snapshots/visuals/selectable_value.png
  tests/egui_tests/tests/snapshots/visuals/selectable_value_selected.png
  tests/egui_tests/tests/snapshots/visuals/slider.png
  tests/egui_tests/tests/snapshots/visuals/text_edit.png
  tests/egui_tests/tests/test_widgets.rs
Labels: exclude from changelog, tests

#5978 Add a `Slider::update_while_editing(bool)` API
  crates/egui/src/widgets/slider.rs
Labels: feature, egui

#6753 Change popup memory to be per-viewport
  crates/egui/src/memory/mod.rs
Labels: bug, egui

#5892 feat: Add `Scene::drag_pan_buttons` option. Allows specifying which pointer buttons pan the scene by dragging.
  crates/egui/src/containers/mod.rs
  crates/egui/src/containers/scene.rs
Labels: feature, egui

#5867 Revert "Add `OutputCommand::SetPointerPosition` to set mouse position"
  crates/eframe/src/web/app_runner.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/context.rs
  crates/egui/src/data/output.rs
  crates/egui_demo_lib/src/demo/tests/cursor_test.rs
Labels: exclude from changelog

#5329 Fix bug in pointer movement detection
  crates/egui/src/input_state/mod.rs
Labels: bug, egui

#5812 Rework `TextEdit` arrow navigation to handle Unicode graphemes
  Cargo.lock
  Cargo.toml
  crates/egui/Cargo.toml
  crates/egui/src/text_selection/text_cursor_state.rs
  crates/egui/src/widgets/text_edit/text_buffer.rs
Labels: feature, egui

#6851 Protect against NaN in hit-test code
  crates/egui/src/hit_test.rs
Labels: bug, egui

#6848 Raise MSRV to 1.84
  .github/workflows/deploy_web_demo.yml
  .github/workflows/preview_build.yml
  .github/workflows/rust.yml
  Cargo.toml
  clippy.toml
  crates/egui/src/lib.rs
  examples/confirm_exit/Cargo.toml
  examples/custom_3d_glow/Cargo.toml
  examples/custom_font/Cargo.toml
  examples/custom_font_style/Cargo.toml
  examples/custom_keypad/Cargo.toml
  examples/custom_style/Cargo.toml
  examples/custom_window_frame/Cargo.toml
  examples/file_dialog/Cargo.toml
  examples/hello_android/Cargo.toml
  examples/hello_world/Cargo.toml
  examples/hello_world_par/Cargo.toml
  examples/hello_world_simple/Cargo.toml
  examples/images/Cargo.toml
  examples/keyboard_events/Cargo.toml
  examples/multiple_viewports/Cargo.toml
  examples/puffin_profiler/Cargo.toml
  examples/screenshot/Cargo.toml
  examples/serial_windows/Cargo.toml
  examples/user_attention/Cargo.toml
  rust-toolchain
  scripts/check.sh
  scripts/clippy_wasm/clippy.toml
  tests/test_egui_extras_compilation/Cargo.toml
  tests/test_inline_glow_paint/Cargo.toml
  tests/test_size_pass/Cargo.toml
  tests/test_ui_stack/Cargo.toml
  tests/test_viewports/Cargo.toml
Labels: egui

#5443 `ScrollArea` improvements for user configurability
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/containers/window.rs
  crates/egui_extras/src/table.rs
Labels: feature, egui

#6854 Add button benchmark
  crates/egui_demo_lib/README.md
  crates/egui_demo_lib/benches/benchmark.rs
Labels: performance, exclude from changelog

#6850 Add macOS-specific `has_shadow` and `with_has_shadow` to ViewportBuilder
  crates/egui-winit/src/lib.rs
  crates/egui/src/viewport.rs
Labels: feature, eframe, egui-winit

#6861 Bump `ron` to `0.10.1`
  Cargo.lock
  Cargo.toml
  crates/eframe/src/native/file_storage.rs
  deny.toml
Labels: eframe, dependencies

#6862 Remove outdated skip entries from deny.toml
  deny.toml
Labels: exclude from changelog, dev-experience

#5893 feat: Add `Scene::sense` option for customising how `Scene` should respond to user input
  crates/egui/src/containers/scene.rs
Labels: feature, egui

#6750 Add external eventloop support
  Cargo.lock
  crates/eframe/src/lib.rs
  crates/eframe/src/native/run.rs
  examples/external_eventloop/Cargo.toml
  examples/external_eventloop/README.md
  examples/external_eventloop/src/main.rs
  examples/external_eventloop_async/Cargo.toml
  examples/external_eventloop_async/README.md
  examples/external_eventloop_async/src/app.rs
  examples/external_eventloop_async/src/main.rs
Labels: feature, eframe

#6897 Add italic button benchmark to test `RichText` performance impact
  crates/egui_demo_lib/benches/benchmark.rs
Labels: performance, exclude from changelog

#6900 Fix image button panicking with tiny `available_space`
  crates/egui/src/widgets/button.rs
Labels: bug, egui

#6901 Load images on the ui thread for tests
  crates/egui_extras/src/loaders/image_loader.rs
Labels: egui_extras, tests

#6899 Enforce that PRs are not opened from the 'master' branch of a fork
  .github/workflows/enforce_branch_name.yml
Labels: CI, exclude from changelog, dev-experience

#6893 Fix text distortion on mobile devices/browsers with `glow` backend
  crates/egui_glow/src/shader/fragment.glsl
  crates/egui_glow/src/shader/vertex.glsl
Labels: bug, eframe, egui_glow, visuals, android, iOS
