Repository emilk/egui, pull requests merged in 2025-01, with the labels that each got.

#5563 Use `u8` in `Rounding`, and introduce `Roundingf`
  CHANGELOG.md
  crates/egui/src/containers/window.rs
  crates/egui/src/style.rs
  crates/egui/src/widgets/color_picker.rs
  crates/egui/src/widgets/progress_bar.rs
  crates/egui/src/widgets/slider.rs
  crates/egui_demo_lib/src/demo/pan_zoom.rs
  crates/epaint/src/lib.rs
  crates/epaint/src/rounding.rs
  crates/epaint/src/roundingf.rs
  crates/epaint/src/shadow.rs
  crates/epaint/src/shape.rs
  crates/epaint/src/tessellator.rs
Labels: egui, epaint

#5564 Refactor: put each shape into its own file
  CONTRIBUTING.md
  Cargo.toml
  crates/epaint/src/lib.rs
  crates/epaint/src/shape.rs
  crates/epaint/src/shapes/bezier_shape.rs
  crates/epaint/src/shapes/circle_shape.rs
  crates/epaint/src/shapes/ellipse_shape.rs
  crates/epaint/src/shapes/mod.rs
  crates/epaint/src/shapes/paint_callback.rs
  crates/epaint/src/shapes/path_shape.rs
  crates/epaint/src/shapes/rect_shape.rs
  crates/epaint/src/shapes/shape.rs
  crates/epaint/src/shapes/text_shape.rs
  crates/epaint/src/viewport.rs
Labels: epaint, refactor, exclude from changelog

#5565 Add `epaint::Brush` for controlling `RectShape` texturing
  crates/egui/src/widgets/image.rs
  crates/epaint/src/brush.rs
  crates/epaint/src/lib.rs
  crates/epaint/src/shape_transform.rs
  crates/epaint/src/shapes/rect_shape.rs
  crates/epaint/src/shapes/shape.rs
  crates/epaint/src/tessellator.rs
Labels: performance, egui, epaint

#5567 Store `Margin` using `i8` to reduce its size
  crates/egui/src/containers/frame.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/style.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_demo_lib/src/demo/pan_zoom.rs
  crates/egui_extras/src/datepicker/button.rs
  crates/epaint/src/lib.rs
  crates/epaint/src/margin.rs
  crates/epaint/src/marginf.rs
  crates/epaint/src/shadow.rs
  examples/custom_keypad/src/keypad.rs
  tests/test_ui_stack/src/main.rs
Labels: performance, egui, epaint

#5568 Shrink size of `Shadow` by using `i8/u8` instead of `f32`
  crates/egui/src/containers/frame.rs
  crates/egui/src/style.rs
  crates/egui_demo_lib/src/demo/frame_demo.rs
  crates/epaint/src/shadow.rs
Labels: performance, egui, epaint

#5539 Add `Harness::new_eframe` and `TestRenderer` trait
  Cargo.lock
  crates/eframe/src/epi.rs
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/apps/image_viewer.rs
  crates/egui_demo_app/src/lib.rs
  crates/egui_demo_app/src/wrap_app.rs
  crates/egui_demo_app/tests/snapshots/clock.png
  crates/egui_demo_app/tests/snapshots/custom3d.png
  crates/egui_demo_app/tests/snapshots/easymarkeditor.png
  crates/egui_demo_app/tests/snapshots/imageviewer.png
  crates/egui_demo_app/tests/test_demo_app.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/modals.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
  crates/egui_demo_lib/src/rendering_test.rs
  crates/egui_kittest/Cargo.toml
  crates/egui_kittest/README.md
  crates/egui_kittest/src/app_kind.rs
  crates/egui_kittest/src/builder.rs
  crates/egui_kittest/src/lib.rs
  crates/egui_kittest/src/renderer.rs
  crates/egui_kittest/src/snapshot.rs
  crates/egui_kittest/src/wgpu.rs
  crates/egui_kittest/tests/regression_tests.rs
  crates/egui_kittest/tests/tests.rs
Labels: feature, egui_kittest

#5571 Better rounding of rectangles with thin outlines
  crates/egui_kittest/src/snapshot.rs
  crates/epaint/src/tessellator.rs
Labels: epaint

#5578 egui_kittest: write `.old.png` files when updating images
  .gitignore
  crates/egui_kittest/src/snapshot.rs
Labels: egui_kittest

#5575 ⚠️ `Frame` now includes stroke width as part of padding
  crates/egui/src/containers/frame.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/ui.rs
  crates/egui_demo_app/src/wrap_app.rs
  crates/egui_demo_app/tests/snapshots/clock.png
  crates/egui_demo_app/tests/snapshots/custom3d.png
  crates/egui_demo_lib/src/demo/frame_demo.rs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
  crates/egui_demo_lib/tests/snapshots/demos/Bézier Curve.png
  crates/egui_demo_lib/tests/snapshots/demos/Code Editor.png
  crates/egui_demo_lib/tests/snapshots/demos/Code Example.png
  crates/egui_demo_lib/tests/snapshots/demos/Context Menus.png
  crates/egui_demo_lib/tests/snapshots/demos/Dancing Strings.png
  crates/egui_demo_lib/tests/snapshots/demos/Drag and Drop.png
  crates/egui_demo_lib/tests/snapshots/demos/Extra Viewport.png
  crates/egui_demo_lib/tests/snapshots/demos/Font Book.png
  crates/egui_demo_lib/tests/snapshots/demos/Frame.png
  crates/egui_demo_lib/tests/snapshots/demos/Highlighting.png
  crates/egui_demo_lib/tests/snapshots/demos/Interactive Container.png
  crates/egui_demo_lib/tests/snapshots/demos/Misc Demos.png
  crates/egui_demo_lib/tests/snapshots/demos/Modals.png
  crates/egui_demo_lib/tests/snapshots/demos/Multi Touch.png
  crates/egui_demo_lib/tests/snapshots/demos/Painting.png
  crates/egui_demo_lib/tests/snapshots/demos/Pan Zoom.png
  crates/egui_demo_lib/tests/snapshots/demos/Panels.png
  crates/egui_demo_lib/tests/snapshots/demos/Screenshot.png
  crates/egui_demo_lib/tests/snapshots/demos/Scrolling.png
  crates/egui_demo_lib/tests/snapshots/demos/Sliders.png
  crates/egui_demo_lib/tests/snapshots/demos/Strip.png
  crates/egui_demo_lib/tests/snapshots/demos/Table.png
  crates/egui_demo_lib/tests/snapshots/demos/Text Layout.png
  crates/egui_demo_lib/tests/snapshots/demos/TextEdit.png
  crates/egui_demo_lib/tests/snapshots/demos/Tooltips.png
  crates/egui_demo_lib/tests/snapshots/demos/Undo Redo.png
  crates/egui_demo_lib/tests/snapshots/demos/Window Options.png
  crates/egui_demo_lib/tests/snapshots/modals_1.png
  crates/egui_demo_lib/tests/snapshots/modals_2.png
  crates/egui_demo_lib/tests/snapshots/modals_3.png
  crates/egui_demo_lib/tests/snapshots/modals_backdrop_should_prevent_focusing_lower_area.png
  crates/egui_kittest/src/app_kind.rs
  examples/custom_window_frame/src/main.rs
  tests/test_ui_stack/src/main.rs
Labels: egui, style

#5554 Serialize window maximized state in `WindowSettings`
  crates/egui-winit/src/lib.rs
  crates/egui-winit/src/window_settings.rs
Labels: eframe

#5584 Avoid allocations for loader cache lookup
  crates/egui/src/load/texture_loader.rs
  crates/egui_extras/src/loaders/svg_loader.rs
Labels: performance, egui, egui_extras

#5556 Use bitfield instead of bools in `Response` and `Sense`
  Cargo.lock
  Cargo.toml
  README.md
  crates/egui/Cargo.toml
  crates/egui/src/containers/modal.rs
  crates/egui/src/context.rs
  crates/egui/src/hit_test.rs
  crates/egui/src/interaction.rs
  crates/egui/src/response.rs
  crates/egui/src/sense.rs
  crates/egui/src/text_selection/label_text_selection.rs
  crates/egui/src/text_selection/text_cursor_state.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui/src/widgets/label.rs
  crates/egui/src/widgets/slider.rs
  crates/egui/src/widgets/text_edit/builder.rs
Labels: performance, egui

#5580 Change `Harness::run` to run until no more repaints are requested
  crates/egui/src/context.rs
  crates/egui_demo_app/tests/test_demo_app.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/modals.rs
  crates/egui_demo_lib/tests/snapshots/demos/Code Editor.png
  crates/egui_demo_lib/tests/snapshots/demos/Code Example.png
  crates/egui_demo_lib/tests/snapshots/demos/Context Menus.png
  crates/egui_demo_lib/tests/snapshots/demos/Dancing Strings.png
  crates/egui_demo_lib/tests/snapshots/demos/Drag and Drop.png
  crates/egui_demo_lib/tests/snapshots/demos/Font Book.png
  crates/egui_demo_lib/tests/snapshots/demos/Frame.png
  crates/egui_demo_lib/tests/snapshots/demos/Highlighting.png
  crates/egui_demo_lib/tests/snapshots/demos/Interactive Container.png
  crates/egui_demo_lib/tests/snapshots/demos/Misc Demos.png
  crates/egui_demo_lib/tests/snapshots/demos/Modals.png
  crates/egui_demo_lib/tests/snapshots/demos/Multi Touch.png
  crates/egui_demo_lib/tests/snapshots/demos/Painting.png
  crates/egui_demo_lib/tests/snapshots/demos/Pan Zoom.png
  crates/egui_demo_lib/tests/snapshots/demos/Panels.png
  crates/egui_demo_lib/tests/snapshots/demos/Screenshot.png
  crates/egui_demo_lib/tests/snapshots/demos/Scrolling.png
  crates/egui_demo_lib/tests/snapshots/demos/Sliders.png
  crates/egui_demo_lib/tests/snapshots/demos/Strip.png
  crates/egui_demo_lib/tests/snapshots/demos/Table.png
  crates/egui_demo_lib/tests/snapshots/demos/Text Layout.png
  crates/egui_demo_lib/tests/snapshots/demos/TextEdit.png
  crates/egui_demo_lib/tests/snapshots/demos/Tooltips.png
  crates/egui_demo_lib/tests/snapshots/demos/Undo Redo.png
  crates/egui_demo_lib/tests/snapshots/demos/Window Options.png
  crates/egui_demo_lib/tests/snapshots/modals_1.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.00.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.25.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.50.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.67.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.75.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_2.00.png
  crates/egui_kittest/src/builder.rs
  crates/egui_kittest/src/lib.rs
Labels: feature, tests, egui_kittest

#5586 Handle static RGB WebP images
  crates/egui_extras/src/loaders/webp_loader.rs
Labels: egui_extras

#5569 Fix panic due to non-total ordering in `Area::compare_order()`
  crates/egui/src/memory/mod.rs
Labels: bug, egui, crash

#5506 Extend `WgpuSetup`, `egui_kittest` now prefers software rasterizers for testing
  Cargo.lock
  crates/eframe/src/native/wgpu_integration.rs
  crates/eframe/src/web/web_painter_wgpu.rs
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/setup.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui_demo_lib/Cargo.toml
  crates/egui_kittest/Cargo.toml
  crates/egui_kittest/src/wgpu.rs
Labels: egui-wgpu, egui_kittest

#5592 `response` module is now public, allowing access to `egui::response::Flags`
  crates/egui/src/lib.rs
Labels: egui, exclude from changelog

#5593 Fix Windows clippy issues
  crates/eframe/src/native/file_storage.rs
Labels: native-windows, exclude from changelog

#5603 Fix some clippy issues found by 1.84.0
  crates/eframe/src/epi.rs
  crates/eframe/src/native/glow_integration.rs
  crates/eframe/src/native/wgpu_integration.rs
  crates/egui-wgpu/src/setup.rs
  crates/egui/src/containers/collapsing_header.rs
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/context.rs
  crates/egui/src/data/input.rs
  crates/egui/src/data/user_data.rs
  crates/egui/src/drag_and_drop.rs
  crates/egui/src/input_state/mod.rs
  crates/egui/src/menu.rs
  crates/egui/src/response.rs
  crates/egui/src/text_selection/label_text_selection.rs
  crates/egui/src/ui_stack.rs
  crates/egui/src/widgets/checkbox.rs
  crates/egui/src/widgets/drag_value.rs
  crates/egui/src/widgets/image.rs
  crates/egui/src/widgets/image_button.rs
  crates/egui/src/widgets/label.rs
  crates/egui/src/widgets/slider.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui/src/widgets/text_edit/text_buffer.rs
  crates/egui_demo_lib/src/demo/text_edit.rs
  crates/egui_extras/src/datepicker/button.rs
  crates/egui_extras/src/datepicker/popup.rs
  crates/egui_extras/src/strip.rs
  crates/egui_extras/src/table.rs
  crates/egui_kittest/src/app_kind.rs
  crates/egui_kittest/src/lib.rs
  crates/epaint/src/mutex.rs
  crates/epaint/src/text/text_layout.rs
Labels: refactor, exclude from changelog

#5596 implement Debug for RichText
  crates/egui/src/widget_text.rs
Labels: egui, exclude from changelog

#5610 Upgrade to wgpu 24
  .github/workflows/deploy_web_demo.yml
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  clippy.toml
  crates/eframe/src/web/panic_handler.rs
  crates/eframe/src/web/text_agent.rs
  crates/egui-wgpu/src/capture.rs
  crates/egui-wgpu/src/renderer.rs
  crates/egui-wgpu/src/setup.rs
  crates/egui/src/lib.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_kittest/src/texture_to_image.rs
  deny.toml
  examples/confirm_exit/Cargo.toml
  examples/custom_3d_glow/Cargo.toml
  examples/custom_font/Cargo.toml
  examples/custom_font_style/Cargo.toml
  examples/custom_keypad/Cargo.toml
  examples/custom_style/Cargo.toml
  examples/custom_window_frame/Cargo.toml
  examples/file_dialog/Cargo.toml
  examples/hello_android/Cargo.toml
  examples/hello_world/Cargo.toml
  examples/hello_world_par/Cargo.toml
  examples/hello_world_simple/Cargo.toml
  examples/images/Cargo.toml
  examples/keyboard_events/Cargo.toml
  examples/multiple_viewports/Cargo.toml
  examples/puffin_profiler/Cargo.toml
  examples/screenshot/Cargo.toml
  examples/serial_windows/Cargo.toml
  examples/user_attention/Cargo.toml
  rust-toolchain
  scripts/check.sh
  scripts/clippy_wasm/clippy.toml
  scripts/setup_web.sh
  tests/test_egui_extras_compilation/Cargo.toml
  tests/test_inline_glow_paint/Cargo.toml
  tests/test_size_pass/Cargo.toml
  tests/test_ui_stack/Cargo.toml
  tests/test_viewports/Cargo.toml
Labels: egui-wgpu, dependencies

#5612 Wgpu resources are no longer wrapped in `Arc` (since they are now `Clone`)
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/setup.rs
  crates/egui-wgpu/src/winit.rs
  crates/egui_kittest/src/builder.rs
  crates/egui_kittest/src/lib.rs
  crates/egui_kittest/src/renderer.rs
Labels: egui-wgpu

#5622 Remove `egui::special_emojis::TWITTER`
  Cargo.toml
  RELEASES.md
  crates/egui/src/lib.rs
  crates/egui_demo_lib/src/demo/about.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/font_book.rs
Labels: egui

#5555 Fix hovering through custom menu button
  crates/egui/src/hit_test.rs
Labels: bug, egui

#5628 Implement `nohash_hasher::IsEnabled` for `Id`
  crates/egui/src/id.rs
  crates/egui/src/pass_state.rs
Labels: egui

#5624 Prepare for `objc2` frameworks v0.3
  crates/eframe/Cargo.toml
Labels: eframe, dependencies, exclude from changelog

#5548 Add keys for `!`, `{`, `}`
  crates/egui/src/data/key.rs
Labels: feature, egui

#5626 Remove references to glium
  crates/eframe/CHANGELOG.md
  crates/eframe/src/native/file_storage.rs
  crates/egui_demo_lib/Cargo.toml
Labels: docs and examples, exclude from changelog

#5617 Use Python 3 in `scripts/lint.py`
  scripts/lint.py
Labels: exclude from changelog, dev-experience

#5632 Update cargo-deny-action to v2
  .github/workflows/rust.yml
Labels: CI, exclude from changelog

#5631 Web: Fix incorrect scale when moving to screen with new DPI
  crates/eframe/Cargo.toml
  crates/eframe/src/web/app_runner.rs
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/web_runner.rs
Labels: bug, web, eframe

#5633 Fix initial paint of web app
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/web_runner.rs
Labels: bug, web, eframe, exclude from changelog

#5505 Add `egui::Scene` for panning/zooming a `Ui`
  crates/egui/src/containers/mod.rs
  crates/egui/src/containers/scene.rs
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/text_selection/accesskit_text.rs
  crates/egui/src/text_selection/label_text_selection.rs
  crates/egui/src/text_selection/text_cursor_state.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/mod.rs
  crates/egui_demo_lib/src/demo/pan_zoom.rs
  crates/egui_demo_lib/src/demo/scene.rs
  crates/egui_demo_lib/tests/snapshots/demos/Scene.png
  crates/emath/src/ts_transform.rs
Labels: feature, egui

#5647 `RectShape`: add control over where the stoke goes
  crates/egui/src/containers/frame.rs
  crates/epaint/src/shape_transform.rs
  crates/epaint/src/shapes/rect_shape.rs
  crates/epaint/src/stroke.rs
  crates/epaint/src/tessellator.rs
Labels: feature, egui, epaint

#5648 Require a `StrokeKind` when painting rectangles with strokes
  crates/egui/src/containers/collapsing_header.rs
  crates/egui/src/containers/combo_box.rs
  crates/egui/src/containers/frame.rs
  crates/egui/src/containers/resize.rs
  crates/egui/src/context.rs
  crates/egui/src/grid.rs
  crates/egui/src/lib.rs
  crates/egui/src/painter.rs
  crates/egui/src/pass_state.rs
  crates/egui/src/placer.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/checkbox.rs
  crates/egui/src/widgets/color_picker.rs
  crates/egui/src/widgets/image_button.rs
  crates/egui/src/widgets/progress_bar.rs
  crates/egui/src/widgets/selected_label.rs
  crates/egui/src/widgets/slider.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_demo_app/src/frame_history.rs
  crates/egui_demo_app/tests/snapshots/imageviewer.png
  crates/egui_demo_lib/benches/benchmark.rs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
  crates/egui_demo_lib/src/demo/paint_bezier.rs
  crates/egui_demo_lib/src/demo/toggle_switch.rs
  crates/egui_demo_lib/src/rendering_test.rs
  crates/egui_demo_lib/tests/snapshots/demos/Frame.png
  crates/egui_demo_lib/tests/snapshots/demos/Painting.png
  crates/egui_demo_lib/tests/snapshots/demos/Scene.png
  crates/egui_demo_lib/tests/snapshots/widget_gallery.png
  crates/egui_kittest/tests/snapshots/combobox_opened.png
  crates/epaint/src/shapes/rect_shape.rs
  crates/epaint/src/shapes/shape.rs
  crates/epaint/src/tessellator.rs
  tests/test_viewports/src/main.rs
Labels: egui, epaint

#5649 egui_kittest: succeed and keep going when `UPDATE_SNAPSHOTS` is set
  crates/egui_kittest/README.md
  crates/egui_kittest/src/snapshot.rs
Labels: egui_kittest

#5655 eframe web: forward cmd-S/O to egui app (stop default browser action)
  crates/eframe/src/web/events.rs
Labels: web, eframe

#5657 Remove date button from Scene demo, so as not to fail tests each day
  crates/egui_demo_lib/src/demo/scene.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
  crates/egui_demo_lib/tests/snapshots/demos/Scene.png
Labels: exclude from changelog, tests, egui_kittest

#5656 Be smarter when rounding rectangles to the pixel grid
  crates/egui_demo_lib/tests/snapshots/demos/Scene.png
  crates/epaint/src/shapes/rect_shape.rs
  crates/epaint/src/tessellator.rs
Labels: epaint, exclude from changelog
