Repository emilk/egui, pull requests merged in 2025-06, with the labels that each got.

#7123 Add `Modifiers::matches_any`
  crates/egui/src/data/input.rs
Labels: feature, egui

#7122 Add `OperatingSystem::is_mac`
  crates/egui/src/os.rs
Labels: egui

#7124 Support vertical-only scrolling by holding down Alt
  crates/egui/src/data/input.rs
  crates/egui/src/input_state/mod.rs
  crates/egui/src/input_state/touch_state.rs
  crates/egui/src/lib.rs
Labels: feature, egui

#7125 Add `Context::format_modifiers`
  crates/egui/src/context.rs
Labels: feature, egui

#7116 Improve `ComboBox` doc example
  crates/egui/src/containers/combo_box.rs
Labels: docs and examples

#7118 lint: fix lints appearing in rust stable currently
  crates/eframe/src/native/file_storage.rs
  crates/egui-winit/src/lib.rs
  crates/egui/src/context.rs
  crates/egui/src/data/input.rs
  crates/egui/src/data/output.rs
  crates/egui/src/memory/mod.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_demo_lib/src/demo/screenshot.rs
  crates/egui_demo_lib/src/demo/tests/grid_test.rs
Labels: exclude from changelog, dev-experience

#7136 `Button` inherits the `alt_text` of the `Image` in it, if any
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/image.rs
Labels: accessibility, egui, tests

#7142 Report image alt text as text if widget contains no other text
  crates/egui/src/atomics/atoms.rs
  tests/egui_tests/tests/regression_tests.rs
Labels: bug, accessibility, egui

#7132 Make `Hsva` derive serde
  crates/ecolor/src/hsva.rs
Labels: feature, ecolor

#7130 Add anchored text rotation method, and clarify related docs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
  crates/egui_demo_lib/tests/snapshots/demos/Misc Demos.png
  crates/epaint/src/shapes/text_shape.rs
Labels: feature, epaint

#7081 Clamp text cursor positions in the same places where we used to
  crates/egui/src/text_selection/label_text_selection.rs
  crates/egui/src/text_selection/text_cursor_state.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: bug, egui, exclude from changelog

#7151 Change API of `Tooltip` slightly
  CONTRIBUTING.md
  crates/egui/src/containers/old_popup.rs
  crates/egui/src/containers/tooltip.rs
Labels: egui

#7145 Minor atoms improvements
  crates/egui/src/atomics/atoms.rs
Labels: feature, egui

#7138 Create custom `egui_kittest::Node`
  Cargo.lock
  crates/egui_demo_app/tests/snapshots/clock.png
  crates/egui_demo_app/tests/snapshots/custom3d.png
  crates/egui_demo_app/tests/snapshots/easymarkeditor.png
  crates/egui_demo_app/tests/snapshots/imageviewer.png
  crates/egui_demo_app/tests/test_demo_app.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/modals.rs
  crates/egui_demo_lib/src/demo/text_edit.rs
  crates/egui_demo_lib/src/rendering_test.rs
  crates/egui_kittest/README.md
  crates/egui_kittest/src/event.rs
  crates/egui_kittest/src/lib.rs
  crates/egui_kittest/src/node.rs
  crates/egui_kittest/tests/menu.rs
  crates/egui_kittest/tests/popup.rs
  crates/egui_kittest/tests/regression_tests.rs
  crates/egui_kittest/tests/snapshots/readme_example.png
  crates/egui_kittest/tests/tests.rs
  tests/egui_tests/tests/test_widgets.rs
Labels: feature, egui_kittest

#7137 Use the new Popup api for the color picker button
  crates/egui/src/widgets/color_picker.rs
Labels: feature, egui

#7103 Fix incorrect window sizes for non-resizable windows on Wayland
  crates/eframe/src/native/glow_integration.rs
  crates/egui-winit/src/lib.rs
Labels: bug, eframe, egui-winit

#7084 Support custom syntect settings in syntax highlighter
  crates/egui_extras/src/syntax_highlighting.rs
Labels: feature, egui_extras

#7270 eframe web: only cosume copy/cut events if the canvas has focus
  crates/eframe/src/web/events.rs
Labels: bug, web, eframe

#7276 Add `Context::current_pass_index`
  crates/egui/src/context.rs
Labels: egui

#7279 Update MSRV to 1.85
  .github/workflows/deploy_web_demo.yml
  .github/workflows/preview_build.yml
  .github/workflows/rust.yml
  Cargo.toml
  clippy.toml
  crates/egui/src/lib.rs
  crates/egui_demo_lib/src/demo/code_example.rs
  examples/confirm_exit/Cargo.toml
  examples/custom_3d_glow/Cargo.toml
  examples/custom_font/Cargo.toml
  examples/custom_font_style/Cargo.toml
  examples/custom_keypad/Cargo.toml
  examples/custom_style/Cargo.toml
  examples/custom_window_frame/Cargo.toml
  examples/external_eventloop/Cargo.toml
  examples/external_eventloop_async/Cargo.toml
  examples/file_dialog/Cargo.toml
  examples/hello_android/Cargo.toml
  examples/hello_world/Cargo.toml
  examples/hello_world_par/Cargo.toml
  examples/hello_world_simple/Cargo.toml
  examples/images/Cargo.toml
  examples/keyboard_events/Cargo.toml
  examples/multiple_viewports/Cargo.toml
  examples/puffin_profiler/Cargo.toml
  examples/screenshot/Cargo.toml
  examples/serial_windows/Cargo.toml
  examples/user_attention/Cargo.toml
  rust-toolchain
  scripts/check.sh
  scripts/clippy_wasm/clippy.toml
  tests/test_egui_extras_compilation/Cargo.toml
  tests/test_inline_glow_paint/Cargo.toml
  tests/test_size_pass/Cargo.toml
  tests/test_ui_stack/Cargo.toml
  tests/test_viewports/Cargo.toml
Labels: eframe, egui
