Repository emilk/egui, pull requests merged in 2025-02, with the labels that each got.

#5667 Fix typo in kittest docs
  crates/egui_kittest/src/snapshot.rs
Labels: typo

#5670 Add docs to `Frame::new`
  crates/egui/src/containers/frame.rs
Labels: docs and examples, exclude from changelog

#5663 Add `Color32::CYAN` and `Color32::MAGENTA`
  crates/ecolor/src/color32.rs
Labels: ecolor

#5673 ⚠️ Rename `Rounding` to `CornerRadius`
  crates/egui/src/containers/collapsing_header.rs
  crates/egui/src/containers/combo_box.rs
  crates/egui/src/containers/frame.rs
  crates/egui/src/containers/scroll_area.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/lib.rs
  crates/egui/src/menu.rs
  crates/egui/src/painter.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
  crates/egui/src/widgets/button.rs
  crates/egui/src/widgets/checkbox.rs
  crates/egui/src/widgets/color_picker.rs
  crates/egui/src/widgets/image.rs
  crates/egui/src/widgets/image_button.rs
  crates/egui/src/widgets/progress_bar.rs
  crates/egui/src/widgets/selected_label.rs
  crates/egui/src/widgets/slider.rs
  crates/egui/src/widgets/text_edit/builder.rs
  crates/egui_demo_app/src/frame_history.rs
  crates/egui_demo_app/src/wrap_app.rs
  crates/egui_demo_lib/src/demo/frame_demo.rs
  crates/egui_demo_lib/src/demo/misc_demo_window.rs
  crates/egui_demo_lib/src/demo/tests/tessellation_test.rs
  crates/egui_demo_lib/tests/snapshots/demos/Frame.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Blurred stroke.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Blurred.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Minimal rounding.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Normal.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Thick stroke, minimal rounding.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Thin filled.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Thin stroked.png
  crates/egui_extras/src/layout.rs
  crates/epaint/src/corner_radius.rs
  crates/epaint/src/corner_radius_f32.rs
  crates/epaint/src/lib.rs
  crates/epaint/src/shadow.rs
  crates/epaint/src/shape_transform.rs
  crates/epaint/src/shapes/rect_shape.rs
  crates/epaint/src/shapes/shape.rs
  crates/epaint/src/tessellator.rs
  examples/custom_window_frame/src/main.rs
  examples/images/src/main.rs
  tests/test_viewports/src/main.rs
Labels: egui, epaint

#5672 Add `SnapshotResults` struct to egui_kittest
  .github/workflows/rust.yml
  crates/egui/src/painter.rs
  crates/egui_demo_app/tests/test_demo_app.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/modals.rs
  crates/egui_demo_lib/src/demo/widget_gallery.rs
  crates/egui_demo_lib/src/rendering_test.rs
  crates/egui_kittest/src/snapshot.rs
  crates/egui_kittest/tests/regression_tests.rs
  crates/egui_kittest/tests/tests.rs
Labels: feature, egui_kittest

#5675 Fix sharp corners for rectangles with StrokeKind != Inside
  crates/egui_demo_lib/src/demo/tests/tessellation_test.rs
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.00.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.25.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.50.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.67.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.75.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_2.00.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Additive rectangle.png
  crates/epaint/src/tessellator.rs
Labels: bug, egui, exclude from changelog

#5676 Make the ends of vline/hline sharper
  crates/egui_demo_app/tests/snapshots/clock.png
  crates/egui_demo_app/tests/snapshots/easymarkeditor.png
  crates/egui_demo_lib/tests/snapshots/demos/Bézier Curve.png
  crates/egui_demo_lib/tests/snapshots/demos/Code Editor.png
  crates/egui_demo_lib/tests/snapshots/demos/Code Example.png
  crates/egui_demo_lib/tests/snapshots/demos/Context Menus.png
  crates/egui_demo_lib/tests/snapshots/demos/Dancing Strings.png
  crates/egui_demo_lib/tests/snapshots/demos/Drag and Drop.png
  crates/egui_demo_lib/tests/snapshots/demos/Extra Viewport.png
  crates/egui_demo_lib/tests/snapshots/demos/Font Book.png
  crates/egui_demo_lib/tests/snapshots/demos/Frame.png
  crates/egui_demo_lib/tests/snapshots/demos/Highlighting.png
  crates/egui_demo_lib/tests/snapshots/demos/Interactive Container.png
  crates/egui_demo_lib/tests/snapshots/demos/Misc Demos.png
  crates/egui_demo_lib/tests/snapshots/demos/Modals.png
  crates/egui_demo_lib/tests/snapshots/demos/Multi Touch.png
  crates/egui_demo_lib/tests/snapshots/demos/Painting.png
  crates/egui_demo_lib/tests/snapshots/demos/Panels.png
  crates/egui_demo_lib/tests/snapshots/demos/Scene.png
  crates/egui_demo_lib/tests/snapshots/demos/Screenshot.png
  crates/egui_demo_lib/tests/snapshots/demos/Scrolling.png
  crates/egui_demo_lib/tests/snapshots/demos/Sliders.png
  crates/egui_demo_lib/tests/snapshots/demos/Strip.png
  crates/egui_demo_lib/tests/snapshots/demos/Table.png
  crates/egui_demo_lib/tests/snapshots/demos/Text Layout.png
  crates/egui_demo_lib/tests/snapshots/demos/TextEdit.png
  crates/egui_demo_lib/tests/snapshots/demos/Tooltips.png
  crates/egui_demo_lib/tests/snapshots/demos/Undo Redo.png
  crates/egui_demo_lib/tests/snapshots/demos/Window Options.png
  crates/egui_demo_lib/tests/snapshots/modals_1.png
  crates/egui_demo_lib/tests/snapshots/modals_2.png
  crates/egui_demo_lib/tests/snapshots/modals_3.png
  crates/egui_demo_lib/tests/snapshots/modals_backdrop_should_prevent_focusing_lower_area.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.00.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.25.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.50.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.67.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_1.75.png
  crates/egui_demo_lib/tests/snapshots/rendering_test/dpi_2.00.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Additive rectangle.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Blurred stroke.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Blurred.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Minimal rounding.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Normal.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Thick stroke, minimal rounding.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Thin filled.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Thin stroked.png
  crates/egui_kittest/tests/snapshots/test_shrink.png
  crates/epaint/src/tessellator.rs
Labels: bug, epaint, exclude from changelog

#5678 Fix minor glitch in rendering of selected windows
  crates/egui/src/containers/window.rs
  crates/egui_demo_lib/tests/snapshots/demos/Bézier Curve.png
  crates/egui_demo_lib/tests/snapshots/demos/Code Editor.png
  crates/egui_demo_lib/tests/snapshots/demos/Code Example.png
  crates/egui_demo_lib/tests/snapshots/demos/Context Menus.png
  crates/egui_demo_lib/tests/snapshots/demos/Dancing Strings.png
  crates/egui_demo_lib/tests/snapshots/demos/Drag and Drop.png
  crates/egui_demo_lib/tests/snapshots/demos/Extra Viewport.png
  crates/egui_demo_lib/tests/snapshots/demos/Font Book.png
  crates/egui_demo_lib/tests/snapshots/demos/Frame.png
  crates/egui_demo_lib/tests/snapshots/demos/Highlighting.png
  crates/egui_demo_lib/tests/snapshots/demos/Interactive Container.png
  crates/egui_demo_lib/tests/snapshots/demos/Misc Demos.png
  crates/egui_demo_lib/tests/snapshots/demos/Modals.png
  crates/egui_demo_lib/tests/snapshots/demos/Multi Touch.png
  crates/egui_demo_lib/tests/snapshots/demos/Painting.png
  crates/egui_demo_lib/tests/snapshots/demos/Panels.png
  crates/egui_demo_lib/tests/snapshots/demos/Scene.png
  crates/egui_demo_lib/tests/snapshots/demos/Screenshot.png
  crates/egui_demo_lib/tests/snapshots/demos/Scrolling.png
  crates/egui_demo_lib/tests/snapshots/demos/Sliders.png
  crates/egui_demo_lib/tests/snapshots/demos/Strip.png
  crates/egui_demo_lib/tests/snapshots/demos/Table.png
  crates/egui_demo_lib/tests/snapshots/demos/Text Layout.png
  crates/egui_demo_lib/tests/snapshots/demos/TextEdit.png
  crates/egui_demo_lib/tests/snapshots/demos/Tooltips.png
  crates/egui_demo_lib/tests/snapshots/demos/Undo Redo.png
  crates/egui_demo_lib/tests/snapshots/demos/Window Options.png
  crates/egui_demo_lib/tests/snapshots/modals_1.png
  crates/egui_demo_lib/tests/snapshots/modals_2.png
  crates/egui_demo_lib/tests/snapshots/modals_3.png
  crates/egui_demo_lib/tests/snapshots/modals_backdrop_should_prevent_focusing_lower_area.png
Labels: visuals, egui, exclude from changelog

#5692 Fix panic when rendering thin textured rectangles
  crates/epaint/src/tessellator.rs
Labels: bug, egui, epaint, crash

#5693 Fix modifiers not working in kittest
  RELEASES.md
  crates/egui/src/data/input.rs
  crates/egui_kittest/src/event.rs
  crates/egui_kittest/src/lib.rs
  crates/egui_kittest/tests/tests.rs
Labels: bug, egui_kittest

#5711 Enable all features for egui_kittest docs
  crates/egui_kittest/Cargo.toml
Labels: docs and examples, egui_kittest

#5704 Run a frame per queued event in egui_kittest
  crates/egui_kittest/src/event.rs
  crates/egui_kittest/src/lib.rs
  crates/egui_kittest/tests/tests.rs
Labels: bug, egui_kittest

#5714 Add guidelines for image comparison tests
  crates/egui_kittest/README.md
Labels: docs and examples, egui_kittest

#5724 Set hint_text in WidgetInfo
  crates/egui/src/data/output.rs
  crates/egui/src/response.rs
  crates/egui/src/widgets/text_edit/builder.rs
Labels: accessibility, egui

#5713 Add `Popup` and `Tooltip`, unifying the previous behaviours
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/combo_box.rs
  crates/egui/src/containers/mod.rs
  crates/egui/src/containers/old_popup.rs
  crates/egui/src/containers/popup.rs
  crates/egui/src/containers/tooltip.rs
  crates/egui/src/lib.rs
  crates/egui/src/memory/mod.rs
  crates/egui/src/response.rs
  crates/egui_demo_lib/src/demo/context_menu.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/mod.rs
  crates/egui_demo_lib/src/demo/popups.rs
  crates/egui_demo_lib/src/demo/tooltips.rs
  crates/egui_demo_lib/tests/snapshots/demos/Context Menus.png
  crates/egui_demo_lib/tests/snapshots/demos/Popups.png
  crates/egui_demo_lib/tests/snapshots/demos/Tooltips.png
  crates/egui_kittest/tests/popup.rs
  crates/emath/src/align.rs
  crates/emath/src/lib.rs
  crates/emath/src/rect_align.rs
  examples/popups/src/main.rs
Labels: feature, egui

#5688 Fix image_loader for animated image types
  crates/egui_extras/src/loaders/image_loader.rs
Labels: bug, egui_extras

#5710 add Label::show_tooltip_when_elided
  crates/egui/src/widgets/label.rs
Labels: feature, egui

#5627 Add pointer events and focus handling for apps run in a Shadow DOM
  crates/eframe/Cargo.toml
  crates/eframe/src/web/events.rs
  crates/eframe/src/web/mod.rs
  crates/eframe/src/web/text_agent.rs
  crates/eframe/src/web/web_runner.rs
Labels: web, eframe

#5702 Implement `Default` for `ThemePreference`
  crates/egui/src/memory/mod.rs
  crates/egui/src/memory/theme.rs
Labels: egui

#5701 Align `available_rect` docs with the new reality after #4590
  crates/egui/src/context.rs
  crates/egui/src/pass_state.rs
Labels: docs and examples, egui

#5681 Fix typo in docstring for `Column::auto_size_this_frame`
  crates/egui_extras/src/table.rs
Labels: typo

#5729 Add `Ui::close` and `Response::should_close`
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/close_tag.rs
  crates/egui/src/containers/collapsing_header.rs
  crates/egui/src/containers/mod.rs
  crates/egui/src/containers/modal.rs
  crates/egui/src/containers/popup.rs
  crates/egui/src/containers/window.rs
  crates/egui/src/gui_zoom.rs
  crates/egui/src/menu.rs
  crates/egui/src/response.rs
  crates/egui/src/ui.rs
  crates/egui/src/ui_builder.rs
  crates/egui/src/ui_stack.rs
  crates/egui_demo_app/src/backend_panel.rs
  crates/egui_demo_app/src/wrap_app.rs
  crates/egui_demo_lib/src/demo/context_menu.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/modals.rs
  crates/egui_demo_lib/src/demo/popups.rs
  crates/egui_demo_lib/src/demo/window_options.rs
  crates/egui_demo_lib/tests/snapshots/demos/Window Options.png
Labels: feature, egui

#5743 Mark all keys as up if the app loses focus
  crates/egui/src/input_state/mod.rs
Labels: bug, eframe, egui-winit, egui

#5745 Fix Cargo-Machete Workflow
  .github/workflows/cargo_machete.yml
Labels: CI, exclude from changelog

#5748 Use enum-map serde feature only when serde is enabled
  crates/egui_extras/Cargo.toml
Labels: dependencies, egui_extras
