Repository emilk/egui, pull requests merged in 2025-05, with the labels that each got.

#6905 Fix links and text selection in horizontal_wrapped layout
  crates/egui/src/text_selection/accesskit_text.rs
  crates/egui/src/widgets/label.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: bug, egui

#7029 Use mimalloc for benchmarks
  Cargo.lock
  Cargo.toml
  crates/egui/src/lib.rs
  crates/egui_demo_app/Cargo.toml
  crates/egui_demo_app/src/main.rs
  crates/egui_demo_lib/Cargo.toml
  crates/egui_demo_lib/benches/benchmark.rs
  crates/epaint/Cargo.toml
  crates/epaint/benches/benchmark.rs
Labels: performance, exclude from changelog, dev-experience

#7034 Rename `master` branch to `main`
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  .github/workflows/deploy_web_demo.yml
  .github/workflows/png_only_on_lfs.yml
  CHANGELOG.md
  README.md
  RELEASES.md
  crates/eframe/Cargo.toml
  crates/eframe/README.md
  crates/eframe/src/epi.rs
  crates/eframe/src/lib.rs
  crates/egui-wgpu/Cargo.toml
  crates/egui-wgpu/src/renderer.rs
  crates/egui-winit/Cargo.toml
  crates/egui/examples/README.md
  crates/egui/src/context.rs
  crates/egui/src/drag_and_drop.rs
  crates/egui/src/lib.rs
  crates/egui/src/viewport.rs
  crates/egui_demo_app/README.md
  crates/egui_demo_app/src/apps/http_app.rs
  crates/egui_demo_app/src/backend_panel.rs
  crates/egui_demo_lib/Cargo.toml
  crates/egui_demo_lib/src/demo/password.rs
  crates/egui_demo_lib/src/demo/toggle_switch.rs
  crates/egui_demo_lib/src/easy_mark/easy_mark_editor.rs
  crates/egui_demo_lib/src/lib.rs
  crates/egui_glow/Cargo.toml
  crates/egui_glow/README.md
  crates/egui_glow/src/painter.rs
  crates/egui_kittest/src/snapshot.rs
  crates/egui_web/README.md
  crates/emath/Cargo.toml
  crates/epaint/Cargo.toml
  crates/epaint_default_fonts/Cargo.toml
  examples/README.md
  web_demo/README.md
Labels: exclude from changelog, dev-experience

#7035 Add `lycheee.toml` to ignore 429
  lychee.toml
Labels: CI, exclude from changelog

#7036 Fix some links that were accidentally broken
  README.md
Labels: typo, exclude from changelog

#6744 Update to wgpu 25
  Cargo.lock
  Cargo.toml
  crates/egui-wgpu/src/lib.rs
  crates/egui-wgpu/src/setup.rs
  crates/egui_kittest/Cargo.toml
  crates/egui_kittest/src/texture_to_image.rs
  crates/egui_kittest/src/wgpu.rs
Labels: egui-wgpu

#7044 Make the default spinner more high-res
  crates/egui/src/widgets/spinner.rs
Labels: visuals, egui, exclude from changelog

#7055 Fix typo in deprecation message for `ComboBox::from_id_source`
  crates/egui/src/containers/combo_box.rs
Labels: docs and examples, egui

#7050 Fix `visual_bounding_rect` for rotated text
  crates/epaint/src/shapes/text_shape.rs
Labels: bug, epaint

#7040 Bump accesskit to 0.19
  Cargo.lock
  Cargo.toml
  deny.toml
Labels: accessibility, dependencies, egui

#7067 Update `emoji-icon-font` with fix for fullwidth latin characters
  crates/egui_demo_lib/tests/snapshots/demos/Font Book.png
  crates/epaint/src/text/font.rs
  crates/epaint_default_fonts/emoji-icon-font.ttf
Labels: egui, epaint

#7069 Fix incorrect color fringe colors on SVG:s
  crates/egui_demo_lib/Cargo.toml
  crates/egui_demo_lib/data/peace.svg
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/tests/mod.rs
  crates/egui_demo_lib/src/demo/tests/svg_test.rs
  crates/egui_extras/src/image.rs
Labels: bug, visuals, egui_extras

#7070 Include test windows in `egui_demo_lib` snapshot tests
  Cargo.lock
  crates/egui_demo_lib/Cargo.toml
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/tests/snapshots/demos/Clipboard Test.png
  crates/egui_demo_lib/tests/snapshots/demos/Cursor Test.png
  crates/egui_demo_lib/tests/snapshots/demos/Grid Test.png
  crates/egui_demo_lib/tests/snapshots/demos/ID Test.png
  crates/egui_demo_lib/tests/snapshots/demos/Input Event History.png
  crates/egui_demo_lib/tests/snapshots/demos/Input Test.png
  crates/egui_demo_lib/tests/snapshots/demos/Layout Test.png
  crates/egui_demo_lib/tests/snapshots/demos/Manual Layout Test.png
  crates/egui_demo_lib/tests/snapshots/demos/SVG Test.png
  crates/egui_demo_lib/tests/snapshots/demos/Scene.png
  crates/egui_demo_lib/tests/snapshots/demos/Tessellation Test.png
  crates/egui_demo_lib/tests/snapshots/demos/Window Resize Test.png
  crates/egui_extras/Cargo.toml
Labels: docs and examples, exclude from changelog, tests

#7072 Bug fix: make sure `end_pass` is called for all loaders
  crates/egui/src/context.rs
  crates/egui/src/load.rs
  crates/egui/src/load/texture_loader.rs
Labels: bug, egui

#7078 Make `Image::paint_at` pixel-perfect crisp for SVG images
  crates/egui/src/context.rs
  crates/egui/src/load.rs
  crates/egui/src/widgets/image.rs
Labels: visuals, egui

#7079 Better define the meaning of `SizeHint`
  crates/egui/src/load.rs
  crates/egui/src/widgets/image.rs
  crates/egui_extras/src/image.rs
Labels: visuals, egui, egui_extras

#7093 Add `Response::clicked_with_open_in_background`
  crates/egui/src/response.rs
  crates/egui/src/widgets/hyperlink.rs
Labels: egui

#7098 Track original SVG size
  crates/egui-wgpu/src/capture.rs
  crates/egui/src/load.rs
  crates/egui/src/load/texture_loader.rs
  crates/egui/src/widgets/image.rs
  crates/egui/src/widgets/image_button.rs
  crates/egui_demo_lib/src/demo/tests/svg_test.rs
  crates/egui_demo_lib/src/rendering_test.rs
  crates/egui_demo_lib/tests/snapshots/demos/SVG Test.png
  crates/egui_extras/src/image.rs
  crates/egui_extras/src/loaders/svg_loader.rs
  crates/egui_glow/src/painter.rs
  crates/epaint/src/image.rs
Labels: bug, egui_extras, exclude from changelog
