Repository emilk/egui, pull requests merged in 2025-07, with the labels that each got.

#7282 Change `ui.disable()` to modify opacity
  crates/egui/src/painter.rs
  crates/egui/src/style.rs
  crates/egui/src/ui.rs
  crates/egui_demo_app/tests/snapshots/easymarkeditor.png
  crates/egui_demo_lib/tests/snapshots/demos/Frame.png
  crates/egui_demo_lib/tests/snapshots/demos/Grid Test.png
  crates/egui_demo_lib/tests/snapshots/demos/Manual Layout Test.png
  crates/egui_demo_lib/tests/snapshots/demos/Sliders.png
  crates/egui_demo_lib/tests/snapshots/demos/Tessellation Test.png
  crates/egui_demo_lib/tests/snapshots/demos/Undo Redo.png
  crates/egui_demo_lib/tests/snapshots/demos/Window Options.png
  crates/egui_demo_lib/tests/snapshots/tessellation_test/Normal.png
  tests/egui_tests/tests/snapshots/visuals/button.png
  tests/egui_tests/tests/snapshots/visuals/button_image.png
  tests/egui_tests/tests/snapshots/visuals/button_image_shortcut.png
  tests/egui_tests/tests/snapshots/visuals/button_image_shortcut_selected.png
  tests/egui_tests/tests/snapshots/visuals/checkbox_checked.png
  tests/egui_tests/tests/snapshots/visuals/drag_value.png
  tests/egui_tests/tests/snapshots/visuals/radio_checked.png
  tests/egui_tests/tests/snapshots/visuals/selectable_value_selected.png
  tests/egui_tests/tests/snapshots/visuals/slider.png
  tests/egui_tests/tests/snapshots/visuals/text_edit.png
Labels: visuals, egui, style

#7283 Add `Visuals::text_edit_bg_color`
  crates/egui/src/style.rs
  crates/egui/src/widgets/text_edit/builder.rs
Labels: visuals, egui, style

#7285 Add `Visuals::weak_text_alpha` and `weak_text_color`
  crates/egui/src/style.rs
  crates/egui_demo_app/tests/snapshots/easymarkeditor.png
  crates/egui_demo_lib/tests/snapshots/demos/Input Test.png
  crates/egui_demo_lib/tests/snapshots/demos/Panels.png
  crates/egui_demo_lib/tests/snapshots/demos/Scene.png
  crates/egui_demo_lib/tests/snapshots/demos/Scrolling.png
  crates/egui_demo_lib/tests/snapshots/widget_gallery.png
  tests/egui_tests/tests/snapshots/layout/button_image_shortcut.png
  tests/egui_tests/tests/snapshots/visuals/button_image_shortcut.png
  tests/egui_tests/tests/snapshots/visuals/button_image_shortcut_selected.png
Labels: visuals, egui, style

#7289 `egui_kittest`: Add `HarnessBuilder::theme`
  crates/egui_kittest/src/builder.rs
  crates/egui_kittest/src/lib.rs
Labels: egui_kittest

#7290 Improve text rendering in light mode
  crates/egui-wgpu/src/renderer.rs
  crates/egui/src/context.rs
  crates/egui/src/memory/mod.rs
  crates/egui/src/style.rs
  crates/egui_demo_lib/tests/snapshots/widget_gallery_light_x1.png
  crates/egui_demo_lib/tests/snapshots/widget_gallery_light_x2.png
  crates/egui_glow/src/painter.rs
  crates/epaint/src/image.rs
  crates/epaint/src/lib.rs
Labels: visuals, egui, style

#7291 Free textures after submitting queue instead of before with wgpu renderer on Web
  crates/eframe/src/web/web_painter_wgpu.rs
Labels: web, egui-wgpu

#7114 Update area struct to allow force resizing
  crates/egui/src/containers/area.rs
Labels: feature, egui

#7296 Fix crash when using infinite widgets
  crates/egui/src/hit_test.rs
Labels: bug, egui

#7295 Add `egui::Sides` `shrink_left` / `shrink_right`
  crates/egui/src/containers/sides.rs
  tests/egui_tests/tests/snapshots/sides/default_long.png
  tests/egui_tests/tests/snapshots/sides/default_long_fit_contents.png
  tests/egui_tests/tests/snapshots/sides/default_short.png
  tests/egui_tests/tests/snapshots/sides/default_short_fit_contents.png
  tests/egui_tests/tests/snapshots/sides/shrink_left_long.png
  tests/egui_tests/tests/snapshots/sides/shrink_left_long_fit_contents.png
  tests/egui_tests/tests/snapshots/sides/shrink_left_short.png
  tests/egui_tests/tests/snapshots/sides/shrink_left_short_fit_contents.png
  tests/egui_tests/tests/snapshots/sides/shrink_right_long.png
  tests/egui_tests/tests/snapshots/sides/shrink_right_long_fit_contents.png
  tests/egui_tests/tests/snapshots/sides/shrink_right_short.png
  tests/egui_tests/tests/snapshots/sides/shrink_right_short_fit_contents.png
  tests/egui_tests/tests/snapshots/sides/wrap_left_long.png
  tests/egui_tests/tests/snapshots/sides/wrap_left_long_fit_contents.png
  tests/egui_tests/tests/snapshots/sides/wrap_left_short.png
  tests/egui_tests/tests/snapshots/sides/wrap_left_short_fit_contents.png
  tests/egui_tests/tests/snapshots/sides/wrap_right_long.png
  tests/egui_tests/tests/snapshots/sides/wrap_right_long_fit_contents.png
  tests/egui_tests/tests/snapshots/sides/wrap_right_short.png
  tests/egui_tests/tests/snapshots/sides/wrap_right_short_fit_contents.png
  tests/egui_tests/tests/test_sides.rs
Labels: feature, egui, rerun

#7305 Change `Rect::area` to return zero for negative rectangles
  crates/emath/src/rect.rs
Labels: bug, egui, emath

#7307 egui_kittest: more ergonomic functions taking `Impl Into<String>`
  crates/egui_demo_app/tests/test_demo_app.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_demo_lib/src/demo/tests/tessellation_test.rs
  crates/egui_demo_lib/src/rendering_test.rs
  crates/egui_kittest/src/snapshot.rs
  tests/egui_tests/tests/test_sides.rs
  tests/egui_tests/tests/test_widgets.rs
Labels: egui_kittest

#7309 Add snapshot test for image blending
  crates/egui_demo_lib/data/ring.png
  crates/egui_demo_lib/tests/image_blending.rs
  crates/egui_demo_lib/tests/snapshots/image_blending/image_x1.png
  crates/egui_demo_lib/tests/snapshots/image_blending/image_x2.png
Labels: visuals, exclude from changelog, tests

#7315 Add `Popup::from_toggle_button_response`
  crates/egui/src/containers/popup.rs
Labels: feature, egui

#7316 Exclude `\n` when splitting `Galley`s
  crates/egui/src/atomics/atom_kind.rs
  crates/epaint/src/text/fonts.rs
  crates/epaint/src/text/text_layout.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: epaint

#7319 Implement `BitOr` and `BitOrAssign` for `Rect`
  crates/egui/src/containers/area.rs
  crates/egui/src/containers/sides.rs
  crates/egui/src/containers/tooltip.rs
  crates/egui/src/context.rs
  crates/egui/src/debug_text.rs
  crates/egui/src/layout.rs
  crates/egui/src/pass_state.rs
  crates/egui/src/placer.rs
  crates/egui/src/text_selection/label_text_selection.rs
  crates/egui/src/widgets/label.rs
  crates/egui_demo_lib/src/demo/scrolling.rs
  crates/egui_extras/src/layout.rs
  crates/emath/src/rect.rs
  crates/epaint/src/shapes/shape.rs
  crates/epaint/src/text/text_layout.rs
  crates/epaint/src/text/text_layout_types.rs
Labels: egui, emath

#7320 Fix wrong galley split behavior when text ends with new line
  crates/epaint/src/text/fonts.rs
Labels: bug, exclude from changelog

#7322 Improve release checklist
  RELEASES.md
  scripts/generate_changelog.py
  scripts/publish_crates.sh
Labels: exclude from changelog, dev-experience

#7327 Rename `egui::containers::menu::Bar` to `egui::MenuBar`
  crates/egui/src/containers/menu.rs
  crates/egui/src/lib.rs
  crates/egui/src/menu.rs
  crates/egui_demo_lib/src/demo/demo_app_windows.rs
  crates/egui_kittest/tests/menu.rs
Labels: egui, exclude from changelog

#7328 Set intrinsic size for Label
  crates/egui/src/response.rs
  crates/egui/src/widgets/label.rs
  tests/egui_tests/tests/test_atoms.rs
Labels: feature, egui

#7332 Update kittest to 0.2
  Cargo.lock
  Cargo.toml
Labels: dependencies, egui_kittest
